<style>
        #showOnAddClickPrdtSum {
            display: none;
        }
        .image_color_structure_slider_web{
            min-height: 200px;
            width: 100%;
            background: white;
            overflow: hidden;
        }
       
        .image_color_structure_slider_mob{
            min-height: 200px;
            width: 100%;
            background: white;
            overflow: hidden;
        }
       
        .image_color_upload_structure_slider{
            width: 100px;
            height: 100px;
            /* border: 1px solid grey; */
            float: left;
            margin: 7% 3%;
        }
        .image_color_upload_structure_slider_mob{
            width: 100px;
            height: 100px;
            /* border: 1px solid grey; */
            float: left;
            margin: 7% 3%;
        }
        .uploadIcon{
            /* position: relative;
            top: 37%;
            left: 40%; */
        }
    </style>
    <section class="wrapper main-wrapper" style=''>
    
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="box">
    
                <header class="panel_header">
                    <h2 class="title pull-left">Dashboard Management</h2>
                    <div class="actions panel_actions pull-right">
                        <button type="button" class="btn btn-success" id="add_new_PrdtSum_to_slider">Set Color Sliders</button>
                    </div>
                </header>
    
            </section>
            <section class="box" id="showOnAddClickPrdtSum">
                <header class="panel_header">
                    <h2 class="title pull-left">Color Sliders</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                               <div class="form-group">
                                    <label class="form-label" for="colorStructureName">Slider Name</label>
                                    <div class="controls">
                                        <input type="text" autocomplete="off" class="form-control" id="colorStructureName" />
                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="colorStructureLink">Link URL</label>
                                    <div class="controls">
                                        <input type="text" autocomplete="off" class="form-control" id="colorStructureLink" />
                                       
                                    </div>
                                </div>
                                 <div class="form-group">
                                        <label class="form-label" for="colorStructureActivationDate">Activation Date</label>
                                        <div class="controls">
                                            <input autocomplete="off" type="text" class="form-control datepicker" id="colorStructureActivationDate" data-format="yyyy-mm-dd"/>
                                           
                                        </div>
                                </div>
                                <div class="form-group">
                                        <label class="form-label" for="colorStructureExpiryDate">Expiry Date</label>
                                        <div class="controls">
                                            <input autocomplete="off" type="text" class="form-control datepicker" id="colorStructureExpiryDate" data-format="yyyy-mm-dd"/>
                                           
                                        </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="colorStructureAnimate">Animation Names</label>
                                    <div class="controls">
                                        <input autocomplete="off" type="text" class="form-control" id="colorStructureAnimate" />
                                    </div>
                                </div>
                                
                        </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                  
                                            <label class="form-label" for="colorStructure">Select Position</label>
                                            
                                        
                                <group class="inline-radio" style="width: 66%;margin: 0% 0%;">
                                    <div><input  type="radio" name="colorStructure" value="TOP" checked><label>TOP</label></div>
                                    <div><input  type="radio" name="colorStructure" value="FRANCHISE-BOTTOM"><label>FRANCHISE-BOTTOM</label></div>
                                   
                                </group> 
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
                                <label for="">Color Slider Image Web</label>
                                <input type="file" class="form-control" id="trigger_color_structure_slider_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                                <div class="image_color_structure_slider_web">
                                    <div class="image_color_upload_structure_slider imageColorStructureSlider" id="imageColorStructureSliderX1" >
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                    </div>
                                </div>
                               
    
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
                                    <label for="">Color Slider Image Mobile</label>
                                    <!-- <input type="file" class="form-control" id="trigger_slider_structure_slider_image_upload_mob" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                    name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%"> -->
                                    <div class="image_color_structure_slider_mob">
                                        <div class="image_color_upload_structure_slider imageStructureSlider_mob" id="imageStructureSlider_mobX1">
                                            <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                        </div>
                                    </div>
                                   
        
                                </div>
                            <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
                                    <label for="">Background Slider Image Web</label>
                                   
                                    <div class="image_prdt_sum_background_div">
                                        <div class="image_upload_slider_prdt_summary imagePrdtSumbackground" id="imagePrdtSumbackground">
                                            <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                        </div>
                                    </div>
                                    
        
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    
                                    <label for="">Background Slider Image Mobile</label>
                                   
                                    <div class="image_prdt_sum_background_div_mob">
                                        <div class="image_upload_slider_prdt_summary_mob imagePrdtSumbackground_mob" id="imagePrdtSumbackground_mob">
                                            <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                        </div>
                                    </div>
                                    
        
                            </div> -->
                                <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12">
                                        <div class="text-right" style="margin-top: 5px;">
                                                <button type="button" class="btn btn-success" id="uploadColorStructureSlider">Upload</button>
                                        </div>
                                   
                                </div>
                                
                    </div>
    
    
                </div>
            </section>
            <section class="box">
                <header class="panel_header">
                    <h2 class="title pull-left">Dashboard Preview</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 carousel-wrap" >
    
                            <div class="partner-slides owl-carousel owl-theme" id="appendBadgeSlider">
                                <div class="single-partner-item">
                                    <a href="#"><img src="data/blo-media/media-1.jpg" alt="image"></a>
                                </div>
            
                                <div class="single-partner-item">
                                    <a href="#"><img src="data/blo-media/media-2.jpg" alt="image"></a>
                                </div>
            
                                <div class="single-partner-item">
                                    <a href="#"><img src="data/blo-media/media-3.jpg" alt="image"></a>
                                </div>
            
                                <div class="single-partner-item">
                                    <a href="#"><img src="data/blo-media/media-4.jpg" alt="image"></a>
                                </div>
            
                                <div class="single-partner-item">
                                    <a href="#"><img src="data/blo-media/media-5.jpg" alt="image"></a>
                                </div>
            
                                <div class="single-partner-item">
                                    <a href="#"><img src="data/blo-media/media-6.jpg" alt="image"></a>
                                </div>
                            </div>
                           
    
    
    
                        </div>
                        
                    </div>
                </div>
            </section>
            <div id="appendColor">
                <section class="box" >
                    <header>
                        <h2 class="title pull-left">Dashboard Preview</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle fa fa-chevron-down"></i>
                            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                            <i class="box_close fa fa-times"></i>
                        </div>
                    </header>
                    <div class="content-body">
                        <div class="row">
                            <div class="col-md-12">
    
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    
    
    </section>
    <script src="assets/js/new.js" type="text/javascript"></script>
    <script>
    $("#add_new_PrdtSum_to_slider").click(function () {
        $("#showOnAddClickPrdtSum").show(1000);
    });
    
    $('#appendBadgeSlider').owlCarousel({
                loop: false,
                nav: true,
                dots: true,
                autoplayHoverPause: true,
                autoplay: true,
                mouseDrag: true,
                margin: 30,
                navText: [
                    "<i class='flaticon-arrow-pointing-to-left'></i>",
                    "<i class='flaticon-arrow-pointing-to-right'></i>"
                ],
                responsive: {
                    0: {
                        items: 2,
                    },
                    576: {
                        items: 3,
                    },
                    768: {
                        items: 4,
                    },
                }
            });
    
            $.ajax({
            url:"https://patashalafinder.in/amrutha/get_color_slider",
            type:"POST",
            dataType:"JSON",
            data:{
    
                admin_uuid:localStorage.getItem('admin_uuid'),
    
            },
            success:function (result) {
              
                let sliderObj = result.data;
                console.log(result.data);
              
       
            },
            error:function (err) {
                // $("#imagePosNo").val('0');
                console.log(err.responseText);
            }
        });
    </script>