<style>
    .approve {
        background: #3bbd3b;
        color: white;
    }

    .reject {
        background: #dc4040;
        color: white;
    }
    .btnMar{
        margin: 1% 2%;
    }
    .tr_btn {
        margin: 0% 1%;
        padding: 5px;
        position: relative;
        top: 15px;
        border-radius: 7px;
        cursor: pointer;
    }

    .editListingLinkPrdt {
        font-size: 11px;
        color: #119a5f;
        cursor: pointer;
    }

    .borderedDiv {
        height: 40px;
        width: 150px;
        float: left;
        border: .02px solid #9de29d;
    }

    .topHeading {
        padding-left: 10px;
        margin-top: 7px;
    }

    .bottomHeading {
        padding-left: 10px;
        margin-top: -7px;
    }

    .tableDivFloat {
        position: absolute;
        z-index: 500;
        width: 77.7%;
        top: 27px;
        left: 21.2%;
        display: none;
    }

    #closeTableDiv {
        cursor: pointer;
        border: 1px solid #9de29d;
        padding-right: 15px;
        margin-left: 15px;
    }
    .boxAttach{
        /* border: 1px solid grey; */
       cursor: pointer; 
        
    } 
    .leftBox{
        width:65px;
        height:55px;
      
        float: left;
       
        }
    .rightBox{
        width:160px;
        height:55px;
        border-radius: 0px 5px 5px 0px;
        background: #e4e5e8;
        float: left;
        padding: 5px;
        color: black;
    }
    .rightBox span{
        margin: 0px 10px;
        font-size: 13px;
    }
    .attachDoc{
        vertical-align: middle;
        display: inline-block;
        border-radius: 5px;
    }
    .viewDownload{
        font-size: 10px;
        margin-top: -7px;
        display: none;
        transition: all .3s ease-in-out;
       
    }
    .viewDownload a{
        color: grey;
    }
    .viewDownloadAnimate{
        margin-top: -7px;
        transition: all .3s ease-in-out;
        
    }
    .docNameSize{
        transition: all .3s ease-in-out;
    }
    .docNameSizeMoveUp{
        margin-top: -5px;
        transition: all .3s ease-in-out;
    }
    .popover{
        z-index: 11550;
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Listings</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#">Listings</a>
                    </li>
                    <li class="active">
                        <strong>Approve Listings</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Listing Table</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body" style="min-height: 700px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendTable">


                    </div>
                </div>
            </div>
        </section>
       
    </div>



</section>
<script type="text/javascript">
    $.ajax({
        url: "https://patashalafinder.in/amrutha/get_product",
        type: "POST",
        data: {
            admin_uuid: localStorage.getItem('admin_uuid'),
        },
        success: function (result) {
            
            $("#appendTable").empty()
            $("#appendTable").append(`
                        <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0" width="100%">
                            <thead style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Product Details</th>
                                            <th>Image</th>
                                            <th>Listing Price</th>
                                            <th>Usual Price</th>
                                            <th>Final Price</th>
                                            <th>Stock</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Added Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                       
                                    </thead>
        
                                    <tfoot style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Product Details</th>
                                            <th>Image</th>
                                            <th>Listing Price</th>
                                            <th>Usual Price</th>
                                            <th>Final Price</th>
                                            <th>Stock</th>
                                            <th>Category</th>
                                            <th>Status</th>
                                            <th>Added Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <section class="box tableDivFloat">
            <header class="panel_header">
                <h2 class="title pull-left" id="closeTableDiv">Go Back</h2>

                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                        <div class="mySection">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-3 ">
                                    <h5 class="mySectionHeading" id="sectionHeading">PRODUCT INFORMATION</h5>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label for="prdt_name" class="col-sm-3 col-form-label">Product Name</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Name Of Product"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="Product Name" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control validAlphaNumeric" id="prdt_name" value=""
                                        disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="prdt_brand" class="col-sm-3 col-form-label ">Product Brand</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right"
                                            data-content="Name of the brand" data-title="Pulse effect popover"
                                            data-trigger="hover" data-html="true" data-original-title="Product Brand"
                                            title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="prdt_brand" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="category" class="col-sm-3 col-form-label">Category</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right"
                                            data-content="Category Of product" data-title="Pulse effect popover"
                                            data-trigger="hover" data-html="true" data-original-title="Category"
                                            title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                   
                                    <input type="text" class="form-control" id="category" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="subCat" class="col-sm-3 col-form-label">Sub Category</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Sub Category"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="Sub Category" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    
                                    <input type="text" class="form-control " id="subCat" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="food_preference" class="col-sm-3 col-form-label ">Food Preference</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Food Preference"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="Food Preference" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                   
                                    <input type="text" class="form-control validNumeric" id="food_preference" value=""
                                        disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="mrp" class="col-sm-3 col-form-label ">MRP</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right"
                                            data-content="Maximum Retail Price of the product"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="MRP" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <span class="myUnit"><i class="fa fa-inr"></i></span>
                                    <input type="text" class="form-control validNumeric" id="mrp" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="sp" class="col-sm-3 col-form-label ">Selling Price</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Selling Price"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="SP" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <span class="myUnit"><i class="fa fa-inr"></i></span>
                                    <input type="text" class="form-control validNumeric" id="sp" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="weight" class="col-sm-3 col-form-label ">Weight</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Weight"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="Weight" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    
                                    <input type="text" class="form-control validNumeric" id="weight" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="hsn" class="col-sm-3 col-form-label ">HSN</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="HSN"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="HSN" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    
                                    <input type="text" class="form-control validNumeric" id="hsn" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="gst" class="col-sm-3 col-form-label">GST</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="GST"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="GST" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <span class="myUnit"><i class="fa fa-percent"></i></span>
                                    <input type="text" class="form-control validNumeric" id="gst" value="" disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="amount_ex_gst" class="col-sm-3 col-form-label ">Amount Without GST</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right"
                                            data-content="Amount Without GST" data-title="Pulse effect popover"
                                            data-trigger="hover" data-html="true" data-original-title="Amt Without GST"
                                            title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <span class="myUnit"><i class="fa fa-inr"></i></span>
                                    <input type="text" class="form-control validNumeric" id="amount_ex_gst" value=""
                                        disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vendor_name" class="col-sm-3 col-form-label ">Vendor Name</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Vendor Name"
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="Vendor Name" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control validNumeric" id="vendor_name" value=""
                                        disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="vendor_email" class="col-sm-3 col-form-label ">Vendor Email</label>
                                <div class="col-md-1">
                                    <div class="popText">
                                        <div rel="popover" data-animate=" animated pulse " data-container="body"
                                            data-toggle="popover" data-placement="right" data-content="Vendor Email."
                                            data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                            data-original-title="Vendor Email" title="">
                                            <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control validNumeric" id="vendor_email" value=""
                                        disabled>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="prdt_image_web_aprv" class="col-sm-4 col-form-label">
                                        Web Image.</label>
                               
                                <div class="col-sm-8">
                                    <div class="boxAttach leftBox" >
                                        <img src="data/cropped.jpg" id="prdt_image_web_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                    </div>
                                    <div class="boxAttach rightBox">
                                        <div class="docNameSize">
                                            <span>Document.png</span>
                                        </div>
                                        <div class="docNameSize">
                                            <span>20kb</span>
                                        </div>
                                        <div class="viewDownload">
                                            <span><a href="#" class="externalLink" id="prdt_image_web_aprv_view" target="_blank">View</a></span>
                                            <span class="pull-right"><a href="#">Download</a></span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group row">
                                <label for="prdt_image_mob_aprv" class="col-sm-4 col-form-label">
                                        Mobile Image.</label>
                               
                                <div class="col-sm-8">
                                    <div class="boxAttach leftBox" >
                                        <img src="data/cropped.jpg" id="prdt_image_mob_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                    </div>
                                    <div class="boxAttach rightBox">
                                        <div class="docNameSize">
                                            <span>Document.png</span>
                                        </div>
                                        <div class="docNameSize">
                                            <span>20kb</span>
                                        </div>
                                        <div class="viewDownload">
                                            <span><a href="#" class="externalLink" id="prdt_image_mob_aprv_view" target="_blank">View</a></span>
                                            <span class="pull-right"><a href="#">Download</a></span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                            <div class="form-group row" id="rejectReasonDiv" style="display:none">
                                    <label for="rejectReason" class="col-sm-3 col-form-label ">Reject Reason</label>
                                    <div class="col-md-1">
                                        <div class="popText">
                                            <div rel="popover" data-animate=" animated pulse " data-container="body"
                                                data-toggle="popover" data-placement="right" data-content="Reject Reason."
                                                data-title="Pulse effect popover" data-trigger="hover" data-html="true"
                                                data-original-title="Reject Reason" title="">
                                                <u class='text-dark'><i class="fa fa-question-circle"></i></u>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="myUnit"><i class="fa fa-inr"></i></span>
                                        <input type="text" class="form-control validNumeric" id="rejectReason" value=""
                                            >
    
                                    </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15px;">
                        <button type="button" class="btn btn-success pull-right btnMar" value="Approved" id="approvePrdtBtn">Approve</button>
                        <button type="button" class="btn btn-danger pull-right btnMar" value="Rejected" id ="rejectPrdtBtn">Reject</button>
                        
                    </div>
                    </div>
                </div>
        </section>
                                    <tbody id="appendAllProductForApproval">
                                    </tbody>
                            </table>
                        `);
            //console.log(result.data);
            let objFull = result.data;
            
            for (let key in objFull) { //key is Approved, Rejected, Pending
                let eachPrdtObj = objFull[key];

                let batchObj = eachPrdtObj;
                for (let keyy in batchObj) {
                    let eachBatch = batchObj[keyy];

                    
                    if(key == "Pending"){
                        $("#appendAllProductForApproval").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + eachBatch.product_name + `</td>
                                            <td><img src="https://patashalafinder.in/media/` + eachBatch.image_mobile + `" height=30px width=30px></td>
                                            <td><i class="fa fa-inr"></i>  ${eachBatch.mrp}</td>
                                            <td><i class="fa fa-inr"></i>  ${eachBatch.mrp}</td>
                                            <td><i class="fa fa-inr"></i>  ${eachBatch.selling_price}</td>
                                            <td>${eachBatch.no_of_items}</td>
                                            <td>${eachBatch.category}</td>
                                            <td>${key}</td>
                                            <td>${eachBatch.added_date.split("T")[0]}</td>
                                            <td>${eachBatch.updated_date != null ?eachBatch.updated_date.split("T")[0] :eachBatch.updated_date}</td>
                                            <td><span class="editListingLinkPrdt" id="${eachBatch.productId}_${keyy}_${key}">Approve/Reject</span></td>
                                            <td><i class="fa fa-ellipsis-v"></i></td>
                                        </tr>
                                `);
                    }else{
                        $("#appendAllProductForApproval").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + eachBatch.product_name + `</td>
                                            <td><img src="https://patashalafinder.in/media/` + eachBatch.image_mobile + `" height=30px width=30px></td>
                                            <td><i class="fa fa-inr"></i>  ${eachBatch.mrp}</td>
                                            <td><i class="fa fa-inr"></i>  ${eachBatch.mrp}</td>
                                            <td><i class="fa fa-inr"></i>  ${eachBatch.mrp}</td>
                                            <td>${eachBatch.no_of_items}</td>
                                            <td>${eachBatch.category}</td>
                                            <td>${key}</td>
                                            <td>${eachBatch.added_date.split("T")[0]}</td>
                                            <td>${eachBatch.updated_date != null ?eachBatch.updated_date.split("T")[0] :eachBatch.updated_date}</td>
                                            <td><span class="editListingLinkPrdt" id="${eachBatch.productId}_${keyy}_${key}"><i class="fa fa-eye"></i></span></td>
                                            <td><i class="fa fa-ellipsis-v"></i></td>
                                        </tr>
                                `);
                               
                            
                    }
                    
                }
                //console.log(batchObj)
            }



            $('#example-1').dataTable({
                "columnDefs": [{
                    "targets": [0,11,12],
                    "orderable": false,
                }]
            });
            $.getScript("assets/js/scripts.js");
        },
        error: function (err) {
            alert(err.statusText);
        }
    });

    

    $(document).on('click', "#closeTableDiv", function () {


        $(".tableDivFloat").slideUp(500);
    });
    $(document).on('mouseenter','.boxAttach',function () {
        // alert('enter')
        $(this).find(".docNameSize").addClass('docNameSizeMoveUp');
        $(this).find('.viewDownload').show();
        $(this).find(".viewDownload").addClass('viewDownloadAnimate')
    });
    $(document).on('mouseleave','.boxAttach',function () {
        // alert('enter')
        $(this).find(".docNameSize").removeClass('docNameSizeMoveUp');
        
        $(this).find(".viewDownload").removeClass('viewDownloadAnimate');
        $(this).find('.viewDownload').hide();
    });
</script>
<script src="assets/js/new.js" type="text/javascript"></script>