<section class="wrapper main-wrapper" style=''>

                    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class="page-title">

                            <div class="pull-left">
                                <h1 class="title">Online Shop Settings</h1>                            </div>


                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Basic Info</h2>
                                <div class="actions panel_actions pull-right">
                                    <i class="box_toggle fa fa-chevron-down"></i>
                                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                    <i class="box_close fa fa-times"></i>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">
                                    <form action ="#" method="post">
                                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Shop Currency</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="text" value="USD" class="form-control" id="field-1">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Email</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="text" value="email@example.com" class="form-control" id="field-3">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Tax Percentage</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="text" value="5.00%" class="form-control" id="field-1">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Payment Type</label>
                                                <span class="desc"></span>
                                                <select multiple class="form-control">
                                                    <option></option>
                                                    <option selected='selected'>Paypal</option>
                                                    <option selected='selected'>Credit Card</option>
                                                    <option selected='selected'>Cash on Delivery</option>
                                                    <option selected='selected'>Cheque</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-5">Languages</label>
                                                <span class="desc"></span>
                                                <select multiple class="form-control">
                                                    <option></option>
                                                    <option selected='selected'>English</option>
                                                    <option selected='selected'>French</option>
                                                    <option selected='selected'>German</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-2">Phone</label>
                                                <span class="desc">e.g. "(534) 253-5353"</span>
                                                <div class="controls">
                                                    <input type="text" value="(123) 456-7878" class="form-control" id="field-2" data-mask="phone"  placeholder="(999) 999-9999">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-1">Login User Name</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="text" value="USD" class="form-control" id="field-1">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="form-label" for="field-2">Password</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="password" value="12345678" class="form-control" id="field-2">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="field-2">Confirm Password</label>
                                                <span class="desc"></span>
                                                <div class="controls">
                                                    <input type="password"  value="12345678" class="form-control" id="field-21">
                                                </div>
                                            </div>


                                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                                <div class="text-left">
                                                    <button type="button" class="btn btn-primary">Save</button>
                                                    <button type="button" class="btn">Cancel</button>
                                                </div>
                                            </div>
                                    </form>
                                </div>


                            </div>
                        </section></div>



</section>
<script type="text/javascript">
    
    

</script>
<script src="assets/js/new.js" type="text/javascript"></script>