<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <h3 class="mail_head">Compose</h3>
        <i class='fa fa-refresh icon-primary icon-xs icon-orange mail_head_icon'></i>
        <i class='fa fa-search icon-primary icon-xs icon-orange mail_head_icon'></i>
        <i class='fa fa-cog icon-primary icon-xs icon-orange mail_head_icon pull-right'></i>


    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 mail_view_title">

        <div class='pull-right'>
            <button class="btn btn-default btn-icon" rel="tooltip" data-color-class="primary"
                data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="Send" data-placement="top">
                <i class="fa fa-paper-plane-o icon-xs"></i>
            </button>
            <button class="btn btn-default btn-icon" rel="tooltip" data-color-class="primary"
                data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="Save" data-placement="top">
                <i class="fa fa-floppy-o icon-xs"></i>
            </button>
            <button class="btn btn-default btn-icon" rel="tooltip" data-color-class="primary"
                data-animate=" animated fadeIn" data-toggle="tooltip" data-original-title="Trash" data-placement="top">
                <i class="fa fa-trash-o icon-xs"></i>
            </button>
        </div>

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 mail_view_info">

        <div class="form-group mail_cc_bcc">
            <label class="form-label" for="field-1">To:</label>
            <span class="desc">e.g. "someemail@example.com"</span>
            <div class="labels"><span class='label label-secondary cc'>CC</span> <span
                    class='label label-secondary bcc'>BCC</span>
            </div>
            <div class="controls">
                <input type="text" class="form-control mail_compose_to" value="" />
            </div>
        </div>

        <div class="form-group mail_compose_cc">
            <label class="form-label" for="field-1">CC:</label>
            <span class="desc">e.g. "someemail@example.com"</span>
            <div class="controls">
                <input type="text" class="form-control mail_compose_to" value="" />
            </div>
        </div>

        <div class="form-group mail_compose_bcc">
            <label class="form-label" for="field-1">BCC:</label>
            <span class="desc">e.g. "someemail@example.com"</span>
            <div class="controls">
                <input type="text" class="form-control mail_compose_to" value="" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="field-1">Subject:</label>
            <span class="desc">e.g. "Meeting in 1st week"</span>
            <div class="controls">
                <input type="text" class="form-control" value="" />
            </div>
        </div>

        <div class="form-group">
            <label class="form-label" for="field-1">Message:</label>
            <textarea class="mail-compose-editor" placeholder="Enter text ..."
                style="width: 100%; height: 250px; font-size: 14px; line-height: 23px;padding:15px;"></textarea>
        </div>



    </div>





    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class='pull-left'>
            <button class="btn btn-primary">
                <i class="fa fa-paper-plane-o icon-xs"></i> &nbsp; SEND
            </button>
            <button class="btn btn-purple">
                <i class="fa fa-floppy-o icon-xs"></i> &nbsp; SAVE
            </button>
            <button class="btn btn-secondary">
                <i class="fa fa-trash-o icon-xs"></i> &nbsp; TRASH
            </button>
        </div>

    </div>





</div>
<script type="text/javascript">
  
</script>
<script src="assets/js/new.js" type="text/javascript"></script>