<style>
#mailListCollapse{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    transition: all .2s ease-in-out;
}
#mailListExpand{
    display: none;
    height: 500px;
    padding: 0px;
    transition: all .2s ease-in-out;
    background: #fbf8f8;
}
#appendChatIssue{
    height: 456px;
    overflow: scroll;
    overflow-x: hidden;
}
.chatInput{
    position: absolute;
    bottom: 5px;
    width: 100%;
    padding: 0% 2%;
}
.chatInput input{
    width: 100%;
    border-radius: 5px;
}
.from {
    width: 80%;
    margin: 2% 2%;
    padding: 1% 2%;
    background: white;
    position: relative;
    border-radius: 15px;
    left: -1%;
    border-radius: 15px;
}
.to{
    width: 80%;
    margin: 2% 2%;
    padding: 1% 2%;
    background: white;
    position: relative;
    border-radius: 15px;
    right: -17%;
    border-radius: 15px;
}
.fromDiv, .toDiv{
    width: 100%;
}
#mailListCollapse::-webkit-scrollbar ,#appendChatIssue::-webkit-scrollbar{
    width: 7px;
    background-color: #F5F5F5;
}

#mailListCollapse::-webkit-scrollbar-track ,#appendChatIssue::-webkit-scrollbar-track{
    border-radius: 3px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#mailListCollapse::-webkit-scrollbar-thumb  ,#appendChatIssue::-webkit-scrollbar-thumb{
    background-color: #9ac93d;
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%,
        rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
        transparent 75%, transparent);
       /* border-radius: 3px; */
}
</style>
<section class="wrapper main-wrapper" style="margin-top: 15px;">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box nobox">
            <div class="content-body">
                <div class="row">

                    <div class="col-md-2 col-sm-3 col-xs-12" style="display: none;">


                        <a class="btn btn-primary btn-block" id="eco-mail-compose" href='#'>Compose</a>

                        <ul class="list-unstyled mail_tabs">
                            <li class=" activa active" id="eco-mail-inbox">
                                <a href="#">
                                    <i class="fa fa-inbox"></i> Inbox <span
                                        class="badge badge-primary pull-right">6</span>
                                </a>
                            </li>
                            <li class="activa" id="eco-mail-sent">
                                <a href="#">
                                    <i class="fa fa-send-o"></i> Sent
                                </a>
                            </li>
                            <li class="activa" id="eco-mail-drafts">
                                <a href="#">
                                    <i class="fa fa-edit"></i> Drafts <span
                                        class="badge badge-orange pull-right">2</span>
                                </a>
                            </li>
                            <li class="activa" id="eco-mail-important">
                                <a href="#">
                                    <i class="fa fa-star-o"></i> Important
                                </a>
                            </li>
                            <li class="activa" id="eco-mail-trash">
                                <a href="#">
                                    <i class="fa fa-trash-o"></i> Trash
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="mail_content" id="mail_content">

                            <div class="row">
                                <!-- <div class="col-md-12 col-sm-12 col-xs-12">

                                    <h3 class="mail_head">Inbox <sup>(5)</sup></h3>
                                    <i class='fa fa-refresh icon-primary icon-xs icon-orange mail_head_icon'></i>
                                    <i class='fa fa-search icon-primary icon-xs icon-orange mail_head_icon'></i>
                                    <i class='fa fa-cog icon-primary icon-xs icon-orange mail_head_icon pull-right'></i>


                                </div> -->

                                <div class="col-md-12 col-sm-12 col-xs-12" style="display: none;">

                                    <div class="pull-left">
                                        <div class="btn-group mail_more_btn">
                                            <button type="button" class="btn btn-default"><input type='checkbox'
                                                    class="iCheck"> All</button>
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                data-toggle="dropdown" aria-expanded="false">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">All</a></li>
                                                <li><a href="#">Read</a></li>
                                                <li><a href="#">Unread</a></li>
                                                <li><a href="#">Starred</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <nav class='pull-right'>
                                        <ul class="pager mail_nav">
                                            <li><a href="#"><i
                                                        class='fa fa-arrow-left icon-xs icon-orange icon-secondary'></i></a>
                                            </li>
                                            <li><a href="#"><i
                                                        class='fa fa-arrow-right icon-xs icon-orange icon-secondary'></i></a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <span class='pull-right mail_count_nav text-muted'><strong>1</strong> to
                                        <strong>20</strong> of 3247</span>

                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 mail_list" id="mailListCollapse">
                                    <table id="example-1" class="table table-striped table-hover">
                                            <thead style="display: none;">
                                                    <tr>
                                                        <th><input type="checkbox"></th>
                                                        <th><i class='fa fa-star-o icon-xs icon-orange'></i></th>
                                                        <th>Name</th>
                                                        <th>Message</th>
                                                        <th>Time</th>
                                                        
                                                    </tr>
                                                </thead>
                                        <tbody id="appendIssueUser">
                                                <tr class="unread viewMail" id="mail_msg_1">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span
                                                                class="label label-primary">Family</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">19:34</span></td>
                                                    </tr>
                                                    <tr class="unread viewMail" id="mail_msg_2">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">21:54</span></td>
                                                    </tr>
                                                    <tr class="unread viewMail" id="mail_msg_3">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">22:28</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_4">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span class="msgtext">Hello, hope you having a great
                                                                day ahead.</span></td>
                                                        <td class="open-view"><span class="msg_time">Yesterday</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_5">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">Yesterday</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_6">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="label label-info">Work</span>&nbsp;<span
                                                                class="msgtext">We play, dance and love. Share love all around
                                                                you.</span></td>
                                                        <td class="open-view"><span class="msg_time">28 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" class="unread">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span class="label label-info">Work</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">25 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_8">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">25 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_9">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">25 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_10">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span
                                                                class="label label-success">IMP</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">25 Feb</span></td>
                                                    </tr>
                                                    <tr class="unread viewMail" id="mail_msg_11">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">21 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_12">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">21 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_13">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span
                                                                class="label label-success">IMP</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">21 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_14">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">21 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_15">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">21 Feb</span></td>
                                                    </tr>
                                                    <tr class="unread viewMail" id="mail_msg_16">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span class="label label-info">Work</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">17 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_17">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">17 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_18">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">17 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_19">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span
                                                                class="label label-danger">Urgent</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">17 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_20">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">17 Feb</span></td>
                                                    </tr>
                                                    <tr class="unread viewMail" id="mail_msg_21">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">16 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_22">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">John Smith</td>
                                                        <td class="open-view"><span
                                                                class="label label-primary">Family</span>&nbsp;<span
                                                                class="msgtext">Hello, hope you having a great day ahead.</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">16 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_23">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Laura Willson</td>
                                                        <td class="open-view"><span class="msgtext">Your product seems amazingly
                                                                smart and elegant to use.</span></td>
                                                        <td class="open-view"><span class="msg_time">16 Feb</span></td>
                                                    </tr>
                                                    <tr class="viewMail" id="mail_msg_24">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">Jane D.</td>
                                                        <td class="open-view"><span class="msgtext">We play, dance and love. Share
                                                                love all around you.</span></td>
                                                        <td class="open-view"><span class="msg_time">16 Feb</span></td>
                                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12" id="mailListExpand">
                                    <div class="chatInput">
                                        <input type="text" class="form-control" placeholder="Type Your Message.." id="sendResponse">
                                    </div>
                                    <div class="chatDiv" id="appendChatIssue">
                                        <div class="fromDiv">
                                                <!-- <img src="data/images.jpeg" width="10px" height="10px"> -->
                                                <p class="from">hellpo</p>
                                        </div>
                                        <div class="toDiv">
                                                <p class="to">hello</p>
                                        </div>
                                        
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>


</section>
<script type="text/javascript">
   $.ajax({
        url:"https://patashalafinder.in/amrutha/get_all_users_issues_list",
        type:"POST",
        dataType:"JSON",
        data:{
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success:function (result) { 
            console.log(result);
            let data = result.data;
            $("#mailListCollapse").empty();
            $("#mailListCollapse").append(`
            <table id="example-1" class="table table-striped table-hover">
                                            <thead style="display: none;">
                                                    <tr>
                                                        <th><input type="checkbox"></th>
                                                        <th><i class='fa fa-star-o icon-xs icon-orange'></i></th>
                                                        <th>Name</th>
                                                        <th>Message</th>
                                                        <th>Time</th>
                                                        
                                                    </tr>
                                                </thead>
                                        <tbody id="appendIssueUser">
                                        </tbody>
            </table>
            `);
            $("#appendIssueUser").empty();
            // user_photo: "amrutha/food/user/100-Roses-Red_usbJNxD.jpg"
            // user_mobile: "6300427240"
            // issue_status: "Open"
            // issue_id: "54243bff-dfaf-4183-99da-5b44b8aa766e"
            // order_id: "46b1a9ec0ff24746aff1e80f52b8d9b7"
            // userid: "08caf39b-557a-4c17-802d-9d2c3cea2aef"
            // added_date: "2020-02-11T07:29:01.308Z"
            // username: "shalini hasbi"
            $.each(data,(key,value)=>{
                $("#appendIssueUser").append(`
                <tr class="unread viewMail ${value.issue_id} ${value.userid}" id="mail_msg_${key}">
                                                        <td class=""><input class="iCheck" type="checkbox"></td>
                                                        <td class="">
                                                            <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                                                        </td>
                                                        <td class="open-view">${value.username}</td>
                                                        <td class="open-view"><span
                                                                class="label label-primary">Issue</span>&nbsp;<span
                                                                class="msgtext">${value.issue_status}</span>
                                                        </td>
                                                        <td class="open-view"><span class="msg_time">${value.added_date.split("T")[0]}</span></td>
                                                    </tr>
                `)
            });
            $.getScript('assets/js/new.js')
        },
        error:function (err) {
            console.log(err.responseText);
        }
    });
</script>
<!-- <script src="assets/js/new.js" type="text/javascript"></script>  -->