<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Add a Invoice</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="eco-invoices.html">Billing</a>
                    </li>
                    <li class="active">
                        <strong>Add Invoice</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form action="#" method="post">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="field-1">Invoice Number</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-5">Date Created</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control datepicker" data-format="mm/dd/yyyy"
                                        value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-5">Date Sent</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control datepicker" data-format="mm/dd/yyyy"
                                        value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-5">Date Due</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control datepicker" data-format="mm/dd/yyyy"
                                        value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-5">Status</label>
                                <span class="desc"></span>
                                <select class="form-control">
                                    <option></option>
                                    <option>New</option>
                                    <option>Completed</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1">Product</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-1">Customer</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-5">Date of Approval</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control datepicker" data-format="mm/dd/yyyy"
                                        value="">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-1">Amount Price</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-1">Tax</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-1">Discount</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-1">Amount Due</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary">Save</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
    </div>


</section>
<script type="text/javascript">
    
   
</script>
<script src="assets/js/new.js" type="text/javascript"></script> 