<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Categories</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="eco-categories.html">Product Categories</a>
                    </li>
                    <li class="active">
                        <strong>Product Categories</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Categories</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">



                        <!-- ********************************************** -->


                        <table id="example" class="display table table-hover table-condensed" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Category Name</th>
                                    <th>Description</th>
                                    <th>No. of Products</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>electronics</td>
                                    <td>Maecenas rhoncus aliquam lacus.</td>
                                    <td>76</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>software</td>
                                    <td>Cras mi pede, malesuada in, imperdiet et, commodo vulputate, justo.</td>
                                    <td>56</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>hardware</td>
                                    <td>Nullam porttitor lacus at turpis.</td>
                                    <td>38</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>shoes</td>
                                    <td>Nunc nisl.</td>
                                    <td>31</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>electronics</td>
                                    <td>Nunc nisl.</td>
                                    <td>62</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>electronics</td>
                                    <td>Aliquam quis turpis eget elit sodales scelerisque.</td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>software</td>
                                    <td>Quisque arcu libero, rutrum ac, lobortis vel, dapibus at, diam.</td>
                                    <td>53</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>shoes</td>
                                    <td>Fusce consequat.</td>
                                    <td>89</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>accessories</td>
                                    <td>Maecenas tincidunt lacus at velit.</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>tools</td>
                                    <td>Sed sagittis.</td>
                                    <td>48</td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>clothes</td>
                                    <td>Aenean auctor gravida sem.</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>clothes</td>
                                    <td>Integer tincidunt ante vel ipsum.</td>
                                    <td>48</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>clothes</td>
                                    <td>Fusce consequat.</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>shoes</td>
                                    <td>Suspendisse ornare consequat lectus.</td>
                                    <td>47</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td>accessories</td>
                                    <td>Nulla facilisi.</td>
                                    <td>38</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td>accessories</td>
                                    <td>Fusce lacus purus, aliquet at, feugiat non, pretium quis, lectus.</td>
                                    <td>63</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td>electronics</td>
                                    <td>Maecenas rhoncus aliquam lacus.</td>
                                    <td>37</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td>accessories</td>
                                    <td>Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.</td>
                                    <td>58</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>electronics</td>
                                    <td>Nullam varius.</td>
                                    <td>83</td>
                                </tr>
                                <tr>
                                    <td>20</td>
                                    <td>accessories</td>
                                    <td>Integer aliquet, massa id lobortis convallis, tortor risus dapibus augue, vel
                                        accumsan tellus nisi eu orci.</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>21</td>
                                    <td>accessories</td>
                                    <td>Nullam orci pede, venenatis non, sodales sed, tincidunt eu, felis.</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <td>22</td>
                                    <td>accessories</td>
                                    <td>In congue.</td>
                                    <td>52</td>
                                </tr>
                                <tr>
                                    <td>23</td>
                                    <td>software</td>
                                    <td>Mauris sit amet eros.</td>
                                    <td>87</td>
                                </tr>
                                <tr>
                                    <td>24</td>
                                    <td>shoes</td>
                                    <td>Praesent blandit.</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <td>25</td>
                                    <td>clothes</td>
                                    <td>In hac habitasse platea dictumst.</td>
                                    <td>80</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>tools</td>
                                    <td>In est risus, auctor sed, tristique in, tempus sit amet, sem.</td>
                                    <td>32</td>
                                </tr>
                                <tr>
                                    <td>27</td>
                                    <td>accessories</td>
                                    <td>Donec diam neque, vestibulum eget, vulputate ut, ultrices vel, augue.</td>
                                    <td>83</td>
                                </tr>
                                <tr>
                                    <td>28</td>
                                    <td>tools</td>
                                    <td>Sed accumsan felis.</td>
                                    <td>78</td>
                                </tr>
                                <tr>
                                    <td>29</td>
                                    <td>tools</td>
                                    <td>In hac habitasse platea dictumst.</td>
                                    <td>48</td>
                                </tr>
                                <tr>
                                    <td>30</td>
                                    <td>software</td>
                                    <td>Nulla facilisi.</td>
                                    <td>79</td>
                                </tr>
                                <tr>
                                    <td>31</td>
                                    <td>electronics</td>
                                    <td>Morbi porttitor lorem id ligula.</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <td>32</td>
                                    <td>software</td>
                                    <td>Quisque porta volutpat erat.</td>
                                    <td>66</td>
                                </tr>
                                <tr>
                                    <td>33</td>
                                    <td>hardware</td>
                                    <td>Donec posuere metus vitae ipsum.</td>
                                    <td>57</td>
                                </tr>
                                <tr>
                                    <td>34</td>
                                    <td>tools</td>
                                    <td>Maecenas leo odio, condimentum id, luctus nec, molestie sed, justo.</td>
                                    <td>36</td>
                                </tr>
                                <tr>
                                    <td>35</td>
                                    <td>tools</td>
                                    <td>Curabitur in libero ut massa volutpat convallis.</td>
                                    <td>59</td>
                                </tr>
                                <tr>
                                    <td>36</td>
                                    <td>clothes</td>
                                    <td>Morbi ut odio.</td>
                                    <td>72</td>
                                </tr>
                                <tr>
                                    <td>37</td>
                                    <td>software</td>
                                    <td>Nam dui.</td>
                                    <td>66</td>
                                </tr>
                                <tr>
                                    <td>38</td>
                                    <td>accessories</td>
                                    <td>Suspendisse ornare consequat lectus.</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>39</td>
                                    <td>software</td>
                                    <td>Praesent id massa id nisl venenatis lacinia.</td>
                                    <td>73</td>
                                </tr>
                                <tr>
                                    <td>40</td>
                                    <td>clothes</td>
                                    <td>Curabitur convallis.</td>
                                    <td>63</td>
                                </tr>
                                <tr>
                                    <td>41</td>
                                    <td>clothes</td>
                                    <td>Cras non velit nec nisi vulputate nonummy.</td>
                                    <td>61</td>
                                </tr>
                                <tr>
                                    <td>42</td>
                                    <td>hardware</td>
                                    <td>Suspendisse potenti.</td>
                                    <td>42</td>
                                </tr>
                                <tr>
                                    <td>43</td>
                                    <td>clothes</td>
                                    <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</td>
                                    <td>39</td>
                                </tr>
                                <tr>
                                    <td>44</td>
                                    <td>shoes</td>
                                    <td>Vivamus vestibulum sagittis sapien.</td>
                                    <td>38</td>
                                </tr>
                                <tr>
                                    <td>45</td>
                                    <td>software</td>
                                    <td>Mauris sit amet eros.</td>
                                    <td>51</td>
                                </tr>
                                <tr>
                                    <td>46</td>
                                    <td>electronics</td>
                                    <td>Aenean sit amet justo.</td>
                                    <td>90</td>
                                </tr>
                                <tr>
                                    <td>47</td>
                                    <td>hardware</td>
                                    <td>Maecenas leo odio, condimentum id, luctus nec, molestie sed, justo.</td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <td>48</td>
                                    <td>shoes</td>
                                    <td>Pellentesque at nulla.</td>
                                    <td>64</td>
                                </tr>
                                <tr>
                                    <td>49</td>
                                    <td>software</td>
                                    <td>Aliquam quis turpis eget elit sodales scelerisque.</td>
                                    <td>35</td>
                                </tr>
                                <tr>
                                    <td>50</td>
                                    <td>shoes</td>
                                    <td>Nunc purus.</td>
                                    <td>47</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- ********************************************** -->




                    </div>
                </div>
            </div>
        </section>
    </div>






</section>
<script type="text/javascript">
   
</script>
<script src="assets/js/new.js" type="text/javascript"></script>