<style>
    .trigger-files-slide{
        height:200px;
        width:100%;
        margin-bottom: 10px;
    }
    .img_link{
        margin-bottom: 10px;
    }
    .form-control-Eye{
      position: absolute;
      top: 9px;
      right: 10px;
      color: #f90500;
      z-index: 100;
    }
    .upload_sliderr{
        cursor: pointer;
    }
    .overlayImgSlide{
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 2;
        height: 200px;
        width: 93%;
        margin-bottom: 10px;
        color: #fff;
        background-color: rgba(152,152,152,0.5);
        opacity: 0;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        transition: .5s;
        -webkit-transition-timing-function: cubic-bezier(0.4,0,0.5,1);
        -moz-transition-timing-function: cubic-bezier(0.4,0,0.5,1);
        transition-timing-function: cubic-bezier(0.4,0,0.5,1);
    }
    .overlayImgSlide:hover{
        opacity: 1;
    }
    .overlayImgSlide a i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 40px;
        color: #fbcf00;
        cursor: pointer;
        opacity: 1;
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    .image_div{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
    .image_upload_div_fr{
        width: 100px;
        height: 100px;
        float: left;
        margin: 7% 3%;
    }
    .image_upload_div_fr_append{
        width: 300px;
        height: 170px;
        float: left;
        margin: 7% 3%;
    }
    .image_divMob{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
    .image_upload_div_frMob{
        width: 100px;
        height: 100px;
        float: left;
        margin: 7% 3%;
    }
    .image_upload_div_frMob_append{
        width: 300px;
        height: 170px;
        float: left;
        margin: 7% 3%;
    }
    .single-partner-item{
        width: 300px;
        height: 150px;
        margin: 10% 0%;
    }
    /* .firstSlideImgClass:hover{
        -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); 
        transform: scale(1.2);
    } */
    </style>
    <section class="wrapper main-wrapper">
    
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="page-title">
    
                <div class="pull-left">
                    <h1 class="title">Add Franchise Slider Images</h1>                            </div>
    
                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li id="eco-slider-add">
                            <a href="#">Slider</a>
                        </li>
                        <li class="active">
                            <strong>Add Franchise Slider</strong>
                        </li>
                    </ol>
                </div>
    
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Slider Info</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                       <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
    
                        <input type="file" class="form-control" id="trigger_slider_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                        name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
    
                        <section class="box ">
                                <header class="panel_header">
                                    <h2 class="title pull-left">Slider Images</h2>
                                   
                                </header>
                                <div class="content-body">    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
    
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <label for="">Web Slider Image</label>
                                                    <input type="file" class="form-control" id="trigger_slider_franchise_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                                    name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                                                    <div class="image_div" id="image_div">
                                                        <div class="image_upload_div_fr" >
                                                            <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                                        </div>
                                                        <div class="image_upload_div_fr_append">
                                                            <!-- <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span> -->
                                                        </div>
                                                    </div>
                                                   
                        
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <label for="">Mobile Slider Image</label>
                                                        <input type="file" class="form-control" id="trigger_slider_franchise_image_upload_mob" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                                        name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                                                        <div class="image_divMob" id="image_divMob">
                                                            <div class="image_upload_div_frMob">
                                                                <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                                            </div>
                                                            <div class="image_upload_div_frMob_append" >
                                                                    <!-- <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span> -->
                                                                </div>
                                                        </div>
                                                       
                            
                                                </div>
    
                                                
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="slider_activate_date">Slider Activate Date</label>
                                                        <span class="desc">e.g. "2019-12-30"</span>
                                                        <div class="controls">
                                                            <input type="text" autocomplete="off" class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="slider_expiry_date">Slider Expiry Date</label>
                                                        <span class="desc">e.g. "2020-02-27"</span>
                                                        <div class="controls">
                                                            <input autocomplete="off" type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="ani">Animation</label>
                                                        <span class="desc">e.g. "Slide IN"</span>
                                                        <div class="controls">
                                                            <select  class="form-control"  id="ani" required>
                                                                <option selected disabled>Select One</option>
                                                                <option value="slideIn">Slide In</option>
                                                                <option value="slideUp">Slide Up</option>
                                                                <option value="slideLeft">Slide Left</option>
                                                                <option value="slideRight">Slide Right</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name1">Name</label>
                                                            <span class="desc">e.g. "Index Slider"</span>
                                                            <div class="controls">
                                                                <input autocomplete="off" type="text"  class="form-control " id="name" required>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name1">Next Image Position</label>
                                                            <span class="desc">e.g. "1,2,3"</span>
                                                            <div class="controls">
                                                                <input autocomplete="off" type="text"  class="form-control " id="imagePosNo" required disabled>
                                                            </div>
                                                        </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <label for="slider1">Link For Slider</label>
                                                   <div class="controls img_link">
                                                    <div class="input-group primary">
                                                        <input autocomplete="off" type="text" class="form-control text-right link_slider" id="link_slider" placeholder="Link Of Slide1"  aria-describedby="basic-addon1">
                                                        <span class="input-group-addon upload_sliderr" id="franchisesliderUpload"><i class="fa fa-upload"></i></span>
                                                    </div>
                                                   </div>
                                                </div>
                                            
    
                                            <div class="clearfix"></div>
    
    
                                        </div>
                                    </div>
                                </div>
                        </section>
                       </div>
                       <div class="col-md-12 col-sm-12 col-xs-12 carousel-wrap">
                           <label for="">Web Slider</label>
                        <div class="partner-slides owl-carousel owl-theme" id="appendFranchiseSlider" style="height: 200px;">

                        </div>
                       </div>
                       <div class="col-md-12 col-sm-12 col-xs-12 carousel-wrap">
                            <label for="">Mobile Slider</label>
                            <div class="partner-slides owl-carousel owl-theme" id="appendFranchiseSliderMob">
    
                            </div>
                           </div>
                    </div>
    
    
                </div>
            </section>
        </div>
    
    
    
    </section>
    <script src="assets/js/new.js" type="text/javascript"></script> 
    <script>
     $.ajax({
            url:"https://patashalafinder.in/amrutha/get_slider_images",
            type:"POST",
            dataType:"JSON",
            data:{

                admin_uuid:localStorage.getItem('admin_uuid'),

            },
            success:function (result) {
                 $("#appendFranchiseSlider").empty();
                 $("#appendFranchiseSliderMob").empty();
                let sliderObj = result.data;
                //console.log(result.data[1].franchise_uuid);
                sessionStorage.setItem('franchiseUUID',result.data[1].franchise_uuid);
                let positionNo=0;
                $.each(sliderObj,(franchiseKey,franchiseValue)=>{
                    
                        console.log(franchiseValue.slider_details);
                       $.each(franchiseValue.slider_details,(key,value)=>{
                            //console.log(value);
                            $("#slider_activate_date").val(value.activate_date.split("T")[0]);
                            $("#slider_expiry_date").val(value.expire_date.split("T")[0]);
                           
                            if(value.image_position_no > positionNo){
                                positionNo = value.image_position_no;
                            }
                            $("#appendFranchiseSlider").append(`
                            <div class="single-partner-item">
                                           
                                            <a href="#" class="editFranchiseSliderWeb ${value.slider_uuid} ${value.activate_date.split("T")[0]} ${value.expire_date.split("T")[0]} ${value.image_position_no}"><img src="https://patashalafinder.in/media/${value.slider_image_web}" width="100%" height="100%" alt="image"></a>
                                           
                                           
                                    </div>
                            `);
                            $("#appendFranchiseSliderMob").append(`
                            <div class="single-partner-item">
                                           
                                            <a href="#" class="editFranchiseSliderMob ${value.slider_uuid} ${value.activate_date.split("T")[0]} ${value.expire_date.split("T")[0]} ${value.image_position_no}"><img src="https://patashalafinder.in/media/${value.slider_image_mobile}" width="100%" height="100%" alt="image"></a>
                                           
                                           
                                    </div>
                            `);
                       });
                });
                $("#imagePosNo").val(++positionNo);
                $('#appendFranchiseSlider').owlCarousel({
                loop: false,
                nav: true,
                dots: true,
                autoplayHoverPause: true,
                autoplay: true,
                mouseDrag: true,
                margin: 30,
                navText: [
                    "<i class='flaticon-arrow-pointing-to-left'></i>",
                    "<i class='flaticon-arrow-pointing-to-right'></i>"
                ],
                
        });
        $('#appendFranchiseSliderMob').owlCarousel({
                loop: false,
                nav: true,
                dots: true,
                autoplayHoverPause: true,
                autoplay: true,
                mouseDrag: true,
                margin: 30,
                navText: [
                    "<i class='flaticon-arrow-pointing-to-left'></i>",
                    "<i class='flaticon-arrow-pointing-to-right'></i>"
                ],
                
        });
            },
            error:function (err) {
                $("#imagePosNo").val('0');
                console.log(err.responseText);
            }
        });
    </script>