<style>
    .avatar-edit{
        position: absolute;
        right: 30px;
        z-index: 1;
        top: 10px;
    }
    .avatar-preview{
        width: 160px;
        height: 160px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }
    .avatar-edit input {
        display: none;
    }
    .avatar-edit input + label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }
    .avatar-edit input + label:after {
        content: "\f040";
        font-family: 'FontAwesome';
        color: #757575;
        position: absolute;
        top: 7px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
    }
    .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Admin Profile</h1>
            </div>


        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="admin_profile_form">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="row" style="margin-bottom:15px">
                                <div class="col-md-4">
                                    <div class="avatar-edit">
                                        <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                            style="background-image: url(data/members/person-6.jpg);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="first_name_admin">First Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="first_name_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="last_name_admin">Last Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="last_name_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="dob_admin">Date of birth</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="dob_admin" type="text" data-format="yyyy-mm-dd"
                                        class="form-control datepicker" value="" required>
                                </div>
                            </div>

                            <div class="row rowMarginTop">
                                <div class="col-md-8">
                                    <label id="genderLabel" class="form-check-label" for="genderTech">Choose
                                        Gender</label>
                                    <br>
                                    <div style="display: inline-flex;margin-top: 5px" id="genderTech">
                                        <div class="form-check form-check-inline" style="padding-right: 10px">
                                            <input tabindex="5" type="radio" class="skin-flat-green"
                                                name="inlineRadioOption" id="male" value="Male" required>
                                            <label class="form-check-label" for="male">Male</label>
                                        </div>
                                        <div class="form-check form-check-inline" style="padding-right: 10px">
                                            <input tabindex="5" type="radio" class="skin-flat-green"
                                                name="inlineRadioOption" id="female" value="Female" required>
                                            <label class="form-check-label" for="female">Female</label>
                                        </div>
                                        <div class="form-check form-check-inline" style="padding-right: 10px">
                                            <input tabindex="5" type="radio" class="skin-flat-green"
                                                name="inlineRadioOption" id="others" value="Others" required>
                                            <label class="form-check-label" for="others">Others</label>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="form-label" for="fax_admin">Fax</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="fax_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="facebook_url_admin">Facebook Url</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="facebook_url_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="twitter_url_admin">Twitter Url</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="twitter_url_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="linkedIn_url_admin">LinkedIn Url</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="linkedIn_url_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="googlePlus_url_admin">Google Plus Url</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="googlePlus_url_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="description_admin">Description</label>
                                <span class="desc">e.g. "i am admin of amrutha"</span>
                                <div class="controls">
                                    <textarea class="form-control autogrow" cols="5" id="description_admin"
                                        style="resize:vertical" maxlength="1000" required></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="aadharId_admin">Aadhar Id</label>
                                <span class="desc">e.g. "Bangalore"</span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="aadharId_admin">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="address_admin">Address</label>
                                <span class="desc">e.g. "Bangalore"</span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="address_admin">
                                </div>
                            </div>






                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <!-- <button type="button" class="btn">Cancel</button> -->
                                </div>
                            </div>
                    </form>
                </div>


            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
   
    
    let adminData = JSON.parse(localStorage.getItem("adminData"));
    let imageurl="https://patashalafinder.in/media/"+adminData.profile_image;
    $("#first_name_admin").val(adminData.first_name);
    $("#last_name_admin").val(adminData.last_name);
    $("#dob_admin").val(adminData.date_of_birth);
    $("#fax_admin").val(adminData.fax);
    $("#facebook_url_admin").val(adminData.facebook_url);
    $("#twitter_url_admin").val(adminData.twitter_url);
    $("#linkedIn_url_admin").val(adminData.linkedin_url);
    $("#googlePlus_url_admin").val(adminData.google_plus_url);
    $("#description_admin").val(adminData.description);
    $("#address_admin").val(adminData.address);
    $("#aadharId_admin").val(adminData.aadhaar_id);
    $('input[value="' + adminData.gender + '"]').prop('checked', true);
    $("#imagePreview").css('background-image','url('+imageurl+')');
    
</script>
<script src="assets/js/new.js" type="text/javascript"></script>