<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Subscribers</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="eco-subscriber.html">Subscriber</a>
                    </li>
                    <li class="active">
                        <strong>All Subscribers</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Subscribers List</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="userSubTable">




                    </div>
                </div>
            </div>
        </section>
    </div>






</section>
<script type="text/javascript">
   

    $.ajax({
        url: "https://patashalafinder.in/amrutha/get_all_subscribers",
        type: "POST",
        data: {
            admin_uuid: localStorage.getItem('admin_uuid')
        },
        success: function (result) {
            console.log(result);
            $("#userSubTable").empty();
            $("#userSubTable").append(`
            <table id="example" class="display table table-hover table-condensed" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Status</th>
                                   
                                    <th>Email</th>
                                    
                                    <th>Added On</th>
                                </tr>
                            </thead>
                            <tbody id="userSubTableBody">
                            </tbody>
            </table>
            `);
            let userObj = result.data;
            for (let key in userObj) {
                let eachUserObj = userObj[key]
                $("#userSubTableBody").append(`
                <tr>
                                    <td>${key}</td>
                                    <td>${eachUserObj.is_active == true ? "Active" : "Inactive"}</td>
                                    <td>${eachUserObj.subscriber_email}</td>
                                    <td>${eachUserObj.dateTime.split("T")[0]}</td>
                                </tr>
                `)
            }
            $.getScript("assets/js/new.js");
        },
        error: function (err) {
            alert(err.responseJSON.message);
        }
    })
</script>
<script src="assets/js/new.js" type="text/javascript"></script>