<style>
    #showOnAddClickFr {
        display: none;
    }
    .select2-choices {
        background-color: white !important;
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">Product Allotment</h2>
                <div class="actions panel_actions pull-right">
                    <button type="button" class="btn btn-success" id="add_new_cateFr">ALLOT PRODUCT</button>
                </div>
            </header>

        </section>
        <section class="box" id="showOnAddClickFr">
            <header class="panel_header">
                <h2 class="title pull-left">Select Information</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <label class="form-label" for="franchiseList">Select Franchise</label>
                            <div class="controls">
                                <select id="franchiseList" class="form-control">
                                    <option selected disabled>Select One</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <label class="form-label" for="categoryList">Category</label>
                            <div class="controls">
                                <select id="categoryList" class="form-control">
                                    <option selected disabled>Select One</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <label class="form-label" for="brandList">Brand</label>
                            <div class="controls">
                                <select id="brandList" class="form-control">
                                    <option selected disabled>Select One</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <label class="form-label" for="productList">Select Product</label>
                            <div class="controls">
                                <select id="productList" class="form-control">
                                    <option selected disabled>Select One</option>
                                    <option>one</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="form-label" for="batchList">Select Batch</label>

                            <select class="" id="s2example-2" multiple="" tabindex="-1">

                                <optgroup label="Batch">


                                </optgroup>
                            </select>

                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                        <button type="button" id="allotToFranchise" class="btn btn-success pull-right">Allot</button>

                    </div>

                </div>


            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Alloted Product Table</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendTableFranchisePrdt">
                    </div>
                </div>
            </div>
        </section>
    </div>


</section>
<script type="text/javascript">
    $("#add_new_cateFr").click(function () {
        $("#showOnAddClickFr").slideDown(500);
    });

    let formData = new FormData();
    formData.append("admin_uuid", localStorage.getItem('admin_uuid'))

    fetch('https://patashalafinder.in/admin_amrutha/get_category', {
            method: 'POST',
            body: formData,
        })
        .then(res => res.json())
        .then(data => {

            let activeCat = data.data.True;
            $("#categoryList").empty();
            $("#categoryList").append(`
                         <option selected disabled>Select One</option>       
                    `)
            for (let key in activeCat) {
                let eachCat = activeCat[key];
                $("#categoryList").append(`
                        <option value="${eachCat.category_name}">${eachCat.category_name}</option>
                        `)

            }
        })
        .catch(err => {
            console.log(err)
        });

    $.ajax({
        "async": true,
        "crossDomain": true,
        "url": "https://patashalafinder.in/amrutha/get_brand",
        "method": "POST",
        "data": formData,
        "processData": false,
        "contentType": false,
        "mimeType": "multipart/form-data",
        success: (result) => {

            let data = JSON.parse(result).data;
            let vendorBrand = data.vendor_brand;
            let adminBrand = data.admin_brand;
            $("#brandList").empty();
            $("#brandList").append('<option selected disabled>Select One</option>');
            $.each(vendorBrand, (key, value) => {
                if (value.approval == "approved" && value.brand_status == true) {
                    $("#brandList").append(`
                    <option value="${value.brand_name}">${value.brand_name}</option>
                    `);
                }
            });
            $.each(adminBrand, (key, value) => {
                if (value.brand_status == true) {
                    $("#brandList").append(`
                    <option value="${value.brand_name}">${value.brand_name}</option>
                    `);
                }
            });
        },
        error: (err) => {
            console.log(err.responseText);

        }
    })
    $.ajax({
        "async": true,
        "crossDomain": true,
        "url": "https://patashalafinder.in/amrutha/get_franchise",
        "method": "POST",
        "data": formData,
        "processData": false,
        "contentType": false,
        "mimeType": "multipart/form-data",
        success: (result) => {

            let data = JSON.parse(result).data;
            $("#franchiseList").empty();
            $("#franchiseList").append('<option selected disabled>Select One</option>');
            $.each(data, (key, value) => {
                $("#franchiseList").append(`
                    <option value="${value.franchise_uuid}">${value.franchise_name}</option>
                    `);
            });
            setTimeout(()=>{
                $("#franchiseList").val($("#franchiseList option:eq(1)").val());
                $("#franchiseList").trigger('change');
            },200)
        },
        error: (err) => {
            console.log(err.responseText);
        }
    })
</script>
<script src="assets/js/new.js" type="text/javascript"></script>