<style>
    #showOnAddClick {
        display: none;
    }
   
    .imageSize{
        width: 120px;
        height: 90px;
        margin: 10% 0%;
        position: relative;
    }
    .firstSlideImgClass:hover{
        -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); 
        transform: scale(1.2);
    }
    .borderLine{
        height: 5px;
        background: lightgray;
        border-radius: 75%;
        width: 50%;
    }
   .onHoverDelete{
       position: absolute;
       top: 50%;
        left: 22%;
        z-index: 100001;
        opacity: 0;
    display: block;
    transition: all .5s ease-in-out;
   }
   a.remImage img {
    box-shadow: none;
    position: absolute;
    right: 7px;
    top: -5px;
    margin-top: 4px;
    opacity: 0;
    display: block;
    transition: all .5s ease-in-out;
}
.imageSize:hover a.remImage img {
    opacity: 1;
    z-index: 99;
    position: absolute;
    top: 5px;
}
.imageSize:after {
    content: '';
    width: 125px;
    height: 95px;
    /* margin: 10% 0%; */
    position: absolute;
    display: block;
    background: rgba(95, 94, 94, 0.6);
    top: 0px;
    z-index: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.imageSize:hover:after{
    opacity: 1;
}
</style>
<section class="wrapper main-wrapper" style=''>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">Dashboard Management</h2>
                <div class="actions panel_actions pull-right">
                    <button type="button" class="btn btn-success" id="add_new_brand_to_slider">Add Brand To Slider</button>
                </div>
            </header>

        </section>
        <section class="box" id="showOnAddClick">
            <header class="panel_header">
                <h2 class="title pull-left">Add Brand To Slider</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="addBrandSliderForm" name="addBrandSliderForm">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="field-1">Select Brand Name</label>
                                <div class="controls">
                                    <!-- <input type="text" class="form-control" id="tagsinput-2" /> -->
                                    <select  id="selectBrand" class="form-control">
                                        <option selected disabled>Select One</option>
                                        <option value="Amrutha">Amrutha</option>
                                        <option value="Amrutha Foods">Amrutha Foods</option>
                                        <option value="Amul">Amul</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="sliderLink">Set Link To Brand Click</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="sliderLink" />
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="sliderBrandAnimation">Animation</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="sliderBrandAnimation" />
                                   
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Brand Slider Preview</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 carousel-wrap" >

                        <div class="partner-slides owl-carousel owl-theme" id="appendBradSlider">
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-1.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-2.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-3.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-4.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-5.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-6.jpg" alt="image"></a>
                            </div>
                        </div>
                       



                    </div>
                </div>
            </div>
        </section>
    </div>


</section>
<script src="assets/js/new.js" type="text/javascript"></script>
<script>
$("#add_new_brand_to_slider").click(function () {
    $("#showOnAddClick").show(1000);
});

let form = new FormData();
form.append("admin_uuid", localStorage.getItem('admin_uuid'));
$.ajax({
    "async": true,
    "crossDomain": true,
    "url": "https://patashalafinder.in/amrutha/get_slider_brand",
    "method": "POST",
    "data": form,
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    success:(result)=>{
            let data = JSON.parse(result).data
            
            $("#appendBradSlider").empty();
            
            $.each(data,(key,value)=>{
            console.log(value);
                $("#appendBradSlider").append(`
                <div class="single-partner-item">
                                <div class="imageSize">
                                    <a class="remImage ${value.slider_brand_uuid}" href="#" id="deleteBrandSliderImage">
		                                <img src="https://image.flaticon.com/icons/svg/261/261935.svg" style="width:30px;height:30px;">
	                                </a> 
                                    <a href="#"><img src="https://patashalafinder.in/media/${value.brand_logo}" class="firstSlideImgClass" alt="image" width="100%" height="100%"></a>
                                </div>
                                <div class="borderLine">
                                </div>
                        </div>
                `);
            })
            $('#appendBradSlider').owlCarousel({
                loop: false,
                nav: true,
                dots: true,
                autoplayHoverPause: true,
                autoplay: true,
                mouseDrag: true,
                margin: 30,
                navText: [
                    "<i class='flaticon-arrow-pointing-to-left'></i>",
                    "<i class='flaticon-arrow-pointing-to-right'></i>"
                ],
                responsive: {
                    0: {
                        items: 2,
                    },
                    576: {
                        items: 3,
                    },
                    768: {
                        items: 4,
                    },
                }
        });
    },
    error:(err)=>{
            console.log(err.responseText);
    }
});
$.ajax({
    "async": true,
    "crossDomain": true,
    "url": "https://patashalafinder.in/amrutha/get_brand",
    "method": "POST",
    "data": form,
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    success:(result)=>{
            
            let data = JSON.parse(result).data;
           //console.log(data)
            let vendorBrand = data.vendor_brand;
            let adminBrand = data.admin_brand;
            $("#selectBrand").empty();
            $("#selectBrand").append('<option selected disabled>Select One</option>');
            $.each(vendorBrand,(key,value)=>{
               
                if(value.approval == "approved" && value.brand_status == true){
                    //console.log(value)
                    $("#selectBrand").append(`
                        <option value="${value.brand_name}">${value.brand_name}</option>
                    `);
                }

            });
            $.each(adminBrand,(key,value)=>{
                
                if(value.brand_status == true){
                    $("#selectBrand").append(`
                        <option value="${value.brand_name}">${value.brand_name}</option>
                    `);
                }
               
            });
            
    },
    error:(err)=>{
            console.log(err.responseText);
    }
})



// </script>