<style>
    #showOnPending{
        display: none;
    }
    #showOnRejectApprove{
        display: none;
    }
    .approve {
        background: #3bbd3b;
        color: white;
    }

    .reject {
        background: #dc4040;
        color: white;
    }

    .tr_btn {
        margin: 0% 1%;
        padding: 5px;
        position: relative;
        top: 15px;
        border-radius: 7px;
        cursor: pointer;
    }
    .deactivateBrand{
        padding: 5px 15px !important;
    }
    .activateBrand{
        padding: 5px 15px !important;
    }
    .tableDivFloat{
        position: absolute;
        z-index: 500;
        width: 77.7%;
        top: 55px;
        left: 21.2%;
        display: none;
    }
    #closeTableDiv{
        cursor: pointer;
        border: 1px solid #9de29d;
        padding-right: 15px;
        margin-left: 15px;
    }
    .boxAttach{
        /* border: 1px solid grey; */
       cursor: pointer; 
        
    } 
    .leftBox{
        width:65px;
        height:55px;
      
        float: left;
       
        }
    .rightBox{
        width:160px;
        height:55px;
        border-radius: 0px 5px 5px 0px;
        background: #e4e5e8;
        float: left;
        padding: 5px;
        color: black;
    }
    .rightBox span{
        margin: 0px 10px;
        font-size: 13px;
    }
    .attachDoc{
        vertical-align: middle;
        display: inline-block;
        border-radius: 5px;
    }
    .viewDownload{
        font-size: 10px;
        margin-top: -7px;
        display: none;
        transition: all .3s ease-in-out;
       
    }
    .viewDownload a{
        color: grey;
    }
    .viewDownloadAnimate{
        margin-top: -7px;
        transition: all .3s ease-in-out;
        
    }
    .docNameSize{
        transition: all .3s ease-in-out;
    }
    .docNameSizeMoveUp{
        margin-top: -5px;
        transition: all .3s ease-in-out;
    }
    #reject_form{
        display: none;
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Brands</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="eco-brands.html">Brands</a>
                    </li>
                    <li class="active">
                        <strong>All Brands</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Brands Table</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendBrandTable">


                        <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Brand Name</th>
                                            <th>Brand Logo</th>
                                            <th>FSSI NO</th>
                                            <th>Brand Status</th>
                                            <th>Added Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Brand Name</th>
                                            <th>Brand Logo</th>
                                            <th>FSSI NO</th>
                                            <th>Brand Status</th>
                                            <th>Added Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                </tr>
                            </tfoot>

                            <tbody id="appendAllBrandForApproval">
                               


                            </tbody>
                        </table>

                       


                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendVendorBrandTable">
                            <table id="example-2" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                           
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>



</section>

<script type="text/javascript">
    
    $.ajax({
        url: "https://patashalafinder.in/amrutha/get_brand",
        type:"POST",
        dataType:'JSON',
        data:{
               'admin_uuid':localStorage.getItem('admin_uuid')
        },
        success: function (result) {
            // return false;
            $("#appendVendorBrandTable").empty()
            $("#appendBrandTable").empty()
            $("#appendBrandTable").append(`
                    <label>Admin Brands</label>
                        <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0" width="100%">
                            <thead>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Brand Name</th>
                                            <th>Brand Logo</th>
                                            <th>FSSAI NO</th>
                                            <th>Brand Status</th>
                                            <th>Added Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
        
                                    <tfoot>
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Brand Name</th>
                                            <th>Brand Logo</th>
                                            <th>FSSAI NO</th>
                                            <th>Brand Status</th>
                                            <th>Added Date</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
        
                                    <tbody id="appendAllBrandForApproval">
                                    </tbody>
                            </table>
                            
                        `);
                        $("#appendVendorBrandTable").append(`
                        <label>Vendor Brands</label>
                            <table id="example-2" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Brand Name</th>
                                            <th>Brand Logo</th>
                                            <th>FSSI NO</th>
                                            <th>Brand Status</th>
                                            <th>Applied Date</th>
                                            <th>Updated Date</th>
                                            <th>Approval</th>
                                            <th>Approve/Reject</th>
                                            <th>Action</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Brand Name</th>
                                            <th>Brand Logo</th>
                                            <th>FSSI NO</th>
                                            <th>Brand Status</th>
                                            <th>Applied Date</th>
                                            <th>Updated Date</th>
                                            <th>Approval</th>
                                            <th>Approve/Reject</th>
                                            <th>Action</th>
                                </tr>
                            </tfoot>
                            <section class="box tableDivFloat">
                            <header class="panel_header">
                                    <h2 class="title pull-left" id="closeTableDiv">Go Back</h2>

                                <div class="actions panel_actions pull-right">
                                    <i class="box_toggle fa fa-chevron-down"></i>
                                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                    <i class="box_close fa fa-times"></i>
                                </div>
                                </header>
    <div class="content-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="r1_myBox db_box">
                    <form name="applyBrandForm_aprv" id="applyBrandForm_aprv">
                    <div class="mySectionn">
                          
                        <div class="form-group row">
                            <label for="brand_name_aprv" class="col-sm-6 col-form-label">Brand Name</label>
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control validAlphaNumeric" id="brand_name_aprv"
                                     disabled>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="req1_aprv" class="col-sm-6 col-form-label ">Does the vendor have Manufacturer/Importer Details, Veg/Non-Veg mark and MRP mentioned in the primary packaging on all his products?</label>
                            
                            <div class="col-sm-6">

                                    <input type="text" class="form-control" id="req1_aprv" disabled>
                                       
                                

                            </div>
                            
                        </div>
                         <div class="form-group row">
                            <label for="req2_aprv" class="col-sm-6 col-form-label ">Does the vendor have FSSAI mark and license number on all his products?</label>
                            
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="req2_aprv" disabled>

                            </div>
                            
                        </div>
                         <div class="form-group row">
                            <label for="req3_aprv" class="col-sm-6 col-form-label ">Does the Vendor  have Ingredients and Nutrition information and Expiry date/Shelf Life on the primary packaging on all the products? </label>
                            
                            <div class="col-sm-6">

                                <input type="text" class="form-control" id="req3_aprv" disabled>

                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <label for="upload_file1_aprv" class="col-sm-6 col-form-label">Government issued FSSAI license certificate.</label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file1_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file1_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="upload_file2a_aprv" class="col-sm-6 col-form-label">
                                    a).FSSAI Mark & License number Image
                                    </label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file2a_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file2a_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                        <div class="form-group row">
                            <label for="upload_file2b_aprv" class="col-sm-6 col-form-label">
                                   a). MRP Image
                                    </label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file2b_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file2b_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                        <div class="form-group row">
                            <label for="upload_file2c_aprv" class="col-sm-6 col-form-label">
                                    a).Manufacturing date, Expiry and shelf life details image
                                    </label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file2c_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file2c_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                        <div class="form-group row">
                            <label for="upload_file2d_aprv" class="col-sm-6 col-form-label">
                                    a).Veg and Non-Veg mark image
                                    </label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file2d_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file2d_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                        <div class="form-group row">
                            <label for="upload_file2e_aprv" class="col-sm-6 col-form-label">
                                    a).Ingredients and Nutrition information image
                                    </label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file2e_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file2e_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                        <div class="form-group row">
                            <label for="upload_file2f_aprv" class="col-sm-6 col-form-label">
                                    a).Manufacturer or importer details image</label>
                           
                            <div class="col-sm-6">

                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_file2f_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_file2f_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                       
                        <div class="form-group row">
                            <label for="upload_logo_aprv" class="col-sm-6 col-form-label">
                                Brand Logo</label>
                           
                            <div class="col-sm-6">
                               
                                <div class="boxAttach leftBox" >
                                    <img src="data/cropped.jpg" id="upload_logo_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                </div>
                                <div class="boxAttach rightBox">
                                    <div class="docNameSize">
                                        <span>Document.png</span>
                                    </div>
                                    <div class="docNameSize">
                                        <span>20kb</span>
                                    </div>
                                    <div class="viewDownload">
                                        <span><a href="#" class="externalLink" id="upload_logo_aprv_view" target="_blank">View</a></span>
                                        <span class="pull-right"><a href="#">Download</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="brand_website_name_aprv" class="col-sm-6 col-form-label">Brand Website Link</label>
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control validAlphaNumeric" id="brand_website_name_aprv"
                                     disabled>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="req4_aprv" class="col-sm-6 col-form-label ">
                                    Platform Where products of this brand is currently sold?</label>
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="req4_aprv" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                                <label for="mrp_tag_aprv" class="col-sm-6 col-form-label ">
                                    Sample MRP Tag Images</label>
                               
                                <div class="col-sm-6">
                                   
                                    <div class="boxAttach leftBox" >
                                        <img src="data/cropped.jpg" id="mrp_tag_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                    </div>
                                    <div class="boxAttach rightBox">
                                        <div class="docNameSize">
                                            <span>Document.png</span>
                                        </div>
                                        <div class="docNameSize">
                                            <span>20kb</span>
                                        </div>
                                        <div class="viewDownload">
                                            <span><a href="#" class="externalLink" id="mrp_tag_aprv_view" target="_blank">View</a></span>
                                            <span class="pull-right"><a href="#">Download</a></span>
                                        </div>
                                    </div>
                                  
                                </div>
                        </div>
                        <div class="form-group row">
                            <label for="brand_owner_aprv" class="col-sm-6 col-form-label">
                                Is he the brand owner?</label>
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="brand_owner_aprv" disabled>
                                  
                            </div>
                            
                        </div>
                        <div class="form-group row" style="border-bottom: 1px solid #9ac93d;">
                            <label for="fssai_no_aprv" class="col-sm-6 col-form-label ">FSSAI License Number.</label>
                            
                            <div class="col-sm-6">

                                <input type="text" style="margin-bottom: 15px;" class="form-control validAlphaNumeric" id="fssai_no_aprv"
                                     disabled>

                            </div>
                        </div>
                        <div class="form-group row">
                                <label for="brand_certificate_aprv" class="col-sm-6 col-form-label">
                                        Image of a valid purchase Invoice copy/Brand authorization letter/ Trademark certificate.</label>
                               
                                <div class="col-sm-6">
                                    <div class="boxAttach leftBox" >
                                        <img src="data/cropped.jpg" id="brand_certificate_aprv" class="attachDoc" width="100%" height="100%" alt="">
                                    </div>
                                    <div class="boxAttach rightBox">
                                        <div class="docNameSize">
                                            <span>Document.png</span>
                                        </div>
                                        <div class="docNameSize">
                                            <span>20kb</span>
                                        </div>
                                        <div class="viewDownload">
                                            <span><a href="#" class="externalLink" id="brand_certificate_aprv_view" target="_blank">View</a></span>
                                            <span class="pull-right"><a href="#">Download</a></span>
                                        </div>
                                    </div>
                                </div>
                        </div>
                         <div class="form-group row">
                            <label for="doc_type_aprv" class="col-sm-6 col-form-label">Document Type</label>
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="doc_type_aprv" disabled>

                            </div>
                            
                        </div>
                        <div class="form-group row" id="reject_form">
                            <label for="reject_reason" class="col-sm-6 col-form-label">Reject Reason</label>
                            
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="reject_reason">

                            </div>
                            
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #9ac93d;text-align: right;padding: 12px 0px 0px 0px;" id="showOnPending">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" id="reject_appl">Reject</button>
                            <button type="submit" class="btn btn-success" id="approveBtn" value="approve">Approve</button>
                        </div>
                    </div>
                    <div class="row" style="border-top: 1px solid #9ac93d;text-align: right;padding: 12px 0px 0px 0px;" id="showOnRejectApprove">
                        <div class="col-sm-12">
                            
                            <button type="button" class="btn btn-success" id="approveRejectBtnStatus" disabled>Approved</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            
        </div>
    </div>
</section>
                            <tbody id="appendAllBrandForApprovalVendor">
                               


                            </tbody>
                        </table>
                        `)
            //console.log(result.data);
            let objFullVendor = result.data.vendor_brand;
            let objFullAdmin = result.data.admin_brand;
            
            for (let key in objFullAdmin) { //key is category
                let keyObj = objFullAdmin[key];
                 if(keyObj.brand_status === true){
                            $("#appendAllBrandForApproval").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + keyObj.brand_name + `</td>
                                            <td><img src="https://patashalafinder.in/media/` + keyObj.brand_logo + `" height=20px width=20px></td>
                                            <td>`+keyObj.fssai_number+`</td>
                                            <td>`+keyObj.brand_status+`</td>
                                            <td>`+keyObj.added_date+`</td>
                                            <td>`+keyObj.updated_date+`</td>
                                            <td><button class="btn btn-danger btn-border deactivateBrand" style="width:102px" id="${keyObj.brand_uuid}">DeActivate</button></td>
                                        </tr>
                                `);
                        }else{
                            $("#appendAllBrandForApproval").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + keyObj.brand_name + `</td>
                                            <td><img src="https://patashalafinder.in/media/` + keyObj.brand_logo + `" height=20px width=20px></td>
                                            <td>`+keyObj.fssai_number+`</td>
                                            <td>`+keyObj.brand_status+`</td>
                                            <td>`+keyObj.added_date+`</td>
                                            <td>`+keyObj.updated_date+`</td>
                                            <td><button class="btn btn-success btn-border activateBrand" style="width:102px" id="${keyObj.brand_uuid}">Activate</button></td>
                                        </tr>
                                `);
                        }
                       
            }
            for (let key in objFullVendor) { //key is category

           

            let keyObj = objFullVendor[key];

                    if(keyObj.approval == "approved"){
                        if(keyObj.brand_status === true){
                            $("#appendAllBrandForApprovalVendor").append(`
                            <tr>
                                        <td><input type="checkbox"></td>
                                        <td>` + keyObj.brand_name + `</td>
                                        <td><img src="https://patashalafinder.in/media/` + keyObj.brand_logo + `" height=20px width=20px></td>
                                        <td>`+keyObj.fssai_number+`</td>
                                        <td>`+keyObj.brand_status+`</td>
                                        <td>`+keyObj.added_date+`</td>
                                        <td>`+keyObj.updated_date+`</td>
                                        <td>`+keyObj.approval+`</td>
                                        <td style="text-align:center"><a href="#" class="editListingLink" id="${keyObj.brand_uuid}_${key}"><i class="fa fa-eye"></i></a></td>
                                        <td><button class="btn btn-danger btn-border deactivateBrand" id="${keyObj.brand_uuid}" style="width:102px">DeActivate</button></td>
                                    </tr>
                            `);
                        }else{
                            $("#appendAllBrandForApprovalVendor").append(`
                            <tr>
                                        <td><input type="checkbox"></td>
                                        <td>` + keyObj.brand_name + `</td>
                                        <td><img src="https://patashalafinder.in/media/` + keyObj.brand_logo + `" height=20px width=20px></td>
                                        <td>`+keyObj.fssai_number+`</td>
                                        <td>`+keyObj.brand_status+`</td>
                                        <td>`+keyObj.added_date+`</td>
                                        <td>`+keyObj.updated_date+`</td>
                                        <td>`+keyObj.approval+`</td>
                                        <td style="text-align:center"><a href="#" class="editListingLink" id="${keyObj.brand_uuid}_${key}"><i class="fa fa-eye"></i></a></td>
                                        <td><button class="btn btn-success btn-border activateBrand" style="width:102px" id="${keyObj.brand_uuid}">Activate</button></td>
                                    </tr>
                            `);
                        }
                       
                    }else if(keyObj.approval == "pending"){
                        $("#appendAllBrandForApprovalVendor").append(`
                            <tr>
                                        <td><input type="checkbox"></td>
                                        <td>` + keyObj.brand_name + `</td>
                                        <td><img src="https://patashalafinder.in/media/` + keyObj.brand_logo + `" height=20px width=20px></td>
                                        <td>`+keyObj.fssai_number+`</td>
                                        <td>`+keyObj.brand_status+`</td>
                                        <td>`+keyObj.added_date+`</td>
                                        <td>`+keyObj.updated_date+`</td>
                                        <td>`+keyObj.approval+`</td>
                                        <td><a href="#" class="editListingLink" id="${keyObj.brand_uuid}_${key}"><i>Approve/Reject</i></a></td>
                                        <td><button class="btn btn-primary btn-border" id="${keyObj.brand_uuid}" disabled style="width:102px">No Action</button></td>
                                    </tr>
                            `);
                    }else if(keyObj.approval == "rejected"){
                        $("#appendAllBrandForApprovalVendor").append(`
                            <tr>
                                        <td><input type="checkbox"></td>
                                        <td>` + keyObj.brand_name + `</td>
                                        <td><img src="https://patashalafinder.in/media/` + keyObj.brand_logo + `" height=20px width=20px></td>
                                        <td>`+keyObj.fssai_number+`</td>
                                        <td>`+keyObj.brand_status+`</td>
                                        <td>`+keyObj.added_date+`</td>
                                        <td>`+keyObj.updated_date+`</td>
                                        <td>`+keyObj.approval+`</td>
                                        <td style="text-align:center"><a href="#" class="editListingLink" id="${keyObj.brand_uuid}_${key}"><i class="fa fa-eye"></i></a></td>
                                        <td><button class="btn btn-danger btn-border" id="${keyObj.brand_uuid}" disabled style="width:102px">No Action</button></td>
                                    </tr>
                            `);
                    }
                
            }
            $('#example-1').dataTable({
                "columnDefs": [{
                    "targets": [6],
                    "orderable": false,
                }]
            });
            $('#example-2').dataTable({
                "columnDefs": [{
                    "targets": [6],
                    "orderable": false,
                }]
            });
            // $.getScript("assets/js/new.js");
        },
        error: function (err) {
            alert(err.statusText);
        }
    });
    let brandUUid = ''
    $(document).on('click',".editListingLink", function () {
        
        // document.applyBrandForm_aprv.reset()
        let brandId = $(this).attr('id').split('_')[1];
        brandUUid = $(this).attr('id').split('_')[0]
        $("#reject_form").hide();
        $("#approveBtn").val('approve');
        $("#approveBtn").html('Approve');
        $.ajax({
        url: "https://patashalafinder.in/amrutha/get_brand",
        type:"POST",
        dataType:'JSON',
        data:{
               'admin_uuid':localStorage.getItem('admin_uuid')
        },
        success: function (result) {
            let objFullVendor = result.data.vendor_brand;
            //console.log(objFullVendor[brandId]);
            let thisBrandData = objFullVendor[brandId];
            $('#brand_name_aprv').val(thisBrandData.brand_name)
            $("#req1_aprv").val(thisBrandData.price_details === true ? "Yes" : "No")
            $("#req2_aprv").val(thisBrandData.fssai_details === true ? "Yes" : "No")
            $("#req3_aprv").val(thisBrandData.ingredients_details === true ? "Yes" : "No")
            $("#brand_website_name_aprv").val(thisBrandData.brand_website);
            $("#req4_aprv").val(thisBrandData.currently_selling);
            $("#fssai_no_aprv").val(thisBrandData.fssai_number);
            $("#doc_type_aprv").val(thisBrandData.document_type)
            $("#brand_owner_aprv").val(thisBrandData.brand_owner);

            if(thisBrandData.approval == "pending"){
                $("#showOnPending").slideDown(500)
            }else if(thisBrandData.approval == "approved" || thisBrandData.approval == "rejected"){
                $("#showOnRejectApprove").slideDown(500);
                thisBrandData.approval == "approved" ? $("#approveRejectBtnStatus").html('Approved <span><i class = "fa fa-check"></i></span>') : $("#approveRejectBtnStatus").html('Rejected <span><i class = "fa fa-times"></i></span>')
                $("#reject_form").slideDown(500);
                $("#reject_reason").val(thisBrandData.description)
                
            }      

            $("#upload_file2a_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.fssai_image)
            $("#upload_file2a_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.fssai_image)

            $("#upload_file2b_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.mrp_image)
            $("#upload_file2b_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.mrp_image)

            $("#upload_file2c_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.manufacture_importer_image)
            $("#upload_file2c_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.manufacture_importer_image)

            $("#upload_file2d_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.veg_non_image)
            $("#upload_file2d_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.veg_non_image)

            $("#upload_file2e_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.ingredients_image)
            $("#upload_file2e_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.ingredients_image)

            $("#upload_file2f_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.manufacture_importer_image)
            $("#upload_file2f_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.manufacture_importer_image)

            $("#brand_certificate_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.manufacture_importer_image)
            $("#brand_certificate_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.manufacture_importer_image)

            $("#upload_logo_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.brand_logo)
            $("#upload_logo_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.brand_logo)

            $("#mrp_tag_aprv").attr('src',"https://patashalafinder.in/media/"+thisBrandData.sample_mrp_image)
            $("#mrp_tag_aprv_view").attr('href',"https://patashalafinder.in/media/"+thisBrandData.sample_mrp_image)
        },
        error : function (err) {
            console.log(err.responseText)
        }
    });
        $(".tableDivFloat").slideDown(500);
    });
    
    $(document).on('click',"#closeTableDiv", function () {
        
        $(".tableDivFloat").slideUp(500);
    });
    $(document).on('mouseenter','.boxAttach',function () {
        // alert('enter')
        $(this).find(".docNameSize").addClass('docNameSizeMoveUp');
        $(this).find('.viewDownload').show();
        $(this).find(".viewDownload").addClass('viewDownloadAnimate')
    });
    $(document).on('mouseleave','.boxAttach',function () {
        // alert('enter')
        $(this).find(".docNameSize").removeClass('docNameSizeMoveUp');
        
        $(this).find(".viewDownload").removeClass('viewDownloadAnimate');
        $(this).find('.viewDownload').hide();
    });
    $(document).on('click','#reject_appl',function (e) {
        e.preventDefault();
        $("#reject_form").slideDown(500);
        $("#approveBtn").val('reject');
        $("#approveBtn").html('Send');
    });

    $(document).on('submit','#applyBrandForm_aprv',function (e) {
        e.preventDefault();

        let form = new FormData();
        form.append("admin_uuid", localStorage.getItem('admin_uuid'));
        form.append("brand_uuid", brandUUid);
       
        
        
       
        if($("#approveBtn").val() == "approve"){
        
            form.append("approval", "approved");
            
        }else if($("#approveBtn").val() == "reject"){
            form.append("approval", "rejected");
            form.append("description",$("#reject_reason").val());
        }
        
   
    
        $.ajax({
            "async": true,
            "crossDomain": true,
            "url": "https://patashalafinder.in/amrutha/update_brand",
            "method": "POST",
            
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            "data": form,
            success:(result)=>{
                console.log(result);
                brandUUid='';
                $(".tableDivFloat").slideUp(500);
                $("#reject_form").slideUp(500);
                $("#approveBtn").val('approve');
                $("#approveBtn").html('Approve');
                $(".form-control").val('')
            },
            error:(err)=>{
                console.log(err.responseText)
            }
        })
    })
</script>
<script src="assets/js/new.js" type="text/javascript"></script>