<style>
.trigger-file-image-add{
    height:150px;
    width:150px;
    margin-bottom: 10px;
}
.overlayImg{
    position: absolute;
    top: 0;
    left: 13px;
    z-index: 2;
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
    color: #fff;
    background-color: rgba(33,33,33,0.5);
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,0.5,1);
    -moz-transition-timing-function: cubic-bezier(0.4,0,0.5,1);
    transition-timing-function: cubic-bezier(0.4,0,0.5,1);
}
.overlayImg:hover{
    opacity: 1;
}
.overlayImg a i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: #fbcf00;
    cursor: pointer;
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.trigger-file-image-add:hover{
    opacity: .5;
}
.alertSpan{
    display: none;
    color: red;
    position: absolute;
    font-size: 10px;
    padding: 0px 0px 0px 4px;
}

</style>
<section class="wrapper main-wrapper">

        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <h1 class="title">Add a Product</h1>                            </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li id="eco-all-products">
                            <a href="#">Products</a>
                        </li>
                        <li class="active">
                            <strong>Add Product</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Enter Info</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form name="addPrdt" id="addPrdt" >

                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">


                                <div class="form-group">
                                    <label class="form-label" for="prdt_cat">Category</label>
                                    <span class="desc"></span>
                                   <div class="controls">
                                    <select class="form-control" id="prdt_cat" required>
                                        <option></option>
                                        <option value="Pickle">Pickle</option>
                                        <option value="Masala">Masala</option>
                                        <option value="Snacks">Snacks</option>

                                    </select>
                                    <span class="alertSpan" id="alert_for_prdt_cat">Select Category</span>

                                   </div>

                                </div>

                                <div class="form-group">
                                        <label class="form-label" for="prdt_sub_cat">Sub Category</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" id="prdt_sub_cat" required>
                                                <option selected disabled>Choose Sub Category</option>
                                                <option value="Veg">Veg</option>
                                                <option value="Non Veg">Non Veg</option>
                                                <option value="Spicy">Spicy</option>
                                                <option value="Masala">Masala</option>
                                                <option value="New">New</option>
                                                <option value="Recomended">Recomended</option>
                                                <option value="Popular">Popular</option>
                                            </select>
                                            <span class="alertSpan" id="alert_for_prdt_sub_cat">Select Sub Category</span>
    
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <label class="form-label" for="prdt_batch_id">Batch Id</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control num_alpha_only" id="prdt_batch_id" required>
                                        <span class="alertSpan" id="alert_for_prdt_batch_id">Enter Batch Id</span>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="form-label" for="field-1">Product Name</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control num_alpha_only" id="prdt_name" required>
                                        <span class="alertSpan" id="alert_for_prdt_name">Enter Product Name</span>

                                    </div>
                                </div>


                              

                                <div class="form-group">
                                    <label class="form-label" for="field-5">Manufacturing Date</label>
                                    <span class="desc">e.g. "2019-07-01"</span>
                                    <div class="controls">
                                        <input id="prdt_mfd" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                        <span class="alertSpan" id="alert_for_prdt_mfd">Set Manufacturing Date</span>

                                    </div>

                                </div>


                                 <div class="form-group">
                                    <label class="form-label" for="field-5">Expiry Date</label>
                                    <span class="desc">e.g. "2020-05-01`"</span>
                                    <div class="controls">
                                        <input type="text" id="prdt_expd" data-format="yyyy-mm-dd" class="form-control datepicker"  required>
                                        <span class="alertSpan" id="alert_for_prdt_expd">Set Expiry Date</span>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="form-label" for="prdt_status">Status</label>
                                    <span class="desc"></span>
                                    <select class="form-control" id="prdt_status"> 
                                        <option></option>
                                        <option >In Stock</option>
                                        <option>Out of Stock</option>
                                    </select>
                                </div>

                                <input type="file" class="form-control" id="trigger_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">

                                <section class="box ">
                                        <header class="panel_header">
                                            <h2 class="title pull-left">Web Images</h2>
                                           
                                        </header>
                                        <div class="content-body">    <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
            
                                                    <div class="bs-example bs-example-images" data-example-id="image-shapes">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/front400.jpg" id="image1_1" data-holder-rendered="true">
                                                            <div class="overlayImg">
                                                                <a  class="trigger-file image1_1"><i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/left400.jpg" id="image2_1" data-holder-rendered="true">
                                                            <div class="overlayImg">
                                                                <a  class="trigger-file image2_1"><i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/right400.jpg" id="image3_1" data-holder-rendered="true">
                                                            <div class="overlayImg">
                                                                <a  class="trigger-file image3_1"><i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/top400.jpg" id="image4_1" data-holder-rendered="true">
                                                            <div class="overlayImg">
                                                                <a  class="trigger-file image4_1"><i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/pricing400.jpg" id="image5_1" data-holder-rendered="true">
                                                            <div class="overlayImg">
                                                                <a  class="trigger-file image5_1"><i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/nutrients400.jpg" id="image6_1" data-holder-rendered="true">
                                                            <div class="overlayImg">
                                                                <a  class="trigger-file image6_1"><i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
            
                                                    <div class="clearfix"></div>
            
            
                                                </div>
                                            </div>
                                        </div>
                                </section>

                                <section class="box ">
                                            <header class="panel_header">
                                                <h2 class="title pull-left">Android Images</h2>
                                               
                                            </header>
                                            <div class="content-body">    <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                
                                                        <div class="bs-example bs-example-images" data-example-id="image-shapes">
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/front200.jpg" id="image1_2" data-holder-rendered="true">
                                                                <div class="overlayImg">
                                                                    <a  class="trigger-file image1_2"><i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/left200.jpg" id="image2_2" data-holder-rendered="true">
                                                                <div class="overlayImg">
                                                                    <a  class="trigger-file image2_2"><i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </div>
                                                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/right200.jpg" id="image3_2" data-holder-rendered="true">
                                                                <div class="overlayImg">
                                                                    <a  class="trigger-file image3_2"><i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/top200.jpg" id="image4_2" data-holder-rendered="true">
                                                                <div class="overlayImg">
                                                                    <a  class="trigger-file image4_2"><i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/pricing200.jpg" id="image5_2" data-holder-rendered="true">
                                                                <div class="overlayImg">
                                                                    <a  class="trigger-file image5_2"><i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </div>
                                                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <img  class="img-rounded img-responsive trigger-file-image-add" alt="140x140" src="data/nutrients200.jpg" id="image6_2" data-holder-rendered="true">
                                                                <div class="overlayImg">
                                                                    <a  class="trigger-file image6_2"><i class="fa fa-upload"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                
                                                        <div class="clearfix"></div>
                
                
                                                    </div>
                                                </div>
                                            </div>
                                </section>

                               

                                <div class="form-group">
                                    <label class="form-label" for="prdt_vendor">Vendor</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control num_alpha_only" id="prdt_vendor">
                                        <span class="alertSpan" id="alert_for_prdt_name">Enter Vendor Name</span>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="form-label" for="prdt_unit">Product Unit</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control alpha_only" id="prdt_unit" required>
                                        <span class="alertSpan" id="alert_for_prdt_unit">Enter Product Unit</span>

                                    </div>
                                </div>

                                 <div class="form-group">
                                    <label class="form-label" for="prdt_weight">Product Weight</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control num_only" id="prdt_weight" required>
                                        <span class="alertSpan" id="alert_for_prdt_weight">Enter Product Weight</span>

                                    </div>
                                </div>



                                <div class="form-group">
                                    <label class="form-label" for="prdt_price">Product Price</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control num_only" id="prdt_price" required>
                                        <span class="alertSpan" id="alert_for_prdt_price">Enter Product Price</span>

                                    </div>
                                </div>


                                <!-- <div class="form-group">
                                    <label class="form-label" for="prdt_tax">Tax</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control" id="prdt_tax">
                                    </div>
                                </div> -->


                                <!-- <div class="form-group">
                                    <label class="form-label" for="field-1">Discount</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control" id="field-1">
                                    </div>
                                </div> -->


                                <div class="form-group">
                                    <label class="form-label" for="prdt_quantity">Quantity</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control num_only" id="prdt_quantity" required>
                                        <span class="alertSpan" id="alert_for_prdt_quantity">Enter Product Quantitu</span>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label" for="prdt_desc">Description</label>
                                    <span class="desc">e.g. "Enter only 1000 character of text description here"</span>
                                    <div class="controls">
                                        <textarea class="form-control autogrow" cols="5" id="prdt_desc" style="resize:vertical" maxlength="1000" required></textarea>
                                        <span class="alertSpan" id="alert_for_prdt_des">Enter Product Description</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                        <label class="form-label" for="prdt_short_desc">Short Description</label>
                                        <span class="desc">e.g. "Enter only 100 character of text description here"</span>
                                        <div class="controls">
                                            <textarea class="form-control autogrow" cols="5" id="prdt_short_desc" style="resize:vertical" maxlength="100" required></textarea>
                                            <span class="alertSpan" id="alert_for_prdt_short_desc">Enter Product Short Description</span>
    
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <label class="form-label" for="prdt_desc_madehow">How Is It Made</label>
                                    <span class="desc">e.g. "Enter only 1000 character of text description here"</span>
                                    <div class="controls">
                                        <textarea class="form-control autogrow" cols="5" id="prdt_desc_madehow" style="resize:vertical" maxlength="1000" required></textarea>
                                        <span class="alertSpan" id="alert_for_prdt_desc_madehow">Describe How Product Is made</span>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="prdt_desc_video">Video Of How Is It Made</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                            <input type="file" class="form-control" id="prdt_desc_video">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="form-label" for="prdt_desc_ingredients">Product Ingredients</label>
                                    <span class="desc">e.g. "Made From mango, lemon, carrot etc"</span>
                                    <div class="controls">
                                        <textarea class="form-control autogrow" cols="5" id="prdt_desc_ingredients" style="resize:vertical" maxlength="1000" required></textarea>
                                        <span class="alertSpan" id="alert_for_prdt_desc_ingredients">Enter Product Name</span>

                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="form-label" for="prdt_desc_sellermsg">Seller Message</label>
                                    <span class="desc">e.g. "Enter any size of text description here"</span>
                                    <div class="controls">
                                        <textarea class="form-control autogrow" cols="5" id="prdt_desc_sellermsg" style="resize:vertical" required></textarea>
                                        <span class="alertSpan" id="alert_for_prdt_desc_sellermsg">Enter Message From Seller</span>

                                    </div>
                                </div>

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                                    <i class="fa fa-check"></i> Add Offer Details
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                                            <div class="panel-body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.  
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                                <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                    <div class="text-left">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" class="btn">Cancel</button>
                                    </div>
                                    <!-- <div class='pm-button'><a href='https://www.payumoney.com/paybypayumoney/#/4C8CDD2EA623C875096C95A3FDCFC651'><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png
                                        https://www.payumoney.com/media/images/payby_payumoney/new_buttons/21.png
                                        ' /></a></div> -->
                                </div>
                        </form>
                    </div>


                </div>
            </section></div>



</section>
<script type="text/javascript">
    
    
    
</script>
<script type="text/javascript">
 $.ajax({
        url: "https://patashalafinder.in/amrutha/getproduct",
        type: "POST",
        data:{
            webOrMobile:"1",
        },
        success: function (result) {
            // alert(result);
            console.log(result.data);
            let objFull=result.data;
            let categoryArr=[];
           

        },
        error: function (err) {
            console.log(err.responseJSON)
            alert(err.statusText);
        }
    });

</script>
<script src="assets/js/new.js" type="text/javascript"></script> 
<!-- http://192.168.1.15:1212/payment -->