<style>
    #showOnSubCateClick {
        display: none;
    }
    .actDeactSubCat{
        cursor: pointer;
        width: 102px;
        margin: 1% 0%;
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">Sub Category Management</h2>
                <div class="actions panel_actions pull-right">
                    <button type="button" class="btn btn-success" id="add_sub_cate">ADD SUB CATEGORY</button>
                </div>
            </header>

        </section>
        <section class="box" id="showOnSubCateClick">
            <header class="panel_header">
                <h2 class="title pull-left">Sub Category Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="addSubCategoryForm" name="addSubCategoryForm">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="cate_add">Category Name</label>
                                <span class="desc">e.g. "Pickles, Masala, Snacks etc."</span>
                                <div class="controls">
                                    <select id="cate_add" class="form-control" required>
                                        <option selected disabled>Select One</option>
                                        <option value="Pickles">Pickles</option>
                                        <option value="Masala">Masala</option>
                                        <option value="Snacks">Snacks</option>
                                    </select>
                                </div>
                            </div>



                            <div class="form-group">
                                <label class="form-label" for="field-1">Category Names</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="tagsinput-3" />
                                </div>
                            </div>



                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Sub Category Table</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendTableSubCategory">


                        <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                            <thead style="font-size: 11px;">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Product Details</th>
                                    <th>Image</th>
                                    <th>Listing Price</th>
                                    <th>Usual Price</th>
                                    <th>Final Price</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>MFD</th>
                                    <th>Expiry Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tfoot style="font-size:11px">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Product Details</th>
                                    <th>Image</th>
                                    <th>Listing Price</th>
                                    <th>Usual Price</th>
                                    <th>Final Price</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>MFD</th>
                                    <th>Expiry Date</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>

                            <tbody id="appendAllAddedSubCategory">

                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </section>

    </div>


</section>
<script type="text/javascript">
    $("#add_sub_cate").click(function () {
        $("#showOnSubCateClick").slideDown(500);
        let formData = new FormData();
        formData.append("admin_uuid", localStorage.getItem('admin_uuid'))

        fetch('https://patashalafinder.in/admin_amrutha/get_category', {
                method: 'POST',
                body: formData,
            })
            .then(res => res.json())
            .then(data => {
                // console.log(data.data);
                let activeCat = data.data.True;
                $("#cate_add").empty();
                $("#cate_add").append(`
                         <option selected disabled>Select One</option>       
                    `)
                for (let key in activeCat) {
                    let eachCat = activeCat[key];
                    $("#cate_add").append(`
                        <option value="${eachCat.category_name}">${eachCat.category_name}</option>
                        `)

                }
            })
            .catch(err => {
                console.log(err)
            });


    });


    let formData = new FormData();
    formData.append("admin_uuid", localStorage.getItem('admin_uuid'))

    fetch('https://patashalafinder.in/admin_amrutha/get_category', {
            method: 'POST',
            body: formData,
        })
        .then(res => res.json())
        .then(data => {
            // console.log(data.data);
            $("#appendTableSubCategory").empty();
            $("#appendTableSubCategory").append(`
                    <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                            <thead style="font-size: 11px;">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                    <th>Sub Category</th>
                                   
                                </tr>
                            </thead>

                            <tfoot style="font-size:11px">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                    <th>Sub Category</th>
                                   
                                </tr>
                            </tfoot>

                            <tbody id="appendAllAddedSubCategory">

                            </tbody>
                        </table>
                    `)
            let activeCat = data.data.True;

            for (let key in activeCat) {
                let eachCat = activeCat[key];
                $("#appendAllAddedSubCategory").append(`
                       <tr>
                                            <td><input type="checkbox"></td>
                                            <td>${eachCat.category_name}</td>
                                            <td>Active</td>
                                            <td id="eachSub${key}"></td>
                                           
                                           
                        </tr>
                       `)
                $.ajax({
                    url: "https://patashalafinder.in/admin_amrutha/get_sub_category",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        admin_uuid: localStorage.getItem('admin_uuid'),
                        category_name: eachCat.category_name
                    },
                    success: function (result) {
                        let subCatObj = result.data.subcategory
                        let activeSubCat = result.data.subcategory.True;
                        let inActiveSubCat = result.data.subcategory.False
                        //console.log(activeSubCat,inActiveSubCat);
                        for (let key1 in activeSubCat) {
                            let eachSubCat = activeSubCat[key1];
                            $('#eachSub' + key).append(`
                                        <tr>
                                            <td style="width:80%"><i class="fa fa-hand-o-right"></i> ${eachSubCat.subcategory_name}</td>
                                            <td style="width:20%"><button class="btn btn-danger btn-border actDeactSubCat" value="False" id="${eachCat.category_name.split(" ").join("_")}-${eachSubCat.subcategory_name.split(" ").join("_")}">Deactivate</button></td>
                                        </tr
                                    `)
                        }
                        for (let key2 in inActiveSubCat) {
                            let eachSubCat = inActiveSubCat[key2];
                            $('#eachSub' + key).append(`
                                        <tr>
                                            <td style="width:80%"><i class="fa fa-hand-o-right"></i> ${eachSubCat.subcategory_name}</td>
                                            <td style="width:20%"><button class="btn btn-success btn-border actDeactSubCat" value="True" id="${eachCat.category_name.split(" ").join("_")}-${eachSubCat.subcategory_name.split(" ").join("_")}">Activate</button></td>
                                        </tr
                                    `)
                        }

                    },
                    error: function (err) {
                        console.log(err.responseJSON.message);
                    }
                });
            }
        })
        .catch(err => {
            console.log(err)
        });
</script>
<script src="assets/js/new.js" type="text/javascript"></script>