<style>
.alertSpan{
    display: none;
    color: red;
    position: absolute;
    font-size: 10px;
    padding: 0px 0px 0px 4px;
}
#float_only{
    display: none;
}
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Add Coupons</h1>                            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-coupons">
                        <a href="#">Coupons</a>
                    </li>
                    <li class="active">
                        <strong>Add Coupons</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Add Coupons</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form  id="addCoupons" >
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="offerUser">User</label>
                                <span class="desc"></span>
                                <select class="form-control" id="offerUser">
                    
                                    <option value="Admin" selected disabled>Admin</option>
                                   

                                </select>
                            </div>
                         
                        </div>
 

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="coupon_type">Coupon Type</label>
                                <span class="desc"></span>
                                <select class="form-control" id="coupon_type" required>
                                    <option></option>
                                    <option value="Signup">SignUp Coupons</option>
                                    <option value="Fixed">Flat Coupons</option>
                                    <option value="Float">Float Coupons</option>

                                </select>
                            </div>
                            <span class="alertSpan" id="alert_for_offer_type">Select Coupon Type</span>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="coupon_code">Coupon Code</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_alpha" id="coupon_code" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_code">Enter Coupon Code</span>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="signup_fixed">

                            <div class="form-group">
                                <label class="form-label" for="coupon_amount_each">Each Coupon Amount</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_alpha" id="coupon_amount_each">
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_amount_each">Enter Each Coupon Amount</span>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" id="float_only">

                            <div class="form-group">
                                <label class="form-label" for="coupon_percent">Coupon Percent</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_alpha" id="coupon_percent">
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_percent">Enter Coupon Percent</span>

                        </div>
                    

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="cart_value_to_avail_coupon">Min Cart Value To Aply Coupon</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_alpha" id="cart_value_to_avail_coupon" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_cart_value_to_avail_coupon">Enter Minimum Cart Value To Apply Coupon</span>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="coupon_amount_max_get">Max Disc. By Applying Coupons</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_alpha" id="coupon_amount_max_get" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_amount_max_get">Enter Max Discount Amount By Applying Coupons</span>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="coupon_usage_times">Usage Time</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_alpha" id="coupon_usage_times" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_usage_times">Enter Max Time He/She Can Use this coupons</span>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="coupon_start_date">Coupon Start Date</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="coupon_start_date" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_start_date">Select Coupon Start Date</span>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="end">Coupon End Date</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="coupon_end_date" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_coupon_end_date">Select Coupon End Date</span>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="terms">Terms & Conditions</label>
                                <span class="desc">e.g. "Enter any size of Terms & Conditions here"</span>
                                <div class="controls">
                                    <textarea class="form-control autogrow" cols="5" id="terms" style="resize:vertical" required></textarea>
                                    <span class="alertSpan" id="alert_for_terms">Enter Terms and conditions</span>

                                </div>
                            </div>

                        </div>
                   

                      
                     
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                    </form>
                </div>


            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
    
   

    $(document).on('change','#coupon_type',function () {
        if($("#coupon_type").val() == "signup" || $("#coupon_type").val() == "flat"){
            $("#signup_fixed").show();
            $("#float_only").hide();
        }else{

            $("#float_only").show();
            $("#signup_fixed").hide();
        }
        
    });

    
</script>
<script src="assets/js/new.js" type="text/javascript"></script> 