<style>
     .select2-choices {
        background-color: white !important;
    }
    #showOnAddClickPrdtSum {
        display: none;
    }
    .bottom{
        display: none;
    }
    .image_color_structure_slider_web{
            min-height: 200px;
            width: 100%;
            background: white;
            overflow: hidden;
        }
       
        .image_color_structure_slider_mob{
            min-height: 200px;
            width: 100%;
            background: white;
            overflow: hidden;
        }
       
        .image_color_upload_structure_slider{
            width: 100px;
            height: 100px;
            /* border: 1px solid grey; */
            float: left;
            margin: 7% 3%;
        }
        .image_color_upload_structure_slider_mob{
            width: 100px;
            height: 100px;
            /* border: 1px solid grey; */
            float: left;
            margin: 7% 3%;
        }
    .image_structure_slider_web{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
   
    .image_structure_slider_mob{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
   
    .image_upload_slider_structure_slider{
        width: 100px;
        height: 100px;
        /* border: 1px solid grey; */
        float: left;
        margin: 7% 3%;
    }
    .image_upload_slider_structure_slider_mob{
        width: 100px;
        height: 100px;
        /* border: 1px solid grey; */
        float: left;
        margin: 7% 3%;
    }
    .uploadIcon{
        /* position: relative;
        top: 37%;
        left: 40%; */
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">Dashboard Management</h2>
                <div class="actions panel_actions pull-right">
                    <button type="button" class="btn btn-success" id="add_new_PrdtSum_to_slider">Set Static Structure Sliders</button>
                </div>
            </header>

        </section>
        <section class="box" id="showOnAddClickPrdtSum">
            <header class="panel_header">
                <h2 class="title pull-left">Static Structure Sliders</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                           <div class="form-group">
                                <label class="form-label" for="staticStructureName">Structure Name</label>
                                <div class="controls">
                                    <input type="text" autocomplete="off" class="form-control" id="staticStructureName" />
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="staticStructureLink">Link URL</label>
                                <div class="controls">
                                    <input type="text" autocomplete="off" class="form-control" id="staticStructureLink" />
                                   
                                </div>
                            </div>
                             <div class="form-group">
                                    <label class="form-label" for="staticStructureActivationDate">Activation Date</label>
                                    <div class="controls">
                                        <input autocomplete="off" type="text" class="form-control datepicker" id="staticStructureActivationDate" data-format="yyyy-mm-dd"/>
                                       
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="form-label" for="staticStructureExpiryDate">Expiry Date</label>
                                    <div class="controls">
                                        <input autocomplete="off" type="text" class="form-control datepicker" id="staticStructureExpiryDate" data-format="yyyy-mm-dd"/>
                                       
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="staticStructureAnimate">Animation Names</label>
                                <div class="controls">
                                    <input autocomplete="off" type="text" class="form-control" id="staticStructureAnimate" />
                                </div>
                            </div>
                            
                    </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                              
                                        <label class="form-label" for="staticStructure">Select Position</label>
                                        
                                    
                            <group class="inline-radio" style="width: 66%;margin: 0% 0%;">
                                <div><input  type="radio" name="staticStructure" value="TOP" checked><label>TOP</label></div>
                                <div><input  type="radio" name="staticStructure" value="BOTTOM"><label>BOTTOM</label></div>
                                <div><input  type="radio" name="staticStructure" value="IMAGE" ><label>IMAGE</label></div>
                                <div><input  type="radio" name="staticStructure" value="CARD"><label>CARD</label></div>
                                <div><input  type="radio" name="staticStructure" value="SMALL1" ><label>SMALL1</label></div>
                                <div><input  type="radio" name="staticStructure" value="SMALL2"><label>SMALL2</label></div>
                                <div><input  type="radio" name="staticStructure" value="SMALL3" ><label>SMALL3</label></div>
                                <div><input  type="radio" name="staticStructure" value="SMALL4"><label>SMALL4</label></div>
                            </group> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 notBottom">

                            <label for="">Structure Image Web</label>
                            <input type="file" class="form-control" id="trigger_slider_structure_slider_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                            name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                            <div class="image_structure_slider_web">
                                <div class="image_upload_slider_structure_slider imageStructureSlider" id="imageStructureSlider" style="width: 300px;">
                                    <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                </div>
                            </div>
                           

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 notBottom">

                                <label for="">Structure Image Mobile</label>
                                <!-- <input type="file" class="form-control" id="trigger_slider_structure_slider_image_upload_mob" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%"> -->
                                <div class="image_structure_slider_mob">
                                    <div class="image_upload_slider_structure_slider imageStructureSlider_mob" id="imageStructureSlider_mob" style="width: 300px;">
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                    </div>
                                </div>
                               
    
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 bottom">
                                <div class="form-group">
                                        <label class="form-label" for="s2example-1">Select Product</label>
                                        <div class="controls">
                                           <select name="" id="s2example-1" multiple="" tabindex="-1">

                                           </select>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom">
    
                                <label for="">Bottom Slider Image Web</label>
                                <input type="file" class="form-control" id="trigger_color_structure_slider_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                                <div class="image_color_structure_slider_web">
                                    <div class="image_color_upload_structure_slider imageColorStructureSlider" id="imageColorStructureSliderX1" >
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                    </div>
                                </div>
                               
    
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bottom">
    
                                    <label for="">Bottom Slider Image Mobile</label>
                                    <!-- <input type="file" class="form-control" id="trigger_slider_structure_slider_image_upload_mob" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                    name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%"> -->
                                    <div class="image_color_structure_slider_mob">
                                        <div class="image_color_upload_structure_slider imageStructureSlider_mob" id="imageStructureSlider_mobX1">
                                            <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                        </div>
                                    </div>
                                   
        
                                </div>
                        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <label for="">Background Slider Image Web</label>
                               
                                <div class="image_prdt_sum_background_div">
                                    <div class="image_upload_slider_prdt_summary imagePrdtSumbackground" id="imagePrdtSumbackground">
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                    </div>
                                </div>
                                
    
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                <label for="">Background Slider Image Mobile</label>
                               
                                <div class="image_prdt_sum_background_div_mob">
                                    <div class="image_upload_slider_prdt_summary_mob imagePrdtSumbackground_mob" id="imagePrdtSumbackground_mob">
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                    </div>
                                </div>
                                
    
                        </div> -->
                            <div class="col-lg-12 col-md-2 col-sm-12 col-xs-12">
                                    <div class="text-right" style="margin-top: 5px;">
                                            <button type="button" class="btn btn-success" id="uploadStructureSlider">Upload</button>
                                    </div>
                               
                            </div>
                            
                </div>


            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Dashboard Preview</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 carousel-wrap" >

                        <div class="partner-slides owl-carousel owl-theme" id="appendBadgeSlider">
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-1.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-2.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-3.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-4.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-5.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-6.jpg" alt="image"></a>
                            </div>
                        </div>
                       



                    </div>
                </div>
            </div>
        </section>
    </div>


</section>
<script src="assets/js/new.js" type="text/javascript"></script>
<script>
$("#add_new_PrdtSum_to_slider").click(function () {
    $("#showOnAddClickPrdtSum").show(1000);
});

$('#appendBadgeSlider').owlCarousel({
            loop: false,
            nav: true,
            dots: true,
            autoplayHoverPause: true,
            autoplay: true,
            mouseDrag: true,
            margin: 30,
            navText: [
                "<i class='flaticon-arrow-pointing-to-left'></i>",
                "<i class='flaticon-arrow-pointing-to-right'></i>"
            ],
            responsive: {
                0: {
                    items: 2,
                },
                576: {
                    items: 3,
                },
                768: {
                    items: 4,
                },
            }
        });

        $.ajax({
        url:"https://patashalafinder.in/amrutha/get_static_slider",
        type:"POST",
        dataType:"JSON",
        data:{

            admin_uuid:localStorage.getItem('admin_uuid'),

        },
        success:function (result) {
          
            let sliderObj = result.data;
            console.log(result.data);
          
   
        },
        error:function (err) {
            // $("#imagePosNo").val('0');
            console.log(err.responseText);
        }
    });
</script>