<style>
    .trigger-file-hot {
        height: 150px;
        width: 150px;
        margin-bottom: 10px;
    }

    .trigger-file-hot:hover {
        opacity: .5;
    }

    .alertSpan {
        display: none;
        color: red;
        position: absolute;
        font-size: 10px;
        padding: 0px 0px 0px 4px;
    }
    #percentHot{
        display: none;
    }
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Hot Product</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-all-products">
                        <a href="#">Products</a>
                    </li>
                    <li class="active">
                        <strong>Hot Product</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                       
                        <div class="form-group">
                            <label class="form-label" for="franchiseHot">Select Franchise</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <select class="form-control" id="franchiseHot" required>
                                    <option selected disabled>Select One</option>
                                    <option value="Pickle">Pickle</option>
                                   

                                </select>
                                <span class="alertSpan" id="alert_for_prdt_cat_hot">Select Category</span>

                            </div>

                        </div>

                        <div class="form-group">
                            <label class="form-label" for="prdt_sub_cat_hot">Product Name</label>
                            <span class="desc"></span>
                            <div class="controls">
                                <select class="form-control" id="prdt_sub_cat_hot" required>

                                </select>
                                <span class="alertSpan" id="alert_for_prdt_sub_cat_hot">Select Sub Category</span>

                            </div>
                        </div>

                        
                        <div class="form-group">
                            <label class="form-label" for="prdt_hot_quantity">Hot Item Stock</label>
                            <span class="desc">e.g. "100,200"</span>
                            <div class="controls">
                                <input autocomplete="off" type="text" id="prdt_hot_quantity" 
                                    class="form-control" required>
                                <span class="alertSpan" id="alert_for_prdt_hot_quantity">Hot Offer End Date</span>

                            </div>
                        </div>





                        <div class="form-group">
                            <label class="form-label" for="field-5">Hot Offer Start Date</label>
                            <span class="desc">e.g. "2019-08-15"</span>
                            <div class="controls">
                                <input autocomplete="off" id="prdt_hot_off_start" type="text" data-format="yyyy-mm-dd"
                                    class="form-control datepicker" value="" required>
                                <span class="alertSpan" id="alert_for_prdt_hot_off_start">Hot Offer Start Date</span>

                            </div>

                        </div>


                        <div class="form-group">
                            <label class="form-label" for="field-5">Hot Offer End Date</label>
                            <span class="desc">e.g. "2020-01-01`"</span>
                            <div class="controls">
                                <input autocomplete="off" type="text" id="prdt_hot_off_end" data-format="yyyy-mm-dd"
                                    class="form-control datepicker" required>
                                <span class="alertSpan" id="alert_for_prdt_hot_off_end">Hot Offer End Date</span>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label" for="prdt_hot_off_start_time">Hot Offer Start Time</label>
                            <span class="desc">e.g. "03:00 pm"</span>
                            <div class="controls">
                                <input autocomplete="off" id="prdt_hot_off_start_time" type="text" 
                                    class="form-control timepicker" value="" required data-template="dropdown" data-show-seconds="false" data-default-time="07:45 pm" data-show-meridian="true" data-minute-step="5">
                                <span class="alertSpan" id="alert_for_prdt_hot_off_start_time">Hot Offer Start Date</span>

                            </div>

                        </div>


                        <div class="form-group">
                            <label class="form-label" for="prdt_hot_off_end_time">Hot Offer End Time</label>
                            <span class="desc">e.g. "05:00 pm"</span>
                            <div class="controls">
                                <input autocomplete="off" type="text" id="prdt_hot_off_end_time" 
                                    class="form-control timepicker" required data-template="dropdown" data-show-seconds="false" data-default-time="09:45 pm" data-show-meridian="true" data-minute-step="5">
                                <span class="alertSpan" id="alert_for_prdt_hot_off_end_time">Hot Offer End Date</span>

                            </div>
                        </div>

                        <group class="inline-radio">
                            <div><input  type="radio" name="hotOffer" value="AMOUNT" checked><label>AMOUNT</label></div>
                            <div><input  type="radio" name="hotOffer" value="PERCENT"><label>PERCENT</label></div>
                        </group>                       

                        <div class="form-group" id="amountHot">
                            <label class="form-label" for="prdt_hot_amount">Hot Item Offer Amount</label>
                            <span class="desc">e.g. "100,200"</span>
                            <div class="controls">
                                <input autocomplete="off" type="text" id="prdt_hot_amount" 
                                    class="form-control" required>
                                <span class="alertSpan" id="alert_for_prdt_hot_amount">Hot Offer End Date</span>

                            </div>
                        </div>
                        <div class="form-group" id="percentHot">
                            <label class="form-label" for="prdt_hot_percent">Hot Item Offer Percent</label>
                            <span class="desc">e.g. "100,200"</span>
                            <div class="controls">
                                <input autocomplete="off" type="text" id="prdt_hot_percent" 
                                    class="form-control" required>
                                <span class="alertSpan" id="alert_for_prdt_hot_percent">Hot Offer End Date</span>

                            </div>
                        </div>

                        <div class="text-right">
                            <button type="button"  class="btn btn-primary" id="hotDeal">Save</button>
                        </div>

                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="appendHotOfferTable">

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
    let formData = new FormData();
        formData.append("admin_uuid", localStorage.getItem('admin_uuid'));
        $.ajax({
            "async": true,
            "crossDomain": true,
            "url": "https://patashalafinder.in/amrutha/get_franchise",
            "method": "POST",
            "data": formData,
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            success: (result) => {
    
                let data = JSON.parse(result).data;
                //console.log(data)
               
                $("#franchiseHot").empty();
                $("#franchiseHot").append('<option selected disabled>Select One</option>');
                $.each(data, (key, value) => {
                    
                        $("#franchiseHot").append(`
                        <option value="${value.franchise_uuid}">${value.franchise_name}</option>
                        `);
                   
    
                });
                
                setTimeout(()=>{
                    $("#franchiseHot").val($("#franchiseHot option:eq(1)").val());
                    $("#franchiseHot").trigger('change')
                },300)
            },
            error: (err) => {
                console.log(err.responseText);
            }
        });
        
       
       
</script>
<script src="assets/js/new.js" type="text/javascript"></script>