<style>
      
      .closeModal{
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 1000;
    }
    #modal-content{
        margin-top: 100px;
    }
    #modal-footer{
        text-align: right;
    }
        
    </style>
    <section class="wrapper main-wrapper" style=''>
    
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
           
            <section class="box" id="showOnAddClickPrdtSum">
                <header class="panel_header">
                    <h2 class="title pull-left">Upload Policy</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                                    <div class="form-group">
                                            <label class="form-label" for="sliderExpiryDate">Select CSV File To Upload</label>
                                            <div class="controls">
                                                <input type="file" class="form-control " id="csvPolicy" accept=".csv"/>
                                               
                                            </div>
                                    </div>
    
                            </div>
                            
                                <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
                                        <div class="text-right" style="margin-top: 5px;">
                                                <button type="button" class="btn btn-success" id="uploadPolicy">Upload</button>
                                        </div>
                                   
                                </div>
                                
                    </div>
    
                </div>
            </section>
            <section class="box" id="showOnAddClickPrdtSum">
                    <header class="panel_header">
                        <h2 class="title pull-left">Vendor Policy</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle fa fa-chevron-down"></i>
                            <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                            <i class="box_close fa fa-times"></i>
                        </div>
                    </header>
                    <div class="content-body">
                       
                        <div class="row">
                            <div class="col-sm-12" id="policyTable">
    
                            </div>
                        </div>
                    </div>
                </section>
                <section class="box" id="showOnAddClickPrdtSum">
                        <header class="panel_header">
                            <h2 class="title pull-left">Franchise Policy</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                <i class="box_close fa fa-times"></i>
                            </div>
                        </header>
                        <div class="content-body">
                           
                            <div class="row">
                                <div class="col-sm-12" id="policyTableFranchise">
        
                                </div>
                            </div>
                        </div>
                </section>
                <section class="box" id="showOnAddClickPrdtSum">
                        <header class="panel_header">
                            <h2 class="title pull-left">User Policy</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                <i class="box_close fa fa-times"></i>
                            </div>
                        </header>
                        <div class="content-body">
                           
                            <div class="row">
                                <div class="col-sm-12" id="policyTableUser">
        
                                </div>
                            </div>
                        </div>
                </section>
                <section class="box" id="showOnAddClickPrdtSum">
                        <header class="panel_header">
                            <h2 class="title pull-left">Refund Policy</h2>
                            <div class="actions panel_actions pull-right">
                                <i class="box_toggle fa fa-chevron-down"></i>
                                <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                <i class="box_close fa fa-times"></i>
                            </div>
                        </header>
                        <div class="content-body">
                           
                            <div class="row">
                                <div class="col-sm-12" id="policyTableRefund">
        
                                </div>
                            </div>
                        </div>
                </section>
        </div>
    
    
    </section>
    <script src="assets/js/new.js" type="text/javascript"></script>
    <script>
   
            
    
            $.ajax({
            url:"https://patashalafinder.in/amrutha/get_users_policies",
            type:"POST",
            dataType:"JSON",
            data:{

                policy_type:"vendor"

            },
            success:function (result) {
                $("#policyTable").empty();
            $("#policyTable").append(`
            
            <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0" width="100%">
                            <thead style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                           
                                        </tr>
                                       
                                    </thead>
        
                                    <tfoot style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="appendAllPolicy">
                                    </tbody>
                            </table>
                            `)
                let sliderObj = result.data;
                console.log(result.data);
                            $.each(sliderObj,(key,value)=>{
                                console.log(value);
                                $("#appendAllPolicy").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + key + `</td>
                                            <td>` + value.message + `</td>
                                            
                                            <td><span class="editPolicy" id="${value.policy_id}_vendor"><i class="fa fa-edit"></i></span></td>
                                           
                                        </tr>
                                `)
                            })
                            $('#example-1').dataTable({
                                "columnDefs": [{
                                    "targets": [3],
                                    "orderable": false,
                                }]
                            });
            },
            error:function (err) {
                // $("#imagePosNo").val('0');
                console.log(err.responseText);
            }
        });
        $.ajax({
            url:"https://patashalafinder.in/amrutha/get_users_policies",
            type:"POST",
            dataType:"JSON",
            data:{

                policy_type:"franchise"

            },
            success:function (result) {
                $("#policyTableFranchise").empty();
            $("#policyTableFranchise").append(`
            
            <table id="example-2" class="table table-bordered dt-responsive display" cellspacing="0" width="100%">
                            <thead style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                           
                                        </tr>
                                       
                                    </thead>
        
                                    <tfoot style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="appendAllPolicyFranchise">
                                    </tbody>
                            </table>
                            `)
                let sliderObj = result.data;
                console.log(result.data);
                            $.each(sliderObj,(key,value)=>{
                                console.log(value);
                                $("#appendAllPolicyFranchise").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + key + `</td>
                                            <td>` + value.message + `</td>
                                            
                                            <td><span class="editPolicy" id="${value.policy_id}_franchise"><i class="fa fa-edit"></i></span></td>
                                           
                                        </tr>
                                `)
                            })
                            $('#example-2').dataTable({
                                "columnDefs": [{
                                    "targets": [3],
                                    "orderable": false,
                                }]
                            });
            },
            error:function (err) {
                // $("#imagePosNo").val('0');
                console.log(err.responseText);
            }
        });
        $.ajax({
            url:"https://patashalafinder.in/amrutha/get_users_policies",
            type:"POST",
            dataType:"JSON",
            data:{

                policy_type:"user"

            },
            success:function (result) {
                $("#policyTableUser").empty();
            $("#policyTableUser").append(`
            
            <table id="example-3" class="table table-bordered dt-responsive display" cellspacing="0" width="100%">
                            <thead style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                           
                                        </tr>
                                       
                                    </thead>
        
                                    <tfoot style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="appendAllPolicyUser">
                                    </tbody>
                            </table>
                            `)
                let sliderObj = result.data;
                console.log(result.data);
                            $.each(sliderObj,(key,value)=>{
                                console.log(value);
                                $("#appendAllPolicyUser").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + key + `</td>
                                            <td>` + value.message + `</td>
                                            
                                            <td><span class="editPolicy" id="${value.policy_id}_user"><i class="fa fa-edit"></i></span></td>
                                           
                                        </tr>
                                `)
                            })
                            $('#example-3').dataTable({
                                "columnDefs": [{
                                    "targets": [3],
                                    "orderable": false,
                                }]
                            });
            },
            error:function (err) {
                // $("#imagePosNo").val('0');
                console.log(err.responseText);
            }
        });
        $.ajax({
            url:"https://patashalafinder.in/amrutha/get_users_policies",
            type:"POST",
            dataType:"JSON",
            data:{

                policy_type:"refund"

            },
            success:function (result) {
                $("#policyTableRefund").empty();
            $("#policyTableRefund").append(`
            
            <table id="example-4" class="table table-bordered dt-responsive display" cellspacing="0" width="100%">
                            <thead style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                           
                                        </tr>
                                       
                                    </thead>
        
                                    <tfoot style="font-size:11px">
                                        <tr>
                                            <th><input type="checkbox"></th>
                                            <th>Policy No</th>
                                            <th>Policy Details</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="appendAllPolicyRefund">
                                    </tbody>
                            </table>
                            `)
                let sliderObj = result.data;
                console.log(result.data);
                            $.each(sliderObj,(key,value)=>{
                                console.log(value);
                                $("#appendAllPolicyRefund").append(`
                                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>` + key + `</td>
                                            <td>` + value.message + `</td>
                                            
                                            <td><span class="editPolicy" id="${value.policy_id}_refund"><i class="fa fa-edit"></i></span></td>
                                           
                                        </tr>
                                `)
                            })
                            $('#example-4').dataTable({
                                "columnDefs": [{
                                    "targets": [3],
                                    "orderable": false,
                                }]
                            });
            },
            error:function (err) {
                // $("#imagePosNo").val('0');
                console.log(err.responseText);
            }
        });
    </script>