<style>
.trigger-file-edit-image{
    height:150px;
    width:150px;
    margin-bottom: 10px;
}
.trigger-file-edit-image:hover{
    opacity: .5;
}
.alertSpan{
    display: none;
    color: red;
    position: absolute;
    font-size: 10px;
    padding: 0px 0px 0px 4px;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}
figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}
figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

figure h2 span {
	font-weight: 800;
}
figure h2,
figure p {
	margin: 0;
}
figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*-----------------*/
/***** Kira *****/
/*-----------------*/

figure.effect-kira {
	background: #fff;
	text-align: left;
}

figure.effect-kira img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-kira figcaption {
	z-index: 1;
}

figure.effect-kira p {
	padding: 1.5em 0.5em;
	font-weight: 600;	
	font-size: 120%;
	line-height: 1.5;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
    text-align: center;
}

figure.effect-kira p a {
	margin: 0 0.5em;
	color: #101010;
}
figure.effect-kira p a i {
	font-size: 30px;
}

figure.effect-kira p a:hover,
figure.effect-kira p a:focus {
	opacity: 0.6;
}


figure.effect-kira:hover img {
	opacity: 0.5;
}

figure.effect-kira:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-kira:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: translate3d(0,5em,0) scale3d(1,1,1) ;
	transform: translate3d(0,5em,0) scale3d(1,1,1);
}
</style>
<section class="wrapper main-wrapper" >

        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="page-title">

                <div class="pull-left">
                    <h1 class="title">Edit Product</h1>                            </div>

                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li id="eco-all-products">
                            <a href="#">Products</a>
                        </li>
                        <li class="active">
                            <strong>Edit Product</strong>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">


                                <div class="form-group">
                                    <label class="form-label" for="prdt_cat_edit">Category</label>
                                    <span class="desc"></span>
                                   <div class="controls">
                                    <select class="form-control" id="prdt_cat_edit" required>
                                        <option selected disabled>Select Category</option>
                                        <option value="Pickle">Pickle</option>
                                        <option value="Masala">Masala</option>
                                        <option value="Snacks">Snacks</option>

                                    </select>
                                    <span class="alertSpan" id="alert_for_prdt_cat_edit">Select Category</span>

                                   </div>

                                </div>

                                <div class="form-group">
                                        <label class="form-label" for="prdt_sub_cat_edit">Product Name</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <select class="form-control" id="prdt_sub_cat_edit" required>
                                               
                                            </select>
                                            <span class="alertSpan" id="alert_for_prdt_sub_cat_edit">Select Sub Category</span>
    
                                        </div>
                                    </div>

                                <div class="form-group">
                                    <label class="form-label" for="prdt_batch_id_edit">Batch Id</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control" id="prdt_batch_id_edit" required>
                                           
                                        </select>
                                        <span class="alertSpan" id="alert_for_prdt_batch_id_edit">Enter Batch Id</span>

                                    </div>
                                </div>


                                <input type="file" class="form-control" id="trigger_image_upload_edit" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">

                                <section class="box">
                                        <header class="panel_header">
                                            <h2 class="title pull-left">Web Images</h2>
                                           
                                        </header>
                                        <div class="content-body">    <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
            
                                                    <div class="bs-example bs-example-images" data-example-id="image-shapes">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <figure class="effect-kira">
                                                                    <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/front400.jpg" id="image1_1-edit" data-holder-rendered="true" title="Select image to change">
                                                                    <figcaption>
                                                                            <p>
                                                                                <a href="#" class="trigger-file-edit image1_1-edit"><i class="fa fa-edit"></i></a>
                                                                            </p>
                                                                        </figcaption>
                                                                       
                                                                </figure>
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/left400.jpg" id="image2_1-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image2_1-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                        </div>
                                                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/right400.jpg" id="image3_1-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image3_1-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <figure class="effect-kira">
                                                                    <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/top400.jpg" id="image4_1-edit" data-holder-rendered="true" title="Select image to change">
                                                                    <figcaption>
                                                                            <p>
                                                                                <a href="#" class="trigger-file-edit image4_1-edit"><i class="fa fa-edit"></i></a>
                                                                            </p>
                                                                        </figcaption>
                                                                       
                                                                </figure> 
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <figure class="effect-kira">
                                                                <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/pricing400.jpg" id="image5_1-edit" data-holder-rendered="true" title="Select image to change">
                                                                <figcaption>
                                                                        <p>
                                                                            <a href="#" class="trigger-file-edit image5_1-edit"><i class="fa fa-edit"></i></a>
                                                                        </p>
                                                                    </figcaption>
                                                                   
                                                            </figure>
                                                        </div>
                                                         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <figure class="effect-kira">
                                                                <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/pricing400.jpg" id="image6_1-edit" data-holder-rendered="true" title="Select image to change">
                                                                <figcaption>
                                                                        <p>
                                                                            <a href="#" class="trigger-file-edit image6_1-edit"><i class="fa fa-edit"></i></a>
                                                                        </p>
                                                                    </figcaption>
                                                                   
                                                            </figure>
                                                        </div>
                                                    </div>
            
                                                    <div class="clearfix"></div>
            
            
                                                </div>
                                            </div>
                                        </div>
                                </section>

                                <section class="box">
                                            <header class="panel_header">
                                                <h2 class="title pull-left">Android Images</h2>
                                               
                                            </header>
                                            <div class="content-body">    <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                
                                                        <div class="bs-example bs-example-images" data-example-id="image-shapes">
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                    <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/front200.jpg" id="image1_2-edit" data-holder-rendered="true" title="Select image to change">
                                                                            <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image1_2-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/left200.jpg" id="image2_2-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image2_2-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                            </div>
                                                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/right200.jpg" id="image3_2-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image3_2-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/top200.jpg" id="image4_2-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image4_2-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/pricing200.jpg" id="image5_2-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image5_2-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                            </div>
                                                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                                <figure class="effect-kira">
                                                                        <img  class="img-rounded img-responsive trigger-file-edit-image" alt="140x140" src="data/nutrients200.jpg" id="image6_2-edit" data-holder-rendered="true" title="Select image to change">
                                                                        <figcaption>
                                                                                <p>
                                                                                    <a href="#" class="trigger-file-edit image6_2-edit"><i class="fa fa-edit"></i></a>
                                                                                </p>
                                                                            </figcaption>
                                                                           
                                                                    </figure>
                                                            </div>
                                                        </div>
                
                                                        <div class="clearfix"></div>
                
                
                                                    </div>
                                                </div>
                                            </div>
                                </section>
                            </div>      
                    </div>


                </div>
            </section></div>



</section>
<script type="text/javascript">
    
   
</script>
<script src="assets/js/new.js" type="text/javascript"></script> 
