<style>
    .showOnAmount{
        display: none;
    }
    #showOnAddClickPrdtSum {
        display: none;
    }
    .image_events_web{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
    .image_upload_events{
        width: 100px;
        height: 125px;
        float: left;
        margin: 7% 3%;
    }
    </style>
    <section class="wrapper main-wrapper">
    
    
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <section class="box">

                        <header class="panel_header">
                            <h2 class="title pull-left">Franchise Management</h2>
                            <div class="actions panel_actions pull-right">
                                <button type="button" class="btn btn-success" id="add_new_PrdtSum_to_slider">Add Events</button>
                            </div>
                        </header>
            
                    </section>
            <section class="box" id="showOnAddClickPrdtSum">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                       
                           
                            
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="eventTitle">Event Title</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="eventTitle" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="event_start_date">Event Start Date</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="event_start_date" autocomplete="off" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="eventStartTime">Event Start Time</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input autocomplete="off" id="eventStartTime" type="text" 
                                    class="form-control timepicker"  required data-template="dropdown" data-show-seconds="false" data-default-time="07:45 pm" data-show-meridian="true" data-minute-step="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="eventEndTime">Event End Time</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input autocomplete="off" id="eventEndTime" type="text" 
                                    class="form-control timepicker"  required data-template="dropdown" data-show-seconds="false" data-default-time="07:45 pm" data-show-meridian="true" data-minute-step="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="eventHeadlines">Event Headlines</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="eventHeadlines" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="eventAddress">Event Address</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="eventAddress" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="noOfSeats">Seats/Type Of Ground</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="noOfSeats" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="noOfSpeakers">Number Of Speakers</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="noOfSpeakers" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="eventDescription">Event Description</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="eventDescription" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="locationLatitude">Location Latitude</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="locationLatitude" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="locationLongitude">Location Longitude</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="locationLongitude" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="mapLink">Map Link</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="mapLink" autocomplete="off" type="text"  class="form-control " required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="form-label" for="event_display_from_date">Event Display From Date</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input id="event_display_from_date" autocomplete="off" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

                                <label for="">Event Image</label>
                                <input type="file" class="form-control" id="trigger_event_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                                <div class="image_events_web">
                                    <div class="image_upload_events imageevents" id="imageevents" style="width: 350px;">
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100px" height="100px" alt="" ></i></span>
                                    </div>
                                </div>
                               
    
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 mt-15">
                                <div class="text-right">
                                    <button type="button" class="btn btn-success" id="addEvents">Add Events</button>
                                </div>
                            </div>
                       
                    </div>
                </div>
            </section>
            <section class="box">
                <div class="content-body">
                        <div class="row">
                                <div class="col-sm-12">
                                    <div id="appendEventsToTable">
            
                                    </div>
                                </div>
                            </div>
                </div>
            </section>
        </div>
    
    
    
    </section>
    <script type="text/javascript">
    $("#add_new_PrdtSum_to_slider").click(function () {
    $("#showOnAddClickPrdtSum").show(1000);
});
             let formData = new FormData();
            formData.append("admin_uuid", localStorage.getItem('admin_uuid'));
            $.ajax({
                "async": true,
                "crossDomain": true,
                "url": "https://patashalafinder.in/amrutha/get_amruthashala_event_details",
                "method": "POST",
                "data": formData,
                "processData": false,
                "contentType": false,
                "mimeType": "multipart/form-data",
                success: (result) => {
                    $("#appendEventsToTable").empty()
                    $("#appendEventsToTable").append(`
                    <table id="example-1" class="table table-striped dt-responsive display" cellspacing="0" width="100%" style="font-size:12px">
                    <thead>
                                    <tr>
                                        <th class="sorting_disabled">Event Title</th>
                                        <th>Event Start</th>
                                        <th>Event End</th>
                                        <th>Headlines</th>
                                        <th>Description</th>
                                        <th>No Of Speakers</th>
                                        <th>No Of Seats</th>
                                        <th>Location</th>
                                        <th>Location Link</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
    
                                <tfoot>
                                    <tr>
                                        <th class="sorting_disabled">Event Title</th>
                                        <th>Event Start</th>
                                        <th>Event End</th>
                                        <th>Headlines</th>
                                        <th>Description</th>
                                        <th>No Of Speakers</th>
                                        <th>No Of Seats</th>
                                        <th>Location</th>
                                        <th>Location Link</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
    
                                <tbody id="appendEventsToTableAdmin">
                                </tbody>
                        </table>
                    `);
                    let data = JSON.parse(result).data;
                    console.log(data)
                   
                  
                    $.each(data, (key, value) => {
                        
                        $("#appendEventsToTableAdmin").append(`
                            <tr id="`+value.event_id+`">
                                        <td>`+value.event_title+`</td>
                                        <td>${value.event_date.split("T")[0]} ${value.event_start_time}</td>
                                        <td>${value.event_date.split("T")[0]} ${value.event_end_time}</td>
                                        <td >`+value.event_headlines+`</td>
                                        <td >`+value.event_description+`</td>
                                        <td>`+value.no_of_speakers+`</td>
                                        <td>`+value.no_of_seats+`</td>
                                        <td>`+value.event_address+`</td>
                                        <td>`+value.location_map_link+`</td>
                                        <td>`+value.event_status+`</td>
                                        <td><i class="fa fa-edit editCoupon actionIcon" title="Edit"></i><i class="fa fa-trash deleteCoupon actionIcon" title="Delete"></i></td>
                                    </tr>
                                    
                            `);
        
                    });
                    
        
                },
                error: (err) => {
                    console.log(err.responseText);
                }
            });
           
    
       
    </script>
    <script src="assets/js/new.js" type="text/javascript"></script> 