<style>
    .trigger-files-slider-edit {
        height: 200px;
        width: 100%;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .img_link_slider_edit {
        margin-bottom: 10px;
    }

    .form-control-Eye {
        position: absolute;
        top: 9px;
        right: 10px;
        color: #f90500;
        z-index: 100;
    }

    .upload_slider {
        cursor: pointer;
    }
    .editSlider{
        margin-left: 10px;
        cursor: pointer;
        position: absolute;
        top: 45px;
        right: 0px;
    }
    .closeModal{
        position: absolute;
        right: 10px;
        top: 5px;
        z-index: 1000;
    }
    #modal-content{
        margin-top: 100px;
    }
    #modal-footer{
        text-align: right;
    }
    .carousel-caption h4{
        background: #eaeaea;
        width: 10%;
        padding: 10px;
        opacity: .8;
    }
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Add Slider Images</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-slider-add">
                        <a href="#">Slider</a>
                    </li>
                    <li class="active">
                        <strong>Add Slider</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <input type="file" class="form-control" id="trigger_slider_image_upload_edit"
    accept="image/x-png,image/jpg,image/jpeg,image/bmp" name="file[]"
    style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">  <!-- slider -->
      
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Web Slider</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">


                        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators" id="appendIconSlider">

                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox" id="appendInnerSlider">
                                
                               
                            </div>

                            <!-- Controls -->
                          
                        </div>


                    </div>
                </div>
            </div>
        </section>


        <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Mobile Slider</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
    
    
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators" id="appendIconSliderMob">
    
                                </ol>
    
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox" id="appendInnerSliderMob">
                                    
                                   
                                </div>
    
                                <!-- Controls -->
                              
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </section>
    </div>



</section>
<script src="assets/js/new.js" type="text/javascript"></script>
<script>
    $.ajax({
        url: "https://patashalafinder.in/amrutha/getting_index_slider_images",
        type: "POST",
        dataType: "JSON",
        data: {
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success: function (result) {
            console.log(result.data);
            $("#appendIconSlider").empty();
            $("#appendInnerSlider").empty();
            let sliderObj = result.data;
            let sortedSliderArr = [];
            for (let key in sliderObj) {
                sortedSliderArr.push(sliderObj[key]);
            }

            let sortSliderObj = function (data1, data2) {

                if (data1.image_position_no > data2.image_position_no) return 1;
                if (data1.image_position_no < data2.image_position_no) return -1;
                return 0;
            }

            sortedSliderArr.sort(sortSliderObj);
            console.log(sortedSliderArr);

            for(let i=0;i<sortedSliderArr.length;i++){
                if(i == 0){
                    $("#appendIconSlider").append(`
                        <li data-target="#carousel-example-generic2" data-slide-to="${i}" class="active"></li>

                    `);
                    $("#appendIconSliderMob").append(`
                        <li data-target="#carousel-example-generic" data-slide-to="${i}" class="active"></li>

                    `);
                    $("#appendInnerSlider").append(`
                        <div class="item active">
                            <img src="https://patashalafinder.in/media/${sortedSliderArr[i].slider_image_web}" style="width:100%;">
                                <div class="carousel-caption">
                                        <h4>Slide ${sortedSliderArr[i].image_position_no}</h4>
                                        <a  class="btn editSlider ${sortedSliderArr[i].image_position_no} ${sortedSliderArr[i].slider_id} web">Change This Slider</a>
                                <div class="clearfix"></div>
                               
                                </div>
                        </div>
                    `);
                    $("#appendInnerSliderMob").append(`
                        <div class="item active">
                            <img src="https://patashalafinder.in/media/${sortedSliderArr[i].slider_image_mobile}" style="width:100%;">
                                <div class="carousel-caption">
                                        <h4>Slide ${sortedSliderArr[i].image_position_no}</h4>
                                        <a  class="btn editSlider ${sortedSliderArr[i].image_position_no} ${sortedSliderArr[i].slider_id} mob">Change This Slider</a>
                                <div class="clearfix"></div>
                               
                                </div>
                        </div>
                    `);
                }else{
                    $("#appendIconSlider").append(`
                        <li data-target="#carousel-example-generic2" data-slide-to="${i}"></li>

                    `);
                    $("#appendIconSliderMob").append(`
                        <li data-target="#carousel-example-generic" data-slide-to="${i}"></li>

                    `);
                    $("#appendInnerSlider").append(`
                        <div class="item">
                            <img src="https://patashalafinder.in/media/${sortedSliderArr[i].slider_image_web}" style="width:100%;">
                                <div class="carousel-caption">
                                        <h4>Slide ${sortedSliderArr[i].image_position_no} </h4>
                                        <a  class="btn editSlider ${sortedSliderArr[i].image_position_no} ${sortedSliderArr[i].slider_id} web">Change This Slider</a>

                                <div class="clearfix"></div>
                               
                                </div>
                        </div>
                    `);
                    $("#appendInnerSliderMob").append(`
                        <div class="item">
                            <img src="https://patashalafinder.in/media/${sortedSliderArr[i].slider_image_mobile}" style="width:100%;">
                                <div class="carousel-caption">
                                        <h4>Slide ${sortedSliderArr[i].image_position_no} </h4>
                                        <a  class="btn editSlider ${sortedSliderArr[i].image_position_no} ${sortedSliderArr[i].slider_id} mob">Change This Slider</a>

                                <div class="clearfix"></div>
                               
                                </div>
                        </div>
                    `);
                }
              

               
            }
        },
        error: function (err) {
            alert(err.responseJSON.message);
        }
    })
</script>