<section class="wrapper main-wrapper" style=''>

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Customers</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="eco-customers.html">Customers</a>
                    </li>
                    <li class="active">
                        <strong>All Customers</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-lg-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">All Customers</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="userTable">




                    </div>
                </div>
            </div>
        </section>
    </div>






</section>
<script type="text/javascript">
   

    $.ajax({
        url: "https://patashalafinder.in/amrutha/get_all_users",
        type: "POST",
        data: {
            admin_uuid: localStorage.getItem('admin_uuid')
        },
        success: function (result) {
            console.log(result);
            $("#userTable").empty();
            $("#userTable").append(`
            <table id="example" class="display table table-hover table-condensed" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>DOB</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Referal Code</th>
                                    <th>State</th>
                                    <th>Added On</th>
                                </tr>
                            </thead>
                            <tbody id="userTableBody">
                            </tbody>
            </table>
            `);
            let userObj = result.data;
            for (let key in userObj) {
                let eachUserObj = userObj[key]
                $("#userTableBody").append(`
                <tr>
                                    <td>${key}</td>
                                    <td>${eachUserObj.name}</td>
                                    <td>${eachUserObj.gender}</td>
                                    <td>${eachUserObj.dob}</td>
                                    <td>${eachUserObj.email}</td>
                                    <td>+91${eachUserObj.mobileNo}</td>
                                    <td>${eachUserObj.referral_code}</td>
                                    <td>${eachUserObj.state}</td>
                                    <td>${eachUserObj.added_date}</td>
                                </tr>
                `)
            }
            $.getScript("assets/js/new.js");
        },
        error: function (err) {
            alert(err.responseJSON.message);
        }
    })
</script>
<script src="assets/js/new.js" type="text/javascript"></script>