<style>
.tabContainerItem{
  display: none;
  align-items: center;
  /* background: #eeedef; */
  /* display: flex; */
  height: 90px;
  justify-content: center;
  position: relative;
  width: 360px;
  margin: 0% 32%;
}
.tabContainerBulk{
  display: none;
  align-items: center;
  /* background: #eeedef; */
  /* display: flex; */
  height: 90px;
  justify-content: center;
  position: relative;
  width: 360px;
  margin:0% 32%;
}
.fixed_offer ,.percent_offer ,.unit_offer ,.bulk_percent_offer ,.itemDiv ,.bulkDiv{
    display:none
}
.bar,.barB {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 32px;
  left: 0;
  padding: 0 21px;
  position: absolute;
  width: 100%;
}
.bar-purple ,.bar-purpleB{
  background: #facd03;
  color: white;
  clip-path: polygon(
    360px 0,
    360px 32px,
    43px 32px,
    39.775442px 31.67494px,
    36.772078px 30.74264px,
    34.054248px 29.26745px,
    31.686292px 27.31371px,
    29.732549px 24.94575px,
    28.257359px 22.22792px,
    27.325063px 19.22456px,
    27px 16px,
    27.325063px 12.77544px,
    28.257359px 9.77208px,
    29.732549px 7.05425px,
    31.686292px 4.68629px,
    34.054248px 2.73255px,
    36.772078px 1.25736px,
    39.775442px 0.32506px,
    43px 0
  );
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option {
  cursor: pointer;
  line-height: 35px;
  text-align: center;
  width: 33.33%;
}
.bar-outer,.bar-outerB {
  clip-path: polygon(0 0, 120px 0, 120px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    104px 32px,
    107.22456px 31.67494px,
    110.22792px 30.74264px,
    112.94575px 29.26745px,
    115.31371px 27.31371px,
    117.26745px 24.94575px,
    118.74264px 22.22792px,
    119.67494px 19.22456px,
    120px 16px,
    119.67494px 12.77544px,
    118.74264px 9.77208px,
    117.26745px 7.05425px,
    115.31371px 4.68629px,
    112.94575px 2.73255px,
    110.22792px 1.25736px,
    107.22456px 0.32506px,
    104px 0
  );
  height: 32px;
  pointer-events: none;
  transition: clip-path 200ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.bar-outer.pos2 .bar-purple ,.bar-outerB.pos2 .bar-purpleB {
  clip-path: polygon(
    360px 0,
    360px 32px,
    149px 32px,
    145.775442px 31.67494px,
    142.772078px 30.74264px,
    140.054248px 29.26745px,
    137.686292px 27.31371px,
    135.732549px 24.94575px,
    134.257359px 22.22792px,
    133.325063px 19.22456px,
    133px 16px,
    133.325063px 12.77544px,
    134.257359px 9.77208px,
    135.732549px 7.05425px,
    137.686292px 4.68629px,
    140.054248px 2.73255px,
    142.772078px 1.25736px,
    145.775442px 0.32506px,
    149px 0
  );
}
.bar-outer.pos2 ,.bar-outerB.pos2 {
  clip-path: polygon(
    0 0,
    0 32px,
    210px 32px,
    213.22456px 31.67494px,
    216.22792px 30.74264px,
    218.94575px 29.26745px,
    221.31371px 27.31371px,
    223.26745px 24.94575px,
    224.74264px 22.22792px,
    225.67494px 19.22456px,
    226px 16px,
    225.67494px 12.77544px,
    224.74264px 9.77208px,
    223.26745px 7.05425px,
    221.31371px 4.68629px,
    218.94575px 2.73255px,
    216.22792px 1.25736px,
    213.22456px 0.32506px,
    210px 0
  );
}
.bar-outer.pos3 .bar-purple , .bar-outerB.pos3 .bar-purpleB {
  clip-path: polygon(
    360px 0,
    360px 32px,
    256px 32px,
    252.775442px 31.67494px,
    249.772078px 30.74264px,
    247.054248px 29.26745px,
    244.686292px 27.31371px,
    242.732549px 24.94575px,
    241.257359px 22.22792px,
    240.325063px 19.22456px,
    240px 16px,
    240.325063px 12.77544px,
    241.257359px 9.77208px,
    242.732549px 7.05425px,
    244.686292px 4.68629px,
    247.054248px 2.73255px,
    249.772078px 1.25736px,
    252.775442px 0.32506px,
    256px 0
  );
}
.bar-outer.pos3 ,.bar-outerB.pos3 {
  clip-path: polygon(0 0, 333px 0, 333px 32px, 0 32px);
  clip-path: polygon(
    0 0,
    0 32px,
    317px 32px,
    320.22456px 31.67494px,
    323.22792px 30.74264px,
    325.94575px 29.26745px,
    328.31371px 27.31371px,
    330.26745px 24.94575px,
    331.74264px 22.22792px,
    332.67494px 19.22456px,
    333px 16px,
    332.67494px 12.77544px,
    331.74264px 9.77208px,
    330.26745px 7.05425px,
    328.31371px 4.68629px,
    325.94575px 2.73255px,
    323.22792px 1.25736px,
    320.22456px 0.32506px,
    317px 0
  );
}
.bar-outer.left .bar-purple, .bar-outerB.left .bar-purpleB {
  transition-delay: 0;
}
.bar-outer.left ,.bar-outerB.left{
  transition-delay: 80ms;
}
.bar-outer.right .bar-purple ,.bar-outerB.right .bar-purpleB{
  transition-delay: 80ms;
}
.bar-outer.right ,.bar-outerB.right{
  transition-delay: 0;
}
.alertSpan{
    display: none;
    color: red;
    position: absolute;
    bottom: 0;
    font-size: 10px;
    padding: 0px 0px 0px 4px;
}
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Add Vendor Offers</h1>                            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-offers">
                        <a href="#">Offers</a>
                    </li>
                    <li class="active">
                        <strong>Add Offers</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form name="addOfferVendor" id="addOfferVendor" >
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="prdt_cat">Vendor ID</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_cat" required>
                    
                                    <option value="Amrutha Foods" selected>Amrutha Foods</option>
                                   

                                </select>
                            </div>
                         
                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="prdt_cat_ofer">Category</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_cat_ofer" required>
                                    <option></option>
                                    <option value="Pickle">Pickle</option>
                                    <option value="Masala">Masala</option>
                                    <option value="Snacks">Snacks</option>

                                </select>
                            </div>
                            <span class="alertSpan" id="alert_for_cat">Select Category</span>
                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="prdt_id_ofer">Product Name</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_id_ofer" required>
                                    <option></option>
                                    <option value="PRDT001">PRDT001</option>
                                   

                                </select>
                            </div>
                            <span class="alertSpan" id="alert_for_prdt_name">Select Product</span>

                        </div>

                        <div class="col-lg-8  col-md-8 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="prdt_batch_id_ofer">Batch ID</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_batch_id_ofer" required>
                                    <option></option>
                                    <option value="123456">123456</option>
                                   
                                </select>
                            </div>
                            <span class="alertSpan" id="alert_for_batchId">Select Batch</span>

                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="prdt_ofer_type">Offer Type</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_ofer_type" required>
                                    <option></option>
                                    <option value="Bulk Offer">Bulk</option>
                                    <option value="Item Offer">Item</option>

                                </select>
                            </div>
                            <span class="alertSpan" id="alert_for_offer_type">Select Offer Type</span>

                        </div>

                        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="offer_start_date">Offer Start Date</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="offer_start_date" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_start_date">Select Offer Start Date</span>

                        </div>

                        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="offer_end_date">Offer End Date</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="offer_end_date" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>
                            <span class="alertSpan" id="alert_for_end_date">Select Offer End Date</span>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tabContainerItem" id="tabContainerItem">
                                <div class="bar bar-grey">
                                    <div class="option" data="hello">FIXED</div>
                                    <div class="option">PERCENT</div>
                                   
                                  </div>
                                  <div class="bar-outer">
                                    <div class="bar bar-purple">
                                      <div class="option">FIXED</div>
                                      <div class="option">PERCENT</div>
                                     
                                    </div>
                                  </div>
                                  
                            </div>
                            <div class="tabContainerBulk" id="tabContainerBulk">
                                <div class="barB bar-greyB">
                                    <div class="option">UNIT</div>
                                    <div class="option">PERCENT</div>
                                    
                                  </div>
                                  <div class="bar-outerB">
                                    <div class="barB bar-purpleB">
                                      <div class="option">UNIT</div>
                                      <div class="option">PERCENT</div>
                                      
                                    </div>
                                  </div>
                            </div>
                        </div>

                        <!-- <div class="col-lg-12">
                            <div class="input-group transparent margin_input_grp">
                                <span class="input-group-addon">$</span>
                                <label class="form-label label_grp_adjust" for="offer_start_date" >Offer Start Date</label>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon">.00</span>
                            </div>
                        </div> -->

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 itemDiv" id="itemDiv">
                            <div class="row fixed_offer" id="fixed_offer">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label class="form-label" for="fixed_item_discount">Fixed Price Discount</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_alpha" id="fixed_item_discount" required>
                                        </div>
                                    </div>
                                    <span class="alertSpan" id="alert_for_fixed_item_discount">Enter Price</span>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="text-left" style="margin:7.5% 0% 0% 0%">
                                        <button type="button" class="btn btn-primary" id="add_fixed_item_discount">Add</button>
                                    </div>
                                </div>
                               
                              </div>
                              <div class="row percent_offer" id="percent_offer">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                    <div class="form-group">
                                        <label class="form-label" for="fixed_item_discount_percent">Fixed Percentage Discount</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_alpha" id="fixed_item_discount_percent" required>
                                        </div>
                                    </div>
                                    <span class="alertSpan" id="alert_for_fixed_item_discount_percent">Enter Percentage</span>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="text-left" style="margin:7.5% 0% 0% 0%">
                                        <button type="button" class="btn btn-primary" id="add_fixed_item_discount_percent">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bulkDiv" id="bulkDiv">
                            <div class="row unit_offer" id="unit_offer">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <div class="form-group">
                                        <label class="form-label" for="unit_bulk_buy_offer">Buy Unit</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_alpha" id="unit_bulk_buy_offer" required>
                                        </div>
                                    </div>
                                    <span class="alertSpan" id="alert_for_unit_bulk_buy_offer">Enter Buy Quantity</span>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <div class="form-group">
                                        <label class="form-label" for="unit_bulk_get_offer">Get Unit</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_alpha" id="unit_bulk_get_offer" required>
                                        </div>
                                    </div>
                                    <span class="alertSpan" id="alert_for_unit_bulk_get_offer">Enter Get Quantity</span>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="text-left" style="margin:11.5% 0% 0% 0%">
                                        <button type="button" class="btn btn-primary" id="add_unit_bulk_buy_get_offer">Add</button>
                                    </div>
                                </div>
                               
                              </div>
                              <div class="row bulk_percent_offer" id="bulk_percent_offer">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <div class="form-group">
                                        <label class="form-label" for="unit_bulk_buy_percent_offer">Buy Unit</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_alpha" id="unit_bulk_buy_percent_offer" required>
                                        </div>
                                    </div>
                                    <span class="alertSpan" id="alert_for_unit_bulk_get_offer">Enter Buy Quantity</span>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <div class="form-group">
                                        <label class="form-label" for="unit_bulk_get_percent_offer">Percentage Off</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_alpha" id="unit_bulk_get_percent_offer" required>
                                        </div>
                                    </div>
                                    <span class="alertSpan" id="alert_for_unit_bulk_get_offer">Enter Percent Offered</span>

                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="text-left" style="margin:11.5% 0% 0% 0%">
                                        <button type="button" class="btn btn-primary" id="add_unit_bulk_get_percent_offer">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                <!-- <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn">Cancel</button>
                                </div> -->
                            </div>
                    </form>
                </div>


            </div>
        </section>
    </div>



</section>
<script>
const barOuter = document.querySelector(".bar-outer");
const options = document.querySelectorAll(".bar-grey .option");
let current = 1;
options.forEach((option, i) => (option.index = i + 1));
options.forEach(option =>
                option.addEventListener("click", function() {
                    if($(this).text()=='FIXED'){
                        document.getElementById('percent_offer').style.display='none';
                        document.getElementById('fixed_offer').style.display='block';

                    }else if($(this).text()=='PERCENT'){
                        document.getElementById('fixed_offer').style.display='none';
                        document.getElementById('percent_offer').style.display='block';
                    }
  barOuter.className = "bar-outer";
  barOuter.classList.add(`pos${option.index}`);
  if (option.index > current) {
    barOuter.classList.add("right");
  } else if (option.index < current) {
    barOuter.classList.add("left");
  }
  current = option.index;
}));

const barOuterB = document.querySelector(".bar-outerB");
const optionsB = document.querySelectorAll(".bar-greyB .option");
let currentB = 1;
optionsB.forEach((option, i) => (option.index = i + 1));
optionsB.forEach(option =>
                option.addEventListener("click", function() {
                    if($(this).text()=='UNIT'){
                        document.getElementById('bulk_percent_offer').style.display='none';
                        document.getElementById('unit_offer').style.display='block';

                    }else if($(this).text()=='PERCENT'){
                        document.getElementById('unit_offer').style.display='none';
                        document.getElementById('bulk_percent_offer').style.display='block';
                    }
  barOuterB.className = "bar-outerB";
  barOuterB.classList.add(`pos${option.index}`);
  if (option.index > currentB) {
    barOuterB.classList.add("right");
  } else if (option.index < currentB) {
    barOuterB.classList.add("left");
  }
  currentB = option.index;
}));
</script>
<script type="text/javascript">
    
    

    // getProductApiCall();
    // getBatchApiCall();

</script>
<script src="assets/js/new.js" type="text/javascript"></script> 