<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <h3 class="mail_head">Important</h3>
        <i class='fa fa-refresh icon-primary icon-xs icon-orange mail_head_icon'></i>
        <i class='fa fa-search icon-primary icon-xs icon-orange mail_head_icon'></i>
        <i class='fa fa-cog icon-primary icon-xs icon-orange mail_head_icon pull-right'></i>


    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="pull-left">
            <div class="btn-group mail_more_btn">
                <button type="button" class="btn btn-default"><input type='checkbox' class="iCheck"> All</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Read</a></li>
                    <li><a href="#">Unread</a></li>
                    <li><a href="#">Starred</a></li>
                </ul>
            </div>
        </div>

        <nav class='pull-right'>
            <ul class="pager mail_nav">
                <li><a href="#"><i class='fa fa-arrow-left icon-xs icon-orange icon-secondary'></i></a>
                </li>
                <li><a href="#"><i class='fa fa-arrow-right icon-xs icon-orange icon-secondary'></i></a>
                </li>
            </ul>
        </nav>
        <span class='pull-right mail_count_nav text-muted'><strong>1</strong> to
            <strong>20</strong> of 3247</span>

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 mail_list">
        <table class="table table-striped table-hover">
            <tr class="unread" id="mail_msg_1">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-primary">Family</span>&nbsp;<span class="msgtext">Hello,
                        hope you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">19:34</span></td>
            </tr>
            <tr class="unread" id="mail_msg_2">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">21:54</span></td>
            </tr>
            <tr class="unread" id="mail_msg_3">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">22:28</span></td>
            </tr>
            <tr id="mail_msg_4">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="msgtext">Hello, hope you having a great
                        day ahead.</span></td>
                <td class="open-view"><span class="msg_time">Yesterday</span></td>
            </tr>
            <tr id="mail_msg_5">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">Yesterday</span></td>
            </tr>
            <tr id="mail_msg_6">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="label label-info">Work</span>&nbsp;<span class="msgtext">We play,
                        dance and love. Share love all around
                        you.</span></td>
                <td class="open-view"><span class="msg_time">28 Feb</span></td>
            </tr>
            <tr class="unread">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-info">Work</span>&nbsp;<span class="msgtext">Hello, hope
                        you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">25 Feb</span></td>
            </tr>
            <tr id="mail_msg_8">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">25 Feb</span></td>
            </tr>
            <tr id="mail_msg_9">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">25 Feb</span></td>
            </tr>
            <tr id="mail_msg_10">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-success">IMP</span>&nbsp;<span class="msgtext">Hello,
                        hope you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">25 Feb</span></td>
            </tr>
            <tr class="unread">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">21 Feb</span></td>
            </tr>
            <tr id="mail_msg_12">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">21 Feb</span></td>
            </tr>
            <tr id="mail_msg_13">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-success">IMP</span>&nbsp;<span class="msgtext">Hello,
                        hope you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">21 Feb</span></td>
            </tr>
            <tr id="mail_msg_14">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">21 Feb</span></td>
            </tr>
            <tr id="mail_msg_15">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">21 Feb</span></td>
            </tr>
            <tr class="unread">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-info">Work</span>&nbsp;<span class="msgtext">Hello, hope
                        you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">17 Feb</span></td>
            </tr>
            <tr id="mail_msg_17">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">17 Feb</span></td>
            </tr>
            <tr id="mail_msg_18">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">17 Feb</span></td>
            </tr>
            <tr id="mail_msg_19">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-danger">Urgent</span>&nbsp;<span class="msgtext">Hello,
                        hope you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">17 Feb</span></td>
            </tr>
            <tr id="mail_msg_20">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">17 Feb</span></td>
            </tr>
            <tr class="unread">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">16 Feb</span></td>
            </tr>
            <tr id="mail_msg_22">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">John Smith</td>
                <td class="open-view"><span class="label label-primary">Family</span>&nbsp;<span class="msgtext">Hello,
                        hope you having a great day ahead.</span>
                </td>
                <td class="open-view"><span class="msg_time">16 Feb</span></td>
            </tr>
            <tr id="mail_msg_23">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Laura Willson</td>
                <td class="open-view"><span class="msgtext">Your product seems amazingly
                        smart and elegant to use.</span></td>
                <td class="open-view"><span class="msg_time">16 Feb</span></td>
            </tr>
            <tr id="mail_msg_24">
                <td class=""><input class="iCheck" type="checkbox"></td>
                <td class="">
                    <div class="star"><i class='fa fa-star-o icon-xs icon-orange'></i></div>
                </td>
                <td class="open-view">Jane D.</td>
                <td class="open-view"><span class="msgtext">We play, dance and love. Share
                        love all around you.</span></td>
                <td class="open-view"><span class="msg_time">16 Feb</span></td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    
   
</script>
<script src="assets/js/new.js" type="text/javascript"></script>