<style>
    #showOnAddClick {
        display: none;
    }
    .inactivate, .activate{
        width: 102px;
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">Category Management</h2>
                <div class="actions panel_actions pull-right">
                    <button type="button" class="btn btn-success" id="add_new_cate">ADD NEW CATEGORY</button>
                </div>
            </header>

        </section>
        <section class="box" id="showOnAddClick">
            <header class="panel_header">
                <h2 class="title pull-left">Add Category Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="addCategoryForm" name="addCategoryForm">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="field-1">Category Names</label>
                                <div class="controls">
                                    <input type="text" class="form-control" id="tagsinput-2" />
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Category Table</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendTableCategory">


                        <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                            <thead style="font-size: 11px;">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Product Details</th>
                                    <th>Image</th>
                                    <th>Listing Price</th>
                                    <th>Usual Price</th>
                                    <th>Final Price</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>MFD</th>
                                    <th>Expiry Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tfoot style="font-size:11px">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Product Details</th>
                                    <th>Image</th>
                                    <th>Listing Price</th>
                                    <th>Usual Price</th>
                                    <th>Final Price</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>MFD</th>
                                    <th>Expiry Date</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>

                            <tbody id="appendAllAddedCategory">

                            </tbody>
                        </table>




                    </div>
                </div>
            </div>
        </section>
    </div>


</section>
<script type="text/javascript">
    $("#add_new_cate").click(function () {
        $("#showOnAddClick").slideDown(500);
    });
    // let formData = new FormData();
    // formData.append("admin_uuid","ca58125a-58e3-4936-9230-88c70355b01d")
   
    //         fetch('https://patashalafinder.in/admin_amrutha/get_category', { 
    //             method: 'POST', 
    //             body: formData,
    //             })
    //             .then(res => res.json())
    //             .then(data =>{console.log(data)})
    //             .catch(err => {console.log(err)})
  
    $.ajax({
        url:"https://patashalafinder.in/admin_amrutha/get_category",
        type:"POST",
        dataType:"JSON",
        data:{
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success:function (result) {
            // console.log(result.data);
            $("#appendTableCategory").empty();
            $("#appendTableCategory").append(`
            <table id="example-1" class="table table-bordered dt-responsive display" cellspacing="0"
                            width="100%">
                            <thead style="font-size: 11px;">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                    <th>Added by</th>
                                    <th>Added Date</th>
                                    <th>Readded Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tfoot style="font-size:11px">
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th>Category Name</th>
                                    <th>Status</th>
                                    <th>Added by</th>
                                    <th>Added Date</th>
                                    <th>Readded Date</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>

                            <tbody id="appendAllAddedCategory">

                            </tbody>
                        </table>
            `)

            let activeCat = result.data.True;
            let inActiveCat = result.data.False;
            // console.log(activeCat,inActiveCat);
            for (let key in activeCat) {
                let eachCat = activeCat[key];
                $("#appendAllAddedCategory").append(`
                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>${eachCat.category_name}</td>
                                            <td>Active</td>
                                            <td>${eachCat.added_by_first_name} ${" "} ${eachCat.added_by_last_name}</td>
                                            <td> ${eachCat.added_date}</td>
                                            <td> ${eachCat.readded_date}</td>
                                            <td><button type="button" class="btn btn-success btn-border inactivate" id="${eachCat.category_name} ${eachCat.category_id}">Deactivate</button></td>
                                        </tr>
                `)
            }
            for (let key in inActiveCat) {
                let eachCat = inActiveCat[key];
                $("#appendAllAddedCategory").append(`
                <tr>
                                            <td><input type="checkbox"></td>
                                            <td>${eachCat.category_name}</td>
                                            <td>Inactive</td>
                                            <td>${eachCat.added_by_first_name} ${" "} ${eachCat.added_by_last_name}</td>
                                            <td> ${eachCat.added_date}</td>
                                            <td> ${eachCat.readded_date}</td>
                                            <td><button type="button" class="btn btn-danger btn-border activate" id="${eachCat.category_name} ${eachCat.category_id}">Activate</button></td>
                                        </tr>
                `)
            }
            

        },
        error:function (err) {
            alert(err.responseJSON.message);
        }
    });
</script>
<script src="assets/js/new.js" type="text/javascript"></script>