<style>
    .alertSpan {
        display: none;
        color: red;
        position: absolute;
        font-size: 10px;
        padding: 0px 0px 0px 4px;
    }

    #float_only {
        display: none;
    }
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Coupons</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-coupons">
                        <a href="#">Coupons</a>
                    </li>
                    <li class="active">
                        <strong>Add Coupon Slab</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Add Slab For Signup Coupon</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="slabForm">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">
                                        <label class="form-label" for="coupon_type">Coupon Type</label>
                                        <span class="desc"></span>
                                        <select class="form-control" id="coupon_type">
                                            <option></option>
                                            <option value="Signup" selected>SignUp Coupons</option>
                                        </select>
                                    </div>

                        </div>


                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="coupon_code">Coupon Code</label>
                                <span class="desc"></span>
                                <select class="form-control" id="coupon_code" required>
                                    <option selected disabled>Select One</option>
                                    

                                </select>
                            </div>
                            <span class="alertSpan" id="alert_for_offer_type">Select Coupon Code</span>

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                        <label class="form-label" for="prdt_quantity">Max Amount</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_only" id="max_amt" required>
                                            <span class="alertSpan" id="alert_for_prdt_quantity">Enter Max Amount</span>
    
                                        </div>
                                    </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                        <label class="form-label" for="prdt_quantity">Coupon Used</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" value="" class="form-control num_only" id="coupon_used" required>
                                            <span class="alertSpan" id="alert_for_coupon_used">Enter Max Coupon Used</span>
    
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="text-right" style="padding-top:27px">
                                        <button type="button" class="btn btn-primary" id="add_slab">Add</button>
                                    </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              
                                        <table class="table table-hover" style="text-align: center">
                                            <thead >
                                                <tr class="success">
                
                                                    <th style="text-align: center">Min Amount</th>
                                                    <th style="text-align: center">Max Amount</th>
                                                    <th style="text-align: center">No Of Coupons</th>
                                                </tr>
                                            </thead>
                                            <tbody id="table_slab_append">
                                                <!-- <tr>
                                                    <td ></td>
                                                    <td ></td>
                                                    <td ></td>
                                                </tr>
                                                <tr>
                                                    <td ></td>
                                                    <td ></td>
                                                    <td ></td>
                                                </tr>
                                                <tr>
                                                    <td ></td>
                                                    <td ></td>
                                                    <td ></td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    
                        </div>


                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                    <div class="text-left">
                                        <button type="submit" class="btn btn-primary">Save</button>
                                        <button type="button" id="clearData" class="btn">Clear</button>
                                    </div>
                                   
                                </div>
                        <!-- <div class="col-lg-12">
                                    <div class="input-group transparent margin_input_grp">
                                        <span class="input-group-addon">$</span>
                                        <label class="form-label label_grp_adjust" for="offer_start_date" >Offer Start Date</label>
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                </div> -->


                       
                    </form>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="tableSlabAppend">
                              
                        <table class="table table-hover" style="text-align: center">
                            <thead >
                                <tr class="success">

                                    <th style="text-align: center">Min Amount</th>
                                    <th style="text-align: center">Max Amount</th>
                                    <th style="text-align: center">No Of Coupons</th>
                                </tr>
                            </thead>
                            <tbody id="table_slab_append">
                                <!-- <tr>
                                    <td >0</td>
                                    <td >500</td>
                                    <td >5</td>
                                </tr> -->
                            </tbody>
                        </table>
                    
        </div>
                </div>


            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
   
   $.ajax({
        url:"https://patashalafinder.in/admin_amrutha/get_all_coupons",
        type:"POST",
        dataType:'JSON',
        data:{
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success:function (result) {
           //console.log(result)
            $("#coupon_code").empty();
            $("#coupon_code").append(`
                <option selected disabled>Select Coupon</option>
            `);
            let couponData = result.data;
            for(let key in couponData){
                let couponCodeObj=couponData[key];
                
                if(couponCodeObj.coupon_type == "Signup"){
                    $("#coupon_code").append(`
                <option value="`+couponCodeObj.coupon_code+``+' '+couponCodeObj.coupon_id+`">`+couponCodeObj.coupon_code+`</option>
            `);
                }
                   
           
            }
        },
        error: function (err) {
            console.log(err.responseText);
        }
    })

    $.ajax({
        url:"https://patashalafinder.in/admin_amrutha/get_coupon_slabs",
        type:"POST",
        data:{
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success:function (result) {
           
            $("#tableSlabAppend").empty();
            let objTotal = result.data;
            //console.log(objTotal)
            for (let key in objTotal){
                $("#tableSlabAppend").append(`
                <table class="table table-hover" style="text-align: center">
                            <thead >
                                <tr class="">

                                    <th style="text-align: center">Min Amount</th>
                                    <th style="text-align: center">Max Amount</th>
                                    <th style="text-align: center">No Of Coupons</th>
                                </tr>
                            </thead>
                            <tbody id="table_slab_append`+key+`">
                               
                            </tbody>
                        </table>
                `);
                let slabArr=[];
                let eachCouponSlabObj=objTotal[key];
                
                let slabObj=eachCouponSlabObj.slabs;
                
                for (let key1 in slabObj){
                    slabArr.push(slabObj[key1]);
                }
               
                let sortObjectArr = function (val1, val2) {
                    if(parseInt(val1.min_amount) > parseInt(val2.min_amount)) return 1;
                    if(parseInt(val1.min_amount) < parseInt(val2.min_amount)) return -1;
                    return 0;
                }
                slabArr.sort(sortObjectArr);
                
                for(let i=0;i<slabArr.length;i++){
                    $("#table_slab_append"+key).append(`
                    <tr>
                        <td>`+slabArr[i].min_amount+`</td>
                        <td>`+slabArr[i].max_amount+`</td>
                        <td>`+slabArr[i].no_of_coupons+`</td>
                    </tr>
                    `);
                }
            }
        },
        error:function (err) {
            console.log(err.responseText);
        }
    });

   
</script>
<script src="assets/js/new.js" type="text/javascript"></script>