<style>
    #showOnAddClick {
        display: none;
    }
    .image_div{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
    .image_upload_div{
        width: 100px;
        height: 100px;
        /* border: 1px solid grey; */
        float: left;
        margin: 7% 3%;
    }
    .image_divMob{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
    .image_upload_divMob{
        width: 100px;
        height: 100px;
        /* border: 1px solid grey; */
        float: left;
        margin: 7% 3%;
    }
    .uploadIcon{
        /* position: relative;
        top: 37%;
        left: 40%; */
    }
</style>
<section class="wrapper main-wrapper" style=''>

    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box">

            <header class="panel_header">
                <h2 class="title pull-left">Dashboard Management</h2>
                <div class="actions panel_actions pull-right">
                    <button type="button" class="btn btn-success" id="add_new_brand_to_slider">Add Badge To Slider</button>
                </div>
            </header>

        </section>
        <section class="box" id="showOnAddClick">
            <header class="panel_header">
                <h2 class="title pull-left">Add Badge To Slider</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            
                            <input type="file" class="form-control" id="trigger_slider__badge_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                            name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                            <div class="image_div">
                                <div class="image_upload_div" id="imgDiv1">
                                    <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                </div>
                            </div>
                           

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                            
                                <input type="file" class="form-control" id="trigger_slider__badge_image_upload_mob" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                                name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                                <div class="image_divMob">
                                    <div class="image_upload_divMob" id="imgDivMob1">
                                        <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                    </div>
                                </div>
                               
    
                            </div>
                            <div class="col-sm-12">
                                    <div class="text-right" style="margin-top: 5px;">
                                            <button type="button" class="btn btn-success" id="addBadgeToSlider">Upload</button>
                                        </div>
                            </div>
                </div>


            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Badge Slider Preview</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 carousel-wrap" >

                        <div class="partner-slides owl-carousel owl-theme" id="appendBadgeSlider">
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-1.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-2.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-3.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-4.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-5.jpg" alt="image"></a>
                            </div>
        
                            <div class="single-partner-item">
                                <a href="#"><img src="data/blo-media/media-6.jpg" alt="image"></a>
                            </div>
                        </div>
                       



                    </div>
                </div>
            </div>
        </section>
    </div>


</section>
<script src="assets/js/new.js" type="text/javascript"></script>
<script>
$("#add_new_brand_to_slider").click(function () {
    $("#showOnAddClick").show(1000);
    slider_Badge_array_web=[];
    slider_Badge_array_mob=[];
});

let form = new FormData();
form.append("admin_uuid", localStorage.getItem('admin_uuid'));
$.ajax({
    "async": true,
    "crossDomain": true,
    "url": "https://patashalafinder.in/amrutha/get_badge_slider",
    "method": "POST",
    "data": form,
    "processData": false,
    "contentType": false,
    "mimeType": "multipart/form-data",
    success:(result)=>{
            let data = JSON.parse(result).data
            console.log(data);
            $("#appendBadgeSlider").empty();
            
            $.each(data,(key,value)=>{
               
                $("#appendBadgeSlider").append(`
                <div class="single-partner-item">
                                <div class="imageSize">
                                <a href="#"><img src="https://patashalafinder.in/media/${value.slider_image_web}" class="firstSlideImgClass" alt="image" width="100%" height="100%"></a>
                                </div>
                                <div class="borderLine">
                                </div>
                        </div>
                `);
            })
            $('#appendBadgeSlider').owlCarousel({
                loop: false,
                nav: true,
                dots: true,
                autoplayHoverPause: true,
                autoplay: true,
                mouseDrag: true,
                margin: 30,
                navText: [
                    "<i class='flaticon-arrow-pointing-to-left'></i>",
                    "<i class='flaticon-arrow-pointing-to-right'></i>"
                ],
                responsive: {
                    0: {
                        items: 3,
                    },
                    576: {
                        items: 5,
                    },
                    768: {
                        items: 7,
                    },
                }
        });
    },
    error:(err)=>{
            console.log(err.responseText);
    }
});
</script>