<style>
.showOnAmount{
    display: none;
}

</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Add Marketplace Offers</h1>                            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-offers">
                        <a href="#">Offers</a>
                    </li>
                    <li class="active">
                        <strong>Add Offers</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form name="addOfferVendor" id="addOfferVendor" >
                       
                        <div class="col-sm-12">
                            <group class="inline-radio">
                                <div><input type="radio" name="cartOffer" value="volume" checked><label>Volume</label></div>
                                <div><input type="radio" name="cartOffer" value="amount"><label>Amount</label></div>
                            </group>
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="selFranchiseCart">Select Franchise</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <select  id="selFranchiseCart" class="form-control">
                                        <option selected disabled></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="cart_offer_start_date">Offer Start Date</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="cart_offer_start_date" autocomplete="off" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="form-label" for="cart_offer_end_date">Offer End Date</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input id="cart_offer_end_date" autocomplete="off" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>
                        </div>

                      
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          
                              <div class="row" >
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                    <div class="form-group showOnVolume">
                                        <label class="form-label" for="min_cart_vol_offer">Min Cart Volume To Avail Offer</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" autocomplete="off" class="form-control num_only" id="min_cart_vol_offer" required>
                                        </div>
                                    </div>
                                    <div class="form-group showOnAmount">
                                        <label class="form-label" for="min_cart_val_offer">Min Cart Amount To Avail Offer</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" autocomplete="off" class="form-control num_only" id="min_cart_val_offer" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                                    <div class="form-group showOnVolume">
                                        <label class="form-label" for="offer_amount_on_cart_volume">Offer Amount</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" autocomplete="off" class="form-control num_only" id="offer_amount_on_cart_volume" required>
                                        </div>
                                    </div>
                                    <div class="form-group showOnAmount">
                                        <label class="form-label" for="percent_offer_on_min_cart">Offer Percent</label>
                                        <span class="desc"></span>
                                        <div class="controls">
                                            <input type="text" autocomplete="off" class="form-control num_only" id="percent_offer_on_min_cart" required>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <div class="text-left" style="margin:10.5% 0% 0% 0%">
                                        <button type="button" class="btn btn-primary" id="add_cart_offer">Add</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                            
                    </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="appendCartOfferTable">

                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
         let formData = new FormData();
        formData.append("admin_uuid", localStorage.getItem('admin_uuid'));
        $.ajax({
            "async": true,
            "crossDomain": true,
            "url": "https://patashalafinder.in/amrutha/get_franchise",
            "method": "POST",
            "data": formData,
            "processData": false,
            "contentType": false,
            "mimeType": "multipart/form-data",
            success: (result) => {
    
                let data = JSON.parse(result).data;
                //console.log(data)
               
                $("#selFranchiseCart").empty();
                $("#selFranchiseCart").append('<option selected disabled>Select One</option>');
                $.each(data, (key, value) => {
                    
                        $("#selFranchiseCart").append(`
                        <option value="${value.franchise_uuid}">${value.franchise_name}</option>
                        `);
                   
    
                });
                
    
            },
            error: (err) => {
                console.log(err.responseText);
            }
        });
       

   
</script>
<script src="assets/js/new.js" type="text/javascript"></script> 