<style>
 .image_div_brand{
        min-height: 200px;
        width: 100%;
        background: white;
        overflow: hidden;
    }
    .image_upload_brand_div{
        width: 100px;
        height: 100px;
        /* border: 1px solid grey; */
        float: left;
        margin: 7% 3%;
    }
</style>
<section class="wrapper main-wrapper" style=''>
        <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class="page-title">
    
                <div class="pull-left">
                    <h1 class="title">Brands</h1>
                </div>
    
                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="eco-brands.html">Brands</a>
                        </li>
                        <li class="active">
                            <strong>Add Brands</strong>
                        </li>
                    </ol>
                </div>
    
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <section class="box ">
                <header class="panel_header">
                    <h2 class="title pull-left">Basic Info</h2>
                    <div class="actions panel_actions pull-right">
                        <i class="box_toggle fa fa-chevron-down"></i>
                        <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                        <i class="box_close fa fa-times"></i>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form id="addBrandForm" name="addBrandForm">
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">
    
                                <div class="form-group">
                                    <label class="form-label" for="brand_add">Brand Name</label>
                                    <span class="desc">e.g. "AmruthaFoods, Amul, Parle etc."</span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control alphaOnly" id="brand_add" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="brand_fssi">Fssi No</label>
                                    <span class="desc">e.g. "1122334456756"</span>
                                    <div class="controls">
                                        <input type="text" value="" class="form-control alphaOnly" id="brand_fssi" required>
                                    </div>
                                </div>
                                <input type="file" class="form-control" id="trigger_brand_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                            name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">
                            <label for="">Brand Logo</label>
                            <div class="image_div_brand">
                                <div class="image_upload_brand_div" id="imgBrandDiv1">
                                    <span class="uploadIcon"><img src="data/addBadge.png" width="100%" height="100%" alt="" ></i></span>
                                </div>
                            </div>
    
    
    
                            </div>
    
                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 mt-10">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
    
    
                </div>
            </section>
        </div>
    
    
    </section>
    <script type="text/javascript">
       $.ajax({
           url:'https://patashalafinder.in/amrutha/get_brand',
           type:"POST",
           dataType:'JSON',
           data:{
               'admin_uuid':localStorage.getItem('admin_uuid')
           },
           success: (result) => {
            console.log(result)
           },
           error: (err) => {
            console.log(result)
           }
       })
    </script>
    <script src="assets/js/new.js" type="text/javascript"></script>