<style>
.trigger-files-slide{
    height:200px;
    width:100%;
    margin-bottom: 10px;
}
.img_link{
    margin-bottom: 10px;
}
.form-control-Eye{
  position: absolute;
  top: 9px;
  right: 10px;
  color: #f90500;
  z-index: 100;
}
.upload_slider{
    cursor: pointer;
}
.overlayImgSlide{
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 2;
    height: 200px;
    width: 93%;
    margin-bottom: 10px;
    color: #fff;
    background-color: rgba(152,152,152,0.5);
    opacity: 0;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,0.5,1);
    -moz-transition-timing-function: cubic-bezier(0.4,0,0.5,1);
    transition-timing-function: cubic-bezier(0.4,0,0.5,1);
}
.overlayImgSlide:hover{
    opacity: 1;
}
.overlayImgSlide a i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: #fbcf00;
    cursor: pointer;
    opacity: 1;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Add Slider Images</h1>                            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-slider-add">
                        <a href="#">Slider</a>
                    </li>
                    <li class="active">
                        <strong>Add Slider</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                   <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">

                    <input type="file" class="form-control" id="trigger_slider_image_upload" accept="image/x-png,image/jpg,image/jpeg,image/bmp"
                    name="file[]" style="display: inline-block;position: absolute;opacity: 0.0;margin-top: 44px;width: 12%">

                    <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Slider Images</h2>
                               
                            </header>
                            <div class="content-body">    <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">

                                        <div class="bs-example bs-example-images" data-example-id="image-shapes">



                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/webslide1.jpg" id="image_web_slider1" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_web_slider1"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/androidslide1.jpg" id="image_mob_slider1" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_mob_slider1"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_activate_date1">Slider Activate Date</label>
                                                    <span class="desc">e.g. "2019-12-30"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date1" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_expiry_date1">Slider Expiry Date</label>
                                                    <span class="desc">e.g. "2020-02-27"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date1" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="ani1">Animation</label>
                                                    <span class="desc">e.g. "Slide IN"</span>
                                                    <div class="controls">
                                                        <select  class="form-control"  id="ani1" required>
                                                            <option selected disabled>Select One</option>
                                                            <option value="slideIn">Slide In</option>
                                                            <option value="slideUp">Slide Up</option>
                                                            <option value="slideLeft">Slide Left</option>
                                                            <option value="slideRight">Slide Right</option>
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="name1">Name</label>
                                                        <span class="desc">e.g. "Index Slider"</span>
                                                        <div class="controls">
                                                            <input type="text"  class="form-control " id="name1" required>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                               <div class="controls img_link">
                                                <div class="input-group primary">
                                                    <input type="text" class="form-control text-right link_slider1" id="link_slider1" placeholder="Link Of Slide1"  aria-describedby="basic-addon1">
                                                    <span class="input-group-addon upload_slider" id="slider1"><i class="fa fa-upload"></i></span>
                                                </div>
                                               </div>
                                            </div>



                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/webslide2.jpg" id="image_web_slider2" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_web_slider2"><i class="fa fa-upload"></i></a>
                                                </div>
                                                  
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/androidslide2.jpg" id="image_mob_slider2" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_mob_slider2"><i class="fa fa-upload"></i></a>
                                                </div>
                                                  
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_activate_date2">Slider Activate Date</label>
                                                    <span class="desc">e.g. "2019-12-30"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date2" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_expiry_date2">Slider Expiry Date</label>
                                                    <span class="desc">e.g. "2020-02-27"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date2" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="ani2">Animation</label>
                                                        <span class="desc">e.g. "Slide IN"</span>
                                                        <div class="controls">
                                                            <select  class="form-control"  id="ani2" required>
                                                                <option selected disabled>Select One</option>
                                                                <option value="slideIn">Slide In</option>
                                                                <option value="slideUp">Slide Up</option>
                                                                <option value="slideLeft">Slide Left</option>
                                                                <option value="slideRight">Slide Right</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name2">Name</label>
                                                            <span class="desc">e.g. "Index Slider"</span>
                                                            <div class="controls">
                                                                <input type="text"  class="form-control " id="name2" required>
                                                            </div>
                                                        </div>
                                                </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="controls img_link">
                                                    <div class="input-group primary">
                                                        <input type="text" class="form-control text-right link_slider2" id="link_slider2" placeholder="Link Of Slide2"  aria-describedby="basic-addon1">
                                                        <span class="input-group-addon upload_slider" id="slider2"><i class="fa fa-upload"></i></span>
                                                    </div>                                                   </div>
                                                  
                                            </div>



                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/webslide3.jpg" id="image_web_slider3" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_web_slider3"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/androidslide3.jpg" id="image_mob_slider3" data-holder-rendered="true">
                                                    <div class="overlayImgSlide">
                                                        <a  class="trigger-files image_mob_slider3"><i class="fa fa-upload"></i></a>
                                                    </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_activate_date3">Slider Activate Date</label>
                                                    <span class="desc">e.g. "2019-12-30"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date3" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_expiry_date3">Slider Expiry Date</label>
                                                    <span class="desc">e.g. "2020-02-27"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date3" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="ani3">Animation</label>
                                                        <span class="desc">e.g. "Slide IN"</span>
                                                        <div class="controls">
                                                            <select  class="form-control"  id="ani3" required>
                                                                <option selected disabled>Select One</option>
                                                                <option value="slideIn">Slide In</option>
                                                                <option value="slideUp">Slide Up</option>
                                                                <option value="slideLeft">Slide Left</option>
                                                                <option value="slideRight">Slide Right</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name3">Name</label>
                                                            <span class="desc">e.g. "Index Slider"</span>
                                                            <div class="controls">
                                                                <input type="text"  class="form-control " id="name3" required>
                                                            </div>
                                                        </div>
                                                </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="controls img_link">
                                                    <div class="input-group primary">
                                                        <input type="text" class="form-control text-right " id="link_slider3" placeholder="Link Of Slide3"  aria-describedby="basic-addon1">
                                                        <span class="input-group-addon upload_slider" id="slider3"><i class="fa fa-upload"></i></span>
                                                </div>                                                   </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/webslide4.jpg" id="image_web_slider4" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_web_slider4"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/androidslide4.jpg" id="image_mob_slider4" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_mob_slider4"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_activate_date4">Slider Activate Date</label>
                                                    <span class="desc">e.g. "2019-12-30"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date4" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_expiry_date4">Slider Expiry Date</label>
                                                    <span class="desc">e.g. "2020-02-27"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date4" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="ani4">Animation</label>
                                                        <span class="desc">e.g. "Slide IN"</span>
                                                        <div class="controls">
                                                            <select  class="form-control"  id="ani4" required>
                                                                <option selected disabled>Select One</option>
                                                                <option value="slideIn">Slide In</option>
                                                                <option value="slideUp">Slide Up</option>
                                                                <option value="slideLeft">Slide Left</option>
                                                                <option value="slideRight">Slide Right</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name4">Name</label>
                                                            <span class="desc">e.g. "Index Slider"</span>
                                                            <div class="controls">
                                                                <input type="text"  class="form-control " id="name4" required>
                                                            </div>
                                                        </div>
                                                </div>
                                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="controls img_link">
                                                    <div class="input-group primary">
                                                        <input type="text" class="form-control text-right " id="link_slider4" placeholder="Link Of Slide4"  aria-describedby="basic-addon1">
                                                        <span class="input-group-addon upload_slider" id="slider4"><i class="fa fa-upload"></i></span>
                                                    </div>                                                   </div>
                                            </div>


                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/webslide5.jpg" id="image_web_slider5" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_web_slider5"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/androidslide5.jpg" id="image_mob_slider5" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_mob_slider5"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_activate_date5">Slider Activate Date</label>
                                                    <span class="desc">e.g. "2019-12-30"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date5" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_expiry_date5">Slider Expiry Date</label>
                                                    <span class="desc">e.g. "2020-02-27"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date5" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="ani5">Animation</label>
                                                        <span class="desc">e.g. "Slide IN"</span>
                                                        <div class="controls">
                                                            <select  class="form-control"  id="ani5" required>
                                                                <option selected disabled>Select One</option>
                                                                <option value="slideIn">Slide In</option>
                                                                <option value="slideUp">Slide Up</option>
                                                                <option value="slideLeft">Slide Left</option>
                                                                <option value="slideRight">Slide Right</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name5">Name</label>
                                                            <span class="desc">e.g. "Index Slider"</span>
                                                            <div class="controls">
                                                                <input type="text"  class="form-control " id="name5" required>
                                                            </div>
                                                        </div>
                                                </div>
                                             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="controls img_link">
                                                    <div class="input-group primary">
                                                        <input type="text" class="form-control text-right" id="link_slider5" placeholder="Link Of Slide5"  aria-describedby="basic-addon1">
                                                        <span class="input-group-addon upload_slider" id="slider5"><i class="fa fa-upload"></i></span>
                                                    </div>                                                   </div>
                                            </div>


                                             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/webslide6.jpg" id="image_web_slider6" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_web_slider6"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img  class="img-rounded img-responsive trigger-files-slide" alt="140x140" src="data/androidslide6.jpg" id="image_mob_slider6" data-holder-rendered="true">
                                                <div class="overlayImgSlide">
                                                    <a  class="trigger-files image_mob_slider6"><i class="fa fa-upload"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_activate_date6">Slider Activate Date</label>
                                                    <span class="desc">e.g. "2019-12-30"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_activate_date6" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="slider_expiry_date6">Slider Expiry Date</label>
                                                    <span class="desc">e.g. "2020-02-27"</span>
                                                    <div class="controls">
                                                        <input type="text"  class="form-control datepicker" data-format="yyyy-mm-dd" id="slider_expiry_date6" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="form-label" for="ani6">Animation</label>
                                                        <span class="desc">e.g. "Slide IN"</span>
                                                        <div class="controls">
                                                            <select  class="form-control"  id="ani6" required>
                                                                <option selected disabled>Select One</option>
                                                                <option value="slideIn">Slide In</option>
                                                                <option value="slideUp">Slide Up</option>
                                                                <option value="slideLeft">Slide Left</option>
                                                                <option value="slideRight">Slide Right</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="form-label" for="name6">Name</label>
                                                            <span class="desc">e.g. "Index Slider"</span>
                                                            <div class="controls">
                                                                <input type="text"  class="form-control " id="name6" required>
                                                            </div>
                                                        </div>
                                                </div>
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="controls img_link">
                                                    <div class="input-group primary">
                                                        <input type="text" class="form-control text-right" id="link_slider6" placeholder="Link Of Slide6"  aria-describedby="basic-addon1">
                                                        <span class="input-group-addon upload_slider" id="slider6"><i class="fa fa-upload"></i></span>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>


                                    </div>
                                </div>
                            </div>
                    </section>
                   </div>
                </div>


            </div>
        </section>
    </div>



</section>
<script src="assets/js/new.js" type="text/javascript"></script> 
<script>
 $.ajax({
        url:"https://patashalafinder.in/amrutha/getting_index_slider_images",
        type:"POST",
        dataType:"JSON",
        data:{
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success:function (result) {
            // console.log(result.data);

            let sliderObj = result;
            console.log(sliderObj);
            
        },
        error:function (err) {
            console.log(err.responseText);
        }
    });
</script>