<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Edit Offers</h1>                            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-offers">
                        <a href="#">Offers</a>
                    </li>
                    <li class="active">
                        <strong>Edit Offers</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Basic Info</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form name="addPrdt" id="addPrdt" >
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="prdt_batch_id">Batch Id</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="prdt_batch_id" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="field-1">Product Name</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="prdt_name" required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="prdt_cat">Category</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_cat" required>
                                    <option></option>
                                    <option value="pickle">Pickle</option>
                                    <option value="masala">Masala</option>
                                    <option value="snacks">Snacks</option>

                                </select>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-5">Offer Start Date</label>
                                <span class="desc">e.g. "04/03/2015"</span>
                                <div class="controls">
                                    <input id="prdt_mfd" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                </div>
                            </div>


                             <div class="form-group">
                                <label class="form-label" for="field-5">Offer End Date</label>
                                <span class="desc">e.g. "04/08/2015"</span>
                                <div class="controls">
                                    <input type="text" id="prdt_expd" data-format="yyyy-mm-dd" class="form-control datepicker"  required>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="form-label" for="prdt_status">Status</label>
                                <span class="desc"></span>
                                <select class="form-control" id="prdt_status"> 
                                    <option></option>
                                    <option >Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>


                          

                            <div class="form-group">
                                <label class="form-label" for="prdt_vendor">Vendor</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="prdt_vendor">
                                </div>
                            </div>


                          

                            <div class="form-group">
                                <label class="form-label" for="field-1">Discount Percent</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1">Minimum Order To Avail Discount</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="field-1">Maximum Discount Overall</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control" id="field-1">
                                </div>
                            </div>

                           

                            <div class="form-group">
                                <label class="form-label" for="prdt_desc">Offers Description</label>
                                <span class="desc">e.g. "Terms & Conditions"</span>
                                <div class="controls">
                                    <textarea class="form-control autogrow" cols="5" id="prdt_desc" style="resize:vertical" required></textarea>
                                </div>
                            </div>


                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    <button type="button" class="btn">Cancel</button>
                                </div>
                            </div>
                    </form>
                </div>


            </div>
        </section></div>



</section>
<script type="text/javascript">
    
   
</script>
<script src="assets/js/new.js" type="text/javascript"></script> 