<style>
    .alertSpan {
        display: none;
        color: red;
        position: absolute;
        font-size: 10px;
        padding: 0px 0px 0px 4px;
    }

    #float_only {
        display: none;
    }
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Redeem Points</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-coupons">
                        <a href="#">Redeem</a>
                    </li>
                    <li class="active">
                        <strong>Redeem Points</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Add Redeem Points Barrier Form</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <form id="redeemForm">
                        <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12">

                            <div class="form-group">
                                <label class="form-label" for="redeem_amounts">Redeem Amount</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_only" id="redeem_amounts" required>
                                    <span class="alertSpan" id="alert_for_redeem_amounts">Enter Redeem Amount</span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="no_of_redeem_points">No Of Redeem Points</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_only" id="no_of_redeem_points">
                                    <span class="alertSpan" id="alert_for_no_of_redeem_points">Number Of Redeem Points</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="redeem_activation_day">Redeem Activation After How Many Days</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" value="" class="form-control num_only" id="redeem_activation_day" required>
                                    <span class="alertSpan" id="alert_for_redeem_activation_day">Redeem Activation After How Many Days</span>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="coupon_activation_date">Activation Date</label>
                                <span class="desc">e.g. "2019-07-01"</span>
                                <div class="controls">
                                    <input id="coupon_activation_date" type="text"  data-format="yyyy-mm-dd" class="form-control datepicker"  value="" required>
                                    <span class="alertSpan" id="alert_for_coupon_activation_date">Set Activation Date</span>

                                </div>

                            </div>


                             <div class="form-group">
                                <label class="form-label" for="coupon_expire">Expiry Date</label>
                                <span class="desc">e.g. "2020-05-01`"</span>
                                <div class="controls">
                                    <input type="text" id="coupon_expire" data-format="yyyy-mm-dd" class="form-control datepicker"  required>
                                    <span class="alertSpan" id="alert_for_coupon_expire">Set Expiry Date</span>

                                </div>
                            </div>  
                            <div class="form-group">
                                <label class="form-label" for="redeemTerms">Terms</label>
                                <span class="desc">e.g. "Enter only 100 character of text terms here"</span>
                                <div class="controls">
                                    <textarea class="form-control autogrow oneSpace" cols="5" id="redeemTerms" style="resize:vertical" maxlength="100" required></textarea>
                                    <span class="alertSpan" id="alert_for_redeemTerms">Enter Redeem Points Terms</span>

                                </div>
                            </div>
                             
                        </div>

                            <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                                <div class="text-left">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                               
                            </div>
                    </form>
                </div>


            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
   
</script>
<script src="assets/js/new.js" type="text/javascript"></script>