<style>
    .alertSpan {
        display: none;
        color: red;
        position: absolute;
        font-size: 10px;
        padding: 0px 0px 0px 4px;
    }

    #float_only {
        display: none;
    }
    .actionIcon{
        margin: 1% 10%;
        cursor: pointer;
    }
</style>
<section class="wrapper main-wrapper">

    <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <h1 class="title">Redeem Points</h1>
            </div>

            <div class="pull-right hidden-xs">
                <ol class="breadcrumb">
                    <li>
                        <a href="index-ecommerce.html"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li id="eco-coupons">
                        <a href="#">Redeem</a>
                    </li>
                    <li class="active">
                        <strong>View Redeem Points</strong>
                    </li>
                </ol>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Update/View Redeem Points</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle fa fa-chevron-down"></i>
                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                    <i class="box_close fa fa-times"></i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12" id="appendRedeemTable">
    
    
                        <!-- <table id="example-1" class="table table-striped dt-responsive display" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                    <th>Active From</th>
                                    <th>Expiring On</th>
                                    <th>Amount</th>
                                    <th>Percent</th>
                                    <th>Min Cart Amt</th>
                                    <th>Max Discount</th>
                                    <th>Usage Times</th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Type</th>
                                    <th>Code</th>
                                    <th>Status</th>
                                    <th>Active From</th>
                                    <th>Expiring On</th>
                                    <th>Amount</th>
                                    <th>Percent</th>
                                    <th>Min Cart Amt</th>
                                    <th>Max Discount</th>
                                    <th>Usage Times</th>
                                </tr>
                            </tfoot>

                            <tbody id="appendAllCouponsForAdmin">
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>2011/07/25</td>
                                    <td>$170,750</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>2009/01/12</td>
                                    <td>$86,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2012/03/29</td>
                                    <td>$433,060</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>2008/11/28</td>
                                    <td>$162,700</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2012/12/02</td>
                                    <td>$372,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>2012/08/06</td>
                                    <td>$137,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>2010/10/14</td>
                                    <td>$327,900</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>39</td>
                                    <td>2009/09/15</td>
                                    <td>$205,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Sonya Frost</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>23</td>
                                    <td>2008/12/13</td>
                                    <td>$103,600</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Jena Gaines</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>30</td>
                                    <td>2008/12/19</td>
                                    <td>$90,560</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Quinn Flynn</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>2013/03/03</td>
                                    <td>$342,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Charde Marshall</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>36</td>
                                    <td>2008/10/16</td>
                                    <td>$470,600</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Haley Kennedy</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>43</td>
                                    <td>2012/12/18</td>
                                    <td>$313,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Tatyana Fitzpatrick</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>19</td>
                                    <td>2010/03/17</td>
                                    <td>$385,750</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Michael Silva</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>66</td>
                                    <td>2012/11/27</td>
                                    <td>$198,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Paul Byrd</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>64</td>
                                    <td>2010/06/09</td>
                                    <td>$725,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Gloria Little</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>59</td>
                                    <td>2009/04/10</td>
                                    <td>$237,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Bradley Greer</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>41</td>
                                    <td>2012/10/13</td>
                                    <td>$132,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Dai Rios</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>35</td>
                                    <td>2012/09/26</td>
                                    <td>$217,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Jenette Caldwell</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>30</td>
                                    <td>2011/09/03</td>
                                    <td>$345,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Yuri Berry</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>40</td>
                                    <td>2009/06/25</td>
                                    <td>$675,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Caesar Vance</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>21</td>
                                    <td>2011/12/12</td>
                                    <td>$106,450</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Doris Wilder</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Sidney</td>
                                    <td>23</td>
                                    <td>2010/09/20</td>
                                    <td>$85,600</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Angelica Ramos</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>47</td>
                                    <td>2009/10/09</td>
                                    <td>$1,200,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Gavin Joyce</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>42</td>
                                    <td>2010/12/22</td>
                                    <td>$92,575</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Jennifer Chang</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Singapore</td>
                                    <td>28</td>
                                    <td>2010/11/14</td>
                                    <td>$357,650</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Brenden Wagner</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>28</td>
                                    <td>2011/06/07</td>
                                    <td>$206,850</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Fiona Green</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>48</td>
                                    <td>2010/03/11</td>
                                    <td>$850,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Shou Itou</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Tokyo</td>
                                    <td>20</td>
                                    <td>2011/08/14</td>
                                    <td>$163,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Michelle House</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Sidney</td>
                                    <td>37</td>
                                    <td>2011/06/02</td>
                                    <td>$95,400</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Suki Burks</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>53</td>
                                    <td>2009/10/22</td>
                                    <td>$114,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Prescott Bartlett</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>27</td>
                                    <td>2011/05/07</td>
                                    <td>$145,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Gavin Cortez</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>22</td>
                                    <td>2008/10/26</td>
                                    <td>$235,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Martena Mccray</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>46</td>
                                    <td>2011/03/09</td>
                                    <td>$324,050</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Unity Butler</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>47</td>
                                    <td>2009/12/09</td>
                                    <td>$85,675</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Howard Hatfield</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>51</td>
                                    <td>2008/12/16</td>
                                    <td>$164,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Hope Fuentes</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>41</td>
                                    <td>2010/02/12</td>
                                    <td>$109,850</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Vivian Harrell</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>62</td>
                                    <td>2009/02/14</td>
                                    <td>$452,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>


                                </tr>
                                <tr>
                                    <td>Timothy Mooney</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>37</td>
                                    <td>2008/12/11</td>
                                    <td>$136,200</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Jackson Bradshaw</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>65</td>
                                    <td>2008/09/26</td>
                                    <td>$645,750</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Olivia Liang</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Singapore</td>
                                    <td>64</td>
                                    <td>2011/02/03</td>
                                    <td>$234,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Bruno Nash</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>38</td>
                                    <td>2011/05/03</td>
                                    <td>$163,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Sakura Yamamoto</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Tokyo</td>
                                    <td>37</td>
                                    <td>2009/08/19</td>
                                    <td>$139,575</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Thor Walton</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>2013/08/11</td>
                                    <td>$98,540</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Finn Camacho</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>47</td>
                                    <td>2009/07/07</td>
                                    <td>$87,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Serge Baldwin</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Singapore</td>
                                    <td>64</td>
                                    <td>2012/04/09</td>
                                    <td>$138,575</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Zenaida Frank</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>63</td>
                                    <td>2010/01/04</td>
                                    <td>$125,250</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Zorita Serrano</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>56</td>
                                    <td>2012/06/01</td>
                                    <td>$115,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Jennifer Acosta</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>43</td>
                                    <td>2013/02/01</td>
                                    <td>$75,650</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Cara Stevens</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>46</td>
                                    <td>2011/12/06</td>
                                    <td>$145,600</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Hermione Butler</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>47</td>
                                    <td>2011/03/21</td>
                                    <td>$356,250</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Lael Greer</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>London</td>
                                    <td>21</td>
                                    <td>2009/02/27</td>
                                    <td>$103,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Jonas Alexander</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>San Francisco</td>
                                    <td>30</td>
                                    <td>2010/07/14</td>
                                    <td>$86,500</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Shad Decker</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Edinburgh</td>
                                    <td>51</td>
                                    <td>2008/11/13</td>
                                    <td>$183,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Michael Bruce</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>Singapore</td>
                                    <td>29</td>
                                    <td>2011/06/27</td>
                                    <td>$183,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                                <tr>
                                    <td>Donna Snider</td>
                                    <td><img src="data/amruthaLogo.png" height=50px width=50px></td>
                                    <td>New York</td>
                                    <td>27</td>
                                    <td>2011/01/25</td>
                                    <td>$112,000</td>
                                    <td><span class="approve tr_btn">Approve</span><span class="reject tr_btn">Reject</span></td>

                                </tr>
                            </tbody>
                        </table>


 -->

                    </div>
                </div>


            </div>
        </section>
    </div>



</section>
<script type="text/javascript">
    
    $.ajax({
        url:"https://patashalafinder.in/admin_amrutha/get_redeem_point_barrier",
        type:"POST",
        data:{
            admin_uuid:localStorage.getItem('admin_uuid')
        },
        success:function(result){
            // console.log(result.data);
            $("#appendRedeemTable").empty()
                    $("#appendRedeemTable").append(`
                    <table id="example-1" class="table table-striped dt-responsive display" cellspacing="0" width="100%" style="font-size:12px">
                    <thead>
                                    <tr>
                                        <th class="sorting_disabled">No</th>
                                        <th>Redeem Points</th>
                                        <th>Redeem Amount</th>
                                        <th>Added On</th>
                                        <th>Active On</th>
                                        <th>Expiring On</th>
                                        <th>Updated On</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
    
                                <tfoot>
                                    <tr>
                                        <th class="sorting_disabled">No</th>
                                        <th>Redeem Points</th>
                                        <th>Redeem Amount</th>
                                        <th>Added On</th>
                                        <th>Active On</th>
                                        <th>Expiring On</th>
                                        <th>Updated On</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
    
                                <tbody id="appendAllRedeemForAdmin">
                                </tbody>
                        </table>
                    `);
            let pointsObj = result.data;
            for(let key in pointsObj){
                let eachObj = pointsObj[key];
              
                $("#appendAllRedeemForAdmin").append(`
                            <tr id="`+eachObj.redeem_id+`">
                                        <td>`+key+`</td>
                                        <td>`+eachObj.no_of_redeem_points+`</td>
                                        <td>`+eachObj.redeem_amount+`</td>
                                        <td>`+eachObj.added_date.split("T")[0]+`</td>
                                        <td>`+eachObj.activate_date.split("T")[0]+`</td>
                                        <td>`+eachObj.expire_date.split("T")[0]+`</td>
                                        <td>`+eachObj.updated_date+`</td>
                                        <td>`+eachObj.redeem_status+`</td>
                                        <td><i class="fa fa-edit editRedeem actionIcon" title="Edit"></i><i class="fa fa-trash deleteRedeem actionIcon" title="Delete"></i></td>
                                    </tr>
                                    
                            `);
            }
        },
        error:function(err){
            console.log(err.responseText);
        }
    })
</script>
<script src="assets/js/new.js" type="text/javascript"></script>